.full-product
  +adaptive-value('padding-top', 40, 30, 1)

  &__nav
    color: $gray
    display: flex
    +scroll-hide
    a
      white-space: nowrap
  &__content
    display: flex
    align-items: center
    +adaptive-value('gap', 190, 15, 1)
    padding-bottom: 40px
    +sm-block
      flex-direction: column
      gap: 20px
  &__descr-wrapper
    max-width: 600px
    +adaptive-value('margin-top', 60, 25, 1)
    +sm-block
      order: 2
      display: flex
      flex-direction: column
  &__date
    display: flex
    align-items: center
    gap: 20px
    +sm-block
      justify-content: space-between
  &__stock
    +adaptive-value('font-size', 25, 18, 1)
    font-family: $main-font-medium
    color: #2d2f32
    position: relative
    padding-left: 6px
    &:before
      content: ''
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
      +adaptive-value('width', 80, 63, 1)
      +adaptive-value('height', 41, 33, 1)
      background: url('~@/assets/img/icons/discount.svg') center center/contain no-repeat
      z-index: -1
  &__time
    font-size: 18px
    margin-left: 20px
    +sm-block
      display: none
  &__time-mobile
    font-size: 18px
    color: $gray
    display: none
    +sm-block
      display: block
  &__title
    +adaptive-value('font-size', 34, 18, 1)
    font-family: $main-font-bold
    +adaptive-value('margin-top', 40, 20, 1)
  &__title-wrapper
    +sm-block
      order: 2
  &__descr
    +adaptive-value('font-size', 18, 16, 1)
    margin-top: 25px
    +sm-block
      margin-top: 20px
  &__prices
    margin-top: 25px
    +sm-block
      margin-top: 30px
  &__price-old
    color: $gray
    text-decoration: line-through
    +adaptive-value('font-size', 25, 18, 1)
  &__price-new
    +adaptive-value('font-size', 30, 24, 1)
    font-family: $main-font-bold
    color: $main-color
  &__img
    min-width: 210px
    +sm-block
      order: 1
      img
        margin: 0 auto
    +xs-block
      width: 80%
      margin: 0 auto
