.btn
	background-color: $main-color
	border-radius: 15px
	color: #fff
	padding: 12px
	width: 100%

	&-gray
		color: #2d2f32
		+adaptive-value('font-size', 19, 16, 1)
		// padding: 15px 23px
		+adaptive-value('padding-top', 15, 10, 1)
		+adaptive-value('padding-bottom', 15, 10, 1)
		+adaptive-value('padding-left', 19, 15, 1)
		+adaptive-value('padding-right', 19, 15, 1)
		border-radius: 15px
		background-color: #ECECEC
		font-family: $main-font-medium
		+hover-link
		white-space: nowrap

.map-search-btn
	width: 18px
	height: 16px
	border-radius: 20px
	position: absolute
	top: 50%
	transform: translateY(-50%)
	left: 20px
	background-image: url($img+'icons/search-pink.svg')
	background-repeat: no-repeat
	background-position: center center
	background-size: contain
	+xs-block
		left: 10px

// MAP filter
.map-filter-btn
	+adaptive-value('min-width', 50, 45, 1)
	+adaptive-value('min-height', 50, 45, 1)
	max-width: 50px
	max-width: 50px
	background-color: $main-color
	border-radius: 15px
	background-image: url($img+'icons/filter.svg')
	background-repeat: no-repeat
	background-position: center center
	+md-block
		background-color: #F9F9F9
		background-image: url($img+'icons/filter-white.svg')

.btn-show-cart
	margin-top: 50px

.btn-filter-apply,
.btn-filter-reset
	width: 100%
	font-size: 16px
	font-family: $main-font-medium
	text-align: center
	height: 40px
	display: flex
	justify-content: center
	align-items: center
	border-radius: 10px

.btn-filter-apply
	color: #fff
	background-color: $main-color

.btn-filter-reset
	color: $main-color
	background-color: #fff
	border: 1px solid #F21066
	margin-top: 10px

.btn-back
	position: relative
	padding-left: 40px
	font-size: 18px
	font-family: $main-font-medium
	&:before
		content: ''
		position: absolute
		top: 50%
		transform: translateY(-40%) rotate(180deg)
		left: 0
		width: 7px
		height: 17px
		background: url($img+'icons/arrow.svg') center center/contain no-repeat

// CATALOG FILTER Buttons
.catalog-filter-show
	background: #ECECEC
	+sm-block
		color: #fff
		background-color: $main-color

.catalog-filter-more
	display: none
	+sm-block
		display: block

.catalog-filter-reset
	display: none
	+sm-block
		display: block
		background: #ECECEC
		color: #2d2f32

.catalog-filter-more
	color: #fff
	background-color: $main-color


.catalog-filter-show,
.catalog-filter-more,
.catalog-filter-reset
	width: 100%
	font-family: $main-font-medium
	text-align: center
	height: 50px
	border-radius: 15px

// PAGE CATALOG
.page-catalog-filter
	display: none
	+sm-block
		display: flex
		align-items: center
		height: 35px
		border-radius: 10px
		background-color: #f7f7f7
		font-size: 14px
		color: #2d2f32
		padding-left: 14px
		padding-right: 38px
		position: relative
		margin-top: 20px
		&:after
			content: ''
			position: absolute
			top: 50%
			transform: translateY(-50%)
			right: 15px
			width: 15px
			height: 10px
			background: url('~@/assets/img/icons/filter-gray.svg') center center/contain no-repeat

// PAGE STOCKS
.page-stocks-more
	+button-main

// STOCKS PRODUCT PAGE
.stocks-product-more
	+button-gray
	+hover-link

// NEWS BUTTON
.news__sorting-btn
	color: $main-color
	+adaptive-value('font-size', 20, 12, 1)
	position: relative
	&:before
		content: ''
		position: absolute
		top: 50%
		transform: translateY(-50%)
		left: -30px
		background: url('~@/assets/img/icons/filter-white.svg') center center/contain no-repeat
		width: 18px
		height: 12px
		+sm-block
			left: auto
			right: 15px
			width: 15px
			height: 10px
	+sm-block
		color: $main-color
		background-color: #F7F7F7
		border-radius: 10px
		height: 35px
		padding-left: 15px
		padding-right: 40px
		margin-top: 20px
	&.is-active
		&:after
			content: ''
			width: 10px
			height: 10px
			border-radius: 50%
			background-color: #FFCC01
			position: absolute
			top: 4px
			right: -4px
			+sm-block
				display: none

// FULL PRODUCT PAGE
// .full-product-link