body, button, input
  color: #2D2F32
  font-family: $main-font
  // font-size: 16px
  line-height: 1.3

html
	&::-webkit-scrollbar-thumb
		background: $main-color
	::-webkit-scrollbar-thumb
		background: $main-color
		border-radius: 10px
	::-webkit-scrollbar
		height: 4px
		width: 14px

.is-fixed
	overflow: hidden
	position: fixed

.map-card__container,
.address-card,
.address-filters
	&::-webkit-scrollbar-thumb
		background: #ECECEC
	::-webkit-scrollbar-thumb
		background: #ECECEC
		border-radius: 10px
	::-webkit-scrollbar
		height: 4px
		width: 7px

button
  cursor: pointer

time
	display: block

.page
	overflow-x: hidden

.container
	+wrapper()

.text
  +adaptive-value('font-size', 18, 14, 1)

.title
	+adaptive-value('font-size', 34, 20, 1)
	font-family: $main-font-medium

.big-title
	+adaptive-value('font-size', 48, 24, 1)
	font-family: $main-font-black

// COLORS
.color-green
	color: #2CA836

.color-orange
	color: #FE8917

.catalog-stocks-link
	font-family: $main-font-medium

.stocks-link
	position: relative
	font-family: $main-font-medium
	// border-right: 1px solid #ccc
	&:after
		content: ''
		position: absolute
		top: 50%
		right: -15px
		transform: translateY(-50%)
		height: 30px
		width: 1px
		background-color: #ccc

.logo-img
	+xs-block
		display: none

.logo-img-mobile
	display: none
	min-width: 43px
	height: 25px
	+xs-block
		display: block


// SOCIAL ICONS
.fb
	display: block
	background: url($img+'icons/fb.png') center center/contain no-repeat
.insta
	display: block
	background: url($img+'icons/insta.png') center center/contain no-repeat
.twitter
	display: block
	background: url($img+'icons/twitter.png') center center/contain no-repeat
.tiktok
	display: block
	background: url($img+'icons/tiktok.png') center center/contain no-repeat
.telegram
	display: block
	background: url($img+'icons/telegram.png') center center/contain no-repeat
.vk
	display: block
	background: url($img+'icons/vk.png') center center/contain no-repeat
.ok
	display: block
	background: url($img+'icons/ok.png') center center/contain no-repeat
.whatsapp
	display: block
	background: url($img+'icons/whatsapp.png') center center/contain no-repeat

// CATEGORY ICONS
.coffee-category
	&:before
		background: url($img+'icons/coffee.svg') center center/contain no-repeat
.meat-category
	&:before
		background: url($img+'icons/meat.svg') center center/contain no-repeat
.fish-category
	&:before
		background: url($img+'icons/fish.svg') center center/contain no-repeat
.juice-category
	&:before
		background: url($img+'icons/juice.svg') center center/contain no-repeat
.bakery-category
	&:before
		background: url($img+'icons/bakery.svg') center center/contain no-repeat

.arrow-up
	display: block
	width: 50px
	height: 50px
	background: url($img+'icons/arrow-up.svg') center center/contain no-repeat

	position: fixed
	right: 50px
	top: 50%
	z-index: 3
	+to(1399px)
		display: none