//-------------------- Montserrat -------------------->
@font-face
	font-family: 'CeraPro Light'
	src: url('../fonts/CeraPro/CeraPro-Light.woff2')
	font-weight: normal
	font-style: normal
	font-display: swap

@font-face
	font-family: 'CeraPro Regular'
	src: url('../fonts/CeraPro/CeraPro-Regular.woff2')
	font-weight: normal
	font-style: normal
	font-display: swap

@font-face
	font-family: 'CeraPro Medium'
	src: url('../fonts/CeraPro/CeraPro-Medium.woff2')
	font-weight: normal
	font-style: normal
	font-display: swap

@font-face
	font-family: 'CeraPro Bold'
	src: url('../fonts/CeraPro/CeraPro-Bold.woff2')
	font-weight: bold
	font-style: normal
	font-display: swap

@font-face
	font-family: 'CeraPro Black'
	src: url('../fonts/CeraPro/CeraPro-Black.woff2')
	font-weight: bold
	font-style: normal
	font-display: swap

// Ubuntu
@font-face
	font-family: 'Ubuntu Light'
	src: url('../fonts/Ubuntu-Light.woff2')
	font-style: normal
	font-display: swap
