
//-------------------- Адаптивное свойство -------------------->
$maxWidth: 1240
$maxWidthContainer: 1240

=adaptive-value($property, $startSize, $minSize, $type)
	$addSize: $startSize - $minSize
	@if $type == 1
		// Только если меньше контейнера
		#{$property}: $startSize + px
		@media (max-width: #{$maxWidthContainer + px})
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}))
	@else if $type == 2
		// Только если больше контейнера
		#{$property}: $startSize + px
		@media (min-width: #{$maxWidthContainer + px})
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}))
	@else
		// Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}))


// Hover link
=hover-link
	transition: .2s color
	&:hover
		color: $main-color

=button-gray
	text-align: center
	height: 50px
	font-family: $main-font-medium
	background-color: #ECECEC
	border-radius: 15px
	width: 100%

=button-main
	color: #fff
	text-align: center
	height: 50px
	font-family: $main-font-medium
	background-color: $main-color
	border-radius: 15px
	width: 100%

=checkmark-blocks
	display: block
	font-size: 16px
	position: relative
	cursor: pointer
	cursor: pointer
	margin: 12px 0

	input[type="checkbox"]:checked + label::before
		content: '\2714'
		color: $main-color
		border-color: $main-color

	input
		-moz-appearance: none
		appearance: none
		outline: 0
		cursor: pointer

	input[type="checkbox"]
		display: none

	label
		padding-left: 40px
		position: relative
		cursor: pointer

	input[type="checkbox"] + label::before
		position: absolute
		content: ''
		top: 0
		left: 0
		display: inline-block
		background-color: white
		border: 1px solid #C4C4C4
		border-radius: 5px
		height: 20px
		width: 20px
		text-align: center
		overflow: hidden
		margin: 0 5px -2px 0


// SCROLL HIDE
=scroll-hide
	overflow: auto
	&::-webkit-scrollbar-thumb
		background: transparent
	&::-webkit-scrollbar-thumb
		background: transparent