.news-full
  +adaptive-value('padding-top', 50, 30, 1)
  +adaptive-value('padding-bottom', 70, 40, 1)
  border-bottom: 2px solid #ececec

  &__nav
    color: $gray
    display: flex
    font-size: 14px
    +sm-block
      +scroll-hide
    a
      white-space: nowrap

  .header-block
    margin-top: 30px

  &__content
    +adaptive-value('margin-top', 40, 20, 1)
    display: flex
    justify-content: space-between
    gap: 40px
    +sm-block
      flex-direction: column

  &__left
    max-width: 780px

  &__title
    +adaptive-value('font-size', 24, 18, 1)
    color: #2d2f32
    font-family: $main-font-bold
    +adaptive-value('margin-top', 30, 15, 1)

  &__links
    display: flex
    align-items: center
    justify-content: space-between
    +xs-block
      flex-direction: column
      align-items: flex-start
      gap: 20px
    a
      display: block
      width: 20px
      height: 20px

  &__date
    color: $gray
    +adaptive-value('font-size', 20, 16, 1)
    font-family: $main-font-medium

  &__time
    +adaptive-value('font-size', 20, 16, 1)
    color: $gray
    font-family: $main-font-medium
    margin-top: 15px

  &__social-links
    display: flex
    align-items: center
    gap: 20px

  &__article-img
    margin-top: 30px

  &__text
    +adaptive-value('margin-top', 30, 15, 1)
    +adaptive-value('font-size', 20, 16, 1)

  &__right
    min-width: 240px

  &__read-more
    font-family: $main-font-bold
    +adaptive-value('font-size', 24, 18, 1)

  &__items
    max-width: 290px
    margin-top: 25px
    +sm-block
      max-width: none
      display: flex
      flex-wrap: wrap
      row-gap: 40px

  &__item
    margin-top: 40px
    &:first-of-type
      margin-top: 0
    +sm-block
      width: 50%
      margin: 0
      padding: 0 10px
    +xs-block
      width: 100%
      padding: 0
      img
        width: 100%

  &__img

  &__time
    color: $gray
    font-size: 14px
    font-family: $main-font-medium

  &__subtitle
    font-family: $main-font-medium
    font-size: 16px
    margin-top: 15px
