.footer
	padding: 40px 0

	// Footer Logo
	&__logo
		img
			+adaptive-value('width', 223, 148, 1)
			+adaptive-value('height', 66 , 43, 1)

	// Footer Menu
	&__menu
		display: flex
		justify-content: space-between
		// gap: 130px
		// +adaptive-value('gap', 100, 45, 1)
		margin-top: 35px
		+to(1239px)
			flex-direction: column

	// Footer Left
	&__left
		width: 640px
		display: flex
		justify-content: space-between
		+to(1239px)
			width: auto
			justify-content: flex-start
			padding-bottom: 30px
			gap: 80px
		+to(620px)
			flex-direction: column
			gap: 10px

	// Footer Info
	&__info

// Footer Item
.footer-item
	&__title
		+adaptive-value('font-size', 20, 18, 1)
		font-family: $main-font-medium
		color: $gray
		+to(620px)
			position: relative
			cursor: pointer
			&:after
				content: ''
				position: absolute
				top: 50%
				right: 0
				transform: translateY(-50%)
				width: 16px
				height: 7px
				background: url($img+'icons/arrow-gray.svg') center center/contain no-repeat

	// Footer Item List
	&__list
		margin-top: 10px
		transition: .3s all
		&.is-active
			max-height: 500px
		+to(620px)
			max-height: 0
			overflow: hidden

	// Footer Item Link
	&__link
		display: block
		padding: 7px 0
		max-width: 210px
		transition: .3s color
		&:hover
			color: $main-color

// Footer Info
.footer-info
	width: 37%
	+to(1239px)
		border-top: 1px solid #E8E8E8
		width: auto
		padding-top: 25px

	// Footer Info Support
	&__support
		font-size: 18px
		font-family: $main-font-medium
		color: #a3a3a3

	// Footer Info Phone
	&__phone
		display: flex
		align-items: center
		font-size: 18px
		margin-top: 15px
		a
			padding-right: 7px
			border-right: 1px solid #bbb
		span
			padding-left: 7px

	// Footer Info Links
	&__links
		display: flex
		align-items: center
		gap: 35px
		+adaptive-value('gap', 35, 20, 1)
		margin-top: 20px
		a
			display: block
			+adaptive-value('width', 35, 20, 1)
			+adaptive-value('height', 35, 20, 1)

	// Footer Info Social Links
	&__social-links
		font-size: 18px
		font-family: $main-font-medium
		color: #a3a3a3
		margin-top: 30px

// Footer Bottom
.footer-bottom
	background-color: #ececec
	padding: 17px 0
	margin-bottom: 20px
	color: #999
	+adaptive-value('font-size', 18, 16, 1)
	+xs-block
		padding: 10px 0