.header-block
	display: flex
	align-items: center
	justify-content: space-between
	+sm-block
		align-items: flex-end
	&__link
		color: $main-color
		+adaptive-value('font-size', 18, 12, 1)
		+adaptive-value('padding-right', 18, 7, 1)
		position: relative
		+sm-block
			padding-bottom: 3px
		&:after
			content: ''
			position: absolute
			top: 50%
			right: 0
			transform: translateY(-45%)
			+adaptive-value('width', 7, 4, 1)
			+adaptive-value('height', 16, 9, 1)
			background: url($img+'icons/arrow.svg') center center/contain no-repeat
			+xs-block
				// transform: translateY(-35%)