// HEADER
.header

.header-wrapper
	box-shadow: 0px -7px 28px rgba(0, 0, 0, 0.15)
	padding-top: 40px
	+lg-block
		padding-bottom: 20px
	+xs-block
		padding-top: 25px
		padding-bottom: 12px

// HEADER TOP
.header-top
	display: flex
	align-items: center
	justify-content: space-between
	position: relative
	gap: 30px
	+xs-block
		gap: 15px

	// Header-Top Left
	&__left
		display: flex
		align-items: center
		+to(1400px)
			padding-left: 45px

	// Header-Top Button
	&__btn
		position: absolute
		top: 8px
		left: -50px
		width: 30px
		height: 16px
		background: url($img+'icons/menu-btn.svg') center center/contain no-repeat
		+to(1400px)
			left: 0
		+to(1023px)
			top: auto
			bottom: 16px
		+xs-block
			top: 50%
			transform: translateY(-50%)
			bottom: auto

	// Header-Top Magnum Link
	&__magnum
		color: $main-color
		font-family: $main-font-medium
		margin-left: 55px
		margin-bottom: 10px
		position: relative
		white-space: nowrap
		+to(1400px)
			display: none
		&:before,
		&:after
			content: ''
			position: absolute
			top: 50%
			transform: translateY(-40%)
		&:before
			width: 17px
			height: 12px
			left: -27px
			background: url($img+'icons/bookmark.svg') center center/contain no-repeat
		&:after
			width: 12px
			height: 12px
			right: -22px
			background: url($img+'icons/link.svg') center center/contain no-repeat

	// Header-Top Logo
	&__logo

	// Header-Top Search
	&__search
		width: 540px
		height: 50px
		+adaptive-value('height', 50, 34, 1)
		background: #F9F9F9
		border-radius: 15px
		padding-left: 50px
		position: relative
		+to(1400px)
			width: 460px
		+to(1023px)
			width: 100%
		+xs-block
			padding-left: 35px
		&:before
			content: ''
			position: absolute
			width: 16px
			height: 16px
			top: 50%
			left: 20px
			transform: translateY(-50%)
			background: url($img+'icons/search.svg') center center/cover no-repeat
			+xs-block
				width: 14px
				height: 14px
				left: 12px
		form
			height: 100%
			display: flex
			align-items: center
			z-index: 1
		input
			color: #999
			background-color: transparent
			+adaptive-value('font-size', 18, 14, 1)
			width: 100%
			height: 100%
			outline: none

	// Header-Top Search Button
	&__search-btn
		color: $gray
		min-width: 150px
		height: 100%
		white-space: nowrap
		padding-left: 20px
		display: flex
		align-items: center
		position: relative
		+xs-block
			display: none
		&:before
			content: ''
			position: absolute
			top: 50%
			left: 0
			transform: translateY(-50%)
			width: 1px
			height: 70%
			background-color: #ececec
		a
			display: block

		.search-link-selected

	// Header-Top Search List
	&__search-list
		position: absolute
		width: 100%
		top: 50px
		left: 0
		max-height: 0
		overflow: hidden
		background-color: #fff
		box-sizing: border-box
		border-radius: 0px 0px 15px 15px
		white-space: nowrap
		padding-bottom: 10px
		&.is-active
			border: 1px solid #ECECEC
			border-top: none
			transition: max-height 2s ease-in-out
			max-height: 200px
			overflow: visible
		a
			display: block
			padding: 7px 20px

	// Header-Top Settings
	&__settings
		display: flex
		align-items: center
		height: 50px
		min-width: 160px
		font-size: 18px
		font-family: $main-font-medium
		color: $main-color
		border: 1px solid #F3F3F3;
		box-sizing: border-box
		box-shadow: 3px 4px 12px -6px rgba(84, 84, 84, 0.15)
		border-radius: 15px
		+to(1023px)
			display: none

	// Header-Top Address
	&__address
		position: relative
		padding-left: 45px
		padding-right: 15px
		border-right: 1px solid #ECECEC
		cursor: pointer
		&:before
			content: ''
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: 20px
			width: 15px
			height: 20px
			background: url($img+'icons/coordinates.svg') center center/contain no-repeat

	// Header-Top Language
	&__language
		cursor: pointer
		padding-left: 17px

// Header-Nav
.header-nav
	display: flex
	align-items: center
	// margin-top: 30px

	padding: 20px 0
	&.is-fixed
		position: fixed
		width: 100%
		z-index: 98
		background-color: #fff
		box-shadow: 0px -7px 28px rgba(0, 0, 0, 0.15)

	+lg-block
		display: none

	// Header-Nav List
	&__list
		width: 100%
		display: flex
		align-items: center
		justify-content: space-between
		gap: 10px
		+to(1300px)
			gap: 7px

	// Header-Nav Item
	&__item
		white-space: nowrap
		margin: 0 15px

	// Header-Nav Link
	&__link
		white-space: nowrap
		+hover-link

	// Header-Nav About
	&__about
		position: absolute
		top: calc(100% + 15px)
		right: 0
		background: #FFFFFF
		border-color: #ECECEC
		border: 1px solid transparent
		border-radius: 15px
		padding: 0 30px
		z-index: 1
		transition: all .3s
		max-height: 0
		overflow: hidden
		a
			display: block
			margin: 12px 0
			+hover-link


.about-company-link
	position: relative
	&:hover
		color: $main-color
		transition: .3s all
		.header-nav__about
			max-height: 400px
			overflow: visible
			color: #000
			border: 1px solid #ECECEC