.discount-catalog,
.products-week
  // padding: 80px 0
  +adaptive-value('padding-top', 50, 20, 1)
  +adaptive-value('padding-bottom', 50, 20, 1)
  &__items
    +row-flex
    row-gap: 15px
    margin-top: 40px
    +xs-block
      margin-top: 0
      gap: 0
  .product-block
    +col
    +size(2.4)
    +size-lg(3)
    +size-md(4)
    +size-xs(12)

.product-block
  background-color: #fff
  border-radius: 15px
  border: 1px solid #ECECEC
  padding: 15px 12px
  display: flex
  flex-direction: column

  +xs-block
    border: none
    border-bottom: 1px solid #ececec
    border-radius: 0
    padding: 25px 0

  &:hover
    box-shadow: 3px 4px 18px -2px rgba(119, 119, 119, 0.15)

  span
    display: block

  &__content
    +xs-block
      display: flex !important
      align-items: center
      gap: 13px
      padding-top: 20px

  &__left
    margin: 20px auto
    +xs-block
      margin: 0

  &__right

  &__header
    display: flex !important
    align-items: center
    justify-content: space-between
    &.without-stock
      justify-content: flex-end

  &__stock
    color: #000
    font-family: $main-font-medium
    +adaptive-value('font-size', 20, 16, 1)
    position: relative
    +adaptive-value('padding-left', 10, 5, 1)
    z-index: 1
    &:before
      content: ''
      position: absolute
      top: 50%
      transform: translateY(-50%)
      left: 0
      +adaptive-value('width', 68, 52, 1)
      +adaptive-value('height', 32, 27, 1)
      background: url($img+'icons/discount.svg') center center/contain no-repeat
      z-index: -1
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%)

  &__date
    color: $gray
    font-size: 16px

  &__img
    height: 145px
    +adaptive-value('width', 145, 93, 1)
    +adaptive-value('height', 145, 93, 1)
    margin: 0 auto
    img
      min-width: 93px
      min-height: 93px
      margin: 0 auto

  &__descr
    min-height: 63px
    +adaptive-value('font-size', 16, 14, 1)
    +xs-block
      min-height: 55px

  &__price-wrapper
    margin-top: 20px

  &__old-price
    color: #bbb
    font-size: 16px
    text-decoration: line-through
    &.is-hidden
      height: 25px
      max-width: 0
      overflow: hidden

  &__price
    font-family: $main-font-bold
    +adaptive-value('font-size', 24, 18, 1)
    color: $main-color

.page-catalog
  &__items
    +row-flex
    row-gap: 15px
    margin-top: 30px
  & .product-block
    +col
    +size(3)
    +size-md(4)
    +size-md2(6)
    +size-sm(4)
    +size-xs(12)
