.private

  &__slider

  &__slide
    color: #fff
    height: 100vh
    position: relative
    +adaptive-value('padding-left', 130, 15, 1)
    +adaptive-value('padding-top', 90, 85, 1)
    z-index: 1
    overflow: hidden
    +sm-block
      padding-right: 15px
      display: flex
      flex-direction: column
      padding-bottom: 70px
    &:after
      content: ''
      position: absolute
      top: 0
      right: 0
      width: 50%
      height: 300%
      z-index: -2
      transform: rotate(17deg) translateY(-50%)
      +sm-block
        width: 100%
        left: 25%
      +xs-block
        left: 0
        width: 100%
    &.bg-purple
      background-color: #AF4A9E
      &:after
        background-color: #943784
    &.bg-yellow
      background-color: #F8D417
      &:after
        background-color: #FCBC0B
    &.bg-brown
      background-color: #712F1A
      &:after
        background-color: #95513A
    &.bg-red
      background-color: #c00013
      &:after
        // content: ''
        // position: absolute
        // top: 0
        // right: 0
        // width: 50%
        // height: 200%
        // z-index: -2
        // transform: rotate(17deg)
        background-color: #af030e

  &__header
    display: flex
    align-items: center
    +sm-block
      flex-direction: column
      align-items: flex-start

  &__logo
    +md-block
      max-width: 140px
      max-height: 80px
    img
      height: 100%

  &__title
    +adaptive-value('font-size', 34, 24, 1)
    font-family: $main-font-bold
    max-width: 340px
    +adaptive-value('margin-left', 63, 30, 1)
    +sm-block
      margin-left: 0
      margin-top: 30px

  &__descr
    +adaptive-value('font-size', 24, 16, 1)
    max-width: 570px
    margin-top: 40px
    +sm-block
      margin-top: auto

  &__img
    position: absolute
    bottom: 0
    right: 0
    height: 75vh
    z-index: -1
    +adaptive-value('padding-left', 150, 0, 1)
    +xs-block
      height: 50vh
      bottom: auto
      top: 60%
      transform: translateY(-50%)
    img
      width: 100%
    // +sm-block
    //   height: 100%

  &__arrows
    display: flex
    position: absolute
    bottom: 65px
    left: 130px
    z-index: 1
    +sm-block
      bottom: auto
      left: auto
      top: 35px
      right: 15px

  &__close-btn
    +adaptive-value('width', 62, 37, 1)
    +adaptive-value('height', 62, 37, 1)
    position: absolute
    top: 70px
    left: 40px
    background: url('~@/assets/img/icons/close-white.svg') center center/contain no-repeat
    z-index: 1
    +sm-block
      top: 35px
      left: 15px

  &__prev-btn
    background: url('~@/assets/img/icons/prev-white.svg') center center/contain no-repeat
    +adaptive-value('width', 62, 37, 1)
    +adaptive-value('width', 62, 37, 1)
    margin-right: 30px
    +sm-block
      margin-right: 20px

  &__next-btn
    background: url('~@/assets/img/icons/next-white-red.svg') center center/contain no-repeat
    +adaptive-value('width', 62, 37, 1)
    +adaptive-value('height', 62, 37, 1)