mixin map()

	+b.SECTION.map
		#map
		//- .card-opened
		.container.card-opened

			//- Map Card
			+b.map-card
				//- Map Nav
				+e.container
					+e.nav
						+e.FORM.search
							+e.INPUT(type="search" placeholder="Введите адрес магазина").search-input
							+b.BUTTON(type="submit").map-search-btn
						+b.BUTTON.map-filter-btn

					//- Map Addresses .is-hidden
					+e.addresses
						+b.map-address
							+e.descr
								+e.delivery-type Express
								+e.name на Макатаева - Тулебаева
								+e.location г.Алматы, мкр-н Жетысу 3, д 1г
							+e.TIME.time 07:00 - 02:00
						+b.map-address
							+e.descr
								+e.delivery-type Express
								+e.name на Макатаева - Тулебаева
								+e.location г.Алматы, мкр-н Жетысу 3, д 1г
							+e.TIME.time 07:00 - 02:00
						+b.map-address
							+e.descr
								+e.delivery-type Express
								+e.name на Макатаева - Тулебаева
								+e.location г.Алматы, мкр-н Жетысу 3, д 1г
							+e.TIME.time 07:00 - 02:00
						+b.map-address
							+e.descr
								+e.delivery-type Express
								+e.name на Макатаева - Тулебаева
								+e.location г.Алматы, мкр-н Жетысу 3, д 1г
							+e.TIME.time 07:00 - 02:00
						+b.map-address
							+e.descr
								+e.delivery-type Express
								+e.name на Макатаева - Тулебаева
								+e.location г.Алматы, мкр-н Жетысу 3, д 1г
							+e.TIME.time 07:00 - 02:00
						+b.map-address
							+e.descr
								+e.delivery-type Express
								+e.name на Макатаева - Тулебаева
								+e.location г.Алматы, мкр-н Жетысу 3, д 1г
							+e.TIME.time 07:00 - 02:00
						+b.map-address
							+e.descr
								+e.delivery-type Express
								+e.name на Макатаева - Тулебаева
								+e.location г.Алматы, мкр-н Жетысу 3, д 1г
							+e.TIME.time 07:00 - 02:00
						+b.map-address
							+e.descr
								+e.delivery-type Express
								+e.name на Макатаева - Тулебаева
								+e.location г.Алматы, мкр-н Жетысу 3, д 1г
							+e.TIME.time 07:00 - 02:00
						+b.map-address
							+e.descr
								+e.delivery-type Express
								+e.name на Макатаева - Тулебаева
								+e.location г.Алматы, мкр-н Жетысу 3, д 1г
							+e.TIME.time 07:00 - 02:00
						+b.map-address
							+e.descr
								+e.delivery-type Express
								+e.name на Макатаева - Тулебаева
								+e.location г.Алматы, мкр-н Жетысу 3, д 1г
							+e.TIME.time 07:00 - 02:00
						+b.map-address
							+e.descr
								+e.delivery-type Express
								+e.name на Макатаева - Тулебаева
								+e.location г.Алматы, мкр-н Жетысу 3, д 1г
							+e.TIME.time 07:00 - 02:00

				//- Address Card .is-active
				+b.address-card
					button.btn-back Назад
					+e.descr
						+e.delivery-type Express
						+e.name на Макатаева - Тулебаева
						+e.location г.Алматы, мкр-н Жетысу 3, д 1г
						+e.TIME.time
							span Режим работы:
							|07:00 - 02:00
					+b.address-categories
						span.coffee-category Кафетерий
						span.meat-category Мясная лавка
						span.fish-category Рыбная лавка
						span.juice-category Сокомат
						span.bakery-category Пекарня
					button.btn.btn-show-cart Показать на карте

				//- Address FILTERS .is-active
				+b.address-filters.is-active
					button.btn-back Назад
					//- Filter - 1
					+e.filter
						+e.SPAN.filter-title Расширенный ассортимент
						+e.filter-wrapper
							+e.item
								input(type="checkbox")#assortment-1
								label(for="assortment-1").filter-label Мясная лавка
							+e.item
								input(type="checkbox")#assortment-2
								label(for="assortment-2").filter-label Кофе с собой
							+e.item
								input(type="checkbox")#assortment-3
								label(for="assortment-3").filter-label Сокомат
							+e.item
								input(type="checkbox")#assortment-4
								label(for="assortment-4").filter-label Пекарня
							+e.item
								input(type="checkbox")#assortment-5
								label(for="assortment-5").filter-label Рыбная лавка

					//- Filter - 2
					+e.filter
						+e.SPAN.filter-title Сервисы
						+e.filter-wrapper
							+e.item
								input(type="checkbox")#services-1
								label(for="services-1").filter-label Мясная лавка
							+e.item
								input(type="checkbox")#services-2
								label(for="services-2").filter-label Кофе с собой

					//- Filter - 3
					+e.filter
						+e.SPAN.filter-title Формат магазинов
						+e.filter-wrapper
							+e.item
								input(type="checkbox")#format-1
								label(for="format-1").filter-label Все
							+e.item
								input(type="checkbox")#format-2
								label(for="format-2").filter-label Express
							+e.item
								input(type="checkbox")#format-3
								label(for="format-3").filter-label Daily
							+e.item
								input(type="checkbox")#format-4
								label(for="format-4").filter-label Super
							+e.item
								input(type="checkbox")#format-5
								label(for="format-5").filter-label Hyper

					+e.btns
						button.btn-filter-apply Применить
						button.btn-filter-reset Сбросить фильтры

