.map
	position: relative
	min-height: 630px
	max-height: 630px
	+md-block
		margin-top: 90px

	.container
		position: absolute
		width: 100%
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		transition: .3s all

		&.is-active
			background-color: #fff
			height: 100%

		&.card-opened
			+md-block
				padding: 0
				background-color: #fff
				min-height: 720px

		+md-block
			top: -90px
			transform: translate(-50%,0)

.map-card
	max-width: 470px
	min-height: 600px
	max-height: 600px

	background-color: #fff
	border-radius: 20px
	overflow: hidden
	padding: 20px
	+lg-block
		max-width: 500px
		max-height: 600px

	+md-block
		background-color: initial
		padding: 20px 0
		max-width: none

		max-height: none

	&__container
		// display: none

	// MAP NAV
	&__nav
		display: flex
		justify-content: space-between
		align-items: center
		gap: 15px
		+md-block
			padding: 0 30px
		+sm-block
			padding: 0 15px

	// MAP SEARCH
	&__search
		width: 100%
		position: relative
		input
			+adaptive-value('font-size', 18, 14, 1)
			width: 100%
			// padding-left: 60px
			outline-color: $main-color
			+adaptive-value('padding-left', 60, 37, 1)

	// MAP ADDRESSES
	&__addresses
		max-height: 500px
		overflow: auto
		margin-right: -10px
		padding-right: 10px
		margin-top: 20px
		&.is-hidden
			display: none
		&.is-active
			display: block !important
		+lg-block
			max-height: 480px
		+md-block
			display: none
			padding: 0 30px
			min-height: 600px
		+sm-block
			padding: 0 15px
		+xs-block
			display: none
		&::-webkit-scrollbar-thumb
			background: #ECECEC
		::-webkit-scrollbar-thumb
			background: #ECECEC
			border-radius: 10px
		::-webkit-scrollbar
			height: 4px
			width: 5px

	&__search-input
		font-size: 18px
		color: $gray
		background-color: #f9f9f9
		border-radius: 15px
		height: 50px

// MAP ADDRESS
.map-address
	display: flex
	justify-content: space-between
	align-items: flex-end
	border-bottom: 1px solid #ECECEC
	padding: 10px 0
	cursor: pointer
	&:last-of-type
		border-bottom: none

	+xs-block
		flex-direction: column
		align-items: flex-start

	&.is-hidden
		display: none

	&__delivery-type
		color: $main-color
		font-size: 14px
		font-family: $main-font-medium

	&__descr
		max-width: 300px

	&__name
		font-size: 18px
		font-family: $main-font-medium
		margin: 2px 0

	&__location
		color: $gray
		font-size: 14px

	&__time
		font-size: 14px
		color: $gray
		+xs-block
			margin-top: 5px

// ADDRESS CARD
.address-card
	// background-color: #fff
	height: 100%
	padding: 20px
	margin-top: 35px
	display: none

	+md-block
		padding: 20px 30px
		min-height: 600px

	+sm-block
		padding: 20px 15px

	&.is-active
		display: block

	&__descr
		font-size: 18px
		margin-top: 25px

	&__delivery-type
		color: $main-color
		font-weight: bold
		+adaptive-value('font-size', 18, 16, 1)

	&__name
		font-size: 20px
		font-family: $main-font-medium
		margin-top: 7px
		+xs-block
			font-size: 18px

	&__location
		color: $gray
		font-size: 18px
		margin-top: 7px
		+xs-block
			font-size: 16px

	&__time
		display: block
		font-size: 18px
		color: green
		margin-top: 7px
		+xs-block
			font-size: 16px
		span
			color: #000
			margin-right: 5px

// ADDRESS CATEGORIES
.address-categories
	margin-top: 25px
	span
		display: block
		font-size: 16px
		padding: 5px 0
		padding-left: 40px
		position: relative
		&:before
			content: ''
			width: 20px
			height: 20px
			position: absolute
			top: 50%
			left: 0
			transform: translateY(-50%)
			border-radius: 50%

// ADDRESS FILTER
.address-filters
	display: none
	overflow: auto
	max-height: 460px
	margin-top: 45px

	+lg-block
		max-height: 480px

	+md-block
		max-height: 600px
		padding: 0 30px

	+sm-block
		padding: 0 15px
		// max-height: none

	+xs-block
		display: none

	.btn-back
		display: none
		+md-block
			display: block
			margin-bottom: 30px

	&.is-active
		display: block
		&::-webkit-scrollbar-thumb
			background: #ECECEC
		&::-webkit-scrollbar-thumb
			background: #ECECEC
			border-radius: 10px
		&::-webkit-scrollbar
			width: 6px
			height: 4px

	&__filter
		margin-top: 30px
		&:first-of-type
			margin-top: 0

	&__filter-title
		font-weight: bold

	&__filter-wrapper
		display: flex
		flex-wrap: wrap
		margin-top: 20px
		+md-block
			flex-direction: column
		+xs-block
			margin-top: 10px

	&__item
		width: 50%
		display: block
		font-size: 18px
		position: relative
		cursor: pointer
		cursor: pointer
		margin: 12px 0
		+xs-block
			width: auto
			font-size: 16px
			margin: 10px 0
		input
			appearance: none
			outline: 0
			cursor: pointer
		input[type="checkbox"]
			display: none
		label
			padding-left: 40px
			position: relative
			cursor: pointer

		input[type="checkbox"] + label::before
			position: absolute
			content: ''
			top: 0
			left: 0

			display: inline-block
			background-color: white
			border: 1px solid #C4C4C4
			border-radius: 5px

			height: 22px
			width: 22px

			text-align: center
			overflow: hidden
			margin: 0 5px -2px 0

		input[type="checkbox"]:checked + label::before
			// content: '\2713'
			content: '\2714'
			color: $main-color
			border-color: $main-color

	&__btns
		margin-top: 40px

#map
	min-height: 630px
	&.is-hidden
		display: none
