.page-stocks
	+adaptive-value('padding-bottom', 70, 40, 1)
	+adaptive-value('padding-top', 50, 30, 1)
	border-bottom: 1px solid #ececec

	&__nav
		color: $gray
		font-size: 14px

	&__header
		display: flex
		justify-content: space-between
		align-items: center
		position: relative
		margin-top: 30px
		+xs-block
			margin-top: 80px
		.title
			+xs-block
				position: absolute
				left: 0
				top: -55px

	&__tabs
		display: flex
		+adaptive-value('gap', 50, 25, 1)
		+xs-block
			justify-content: space-between
			width: 100%

	&__tab
		+adaptive-value('font-size', 18, 14, 1)
		border-bottom: 4px solid transparent
		+xs-block
			border-bottom: 2px solid transparent
		&.is-active
			border-bottom: 4px solid $main-color
			border-radius: 4px
			+xs-block
				border-bottom: 2px solid $main-color
				border-radius: 2px

	&__items
		flex-wrap: wrap
		display: flex
		row-gap: 30px
		column-gap: 25px
		margin-top: 40px
		+xs-block
			row-gap: 20px

	& .stocks__item
		width: calc(100%/3 - 20px)
		+sm-block
			width: calc(100%/2 - 20px)
		+xs-block
			width: 100%

	.page-stocks-more
		margin-top: 35px
		display: none
		+sm-block
			display: block