.index-hero
	overflow: hidden
	+xs-block
		padding-bottom: 40px

	.container

	.swiper-container
		border-radius: 15px
		+adaptive-value('height', 600, 380, 1)

	// Index-Hero Slider
	&__slider
		position: relative
		margin-top: 20px

	// Index-Hero Slide
	&__slide
		display: flex
		width: 100%
		border-radius: 15px
		overflow: hidden
		position: relative
		+sm-block
			flex-direction: column
			height: auto
			a
				border-radius: 15px
				width: 100%
		img
			height: 100%
			width: 100%
			object-fit: cover
			border-radius: 15px

	// Index-Hero Slide Descr
	&__slide-descr
		background: #00A885
		color: #fff
		font-family: $main-font-black
		width: 50%
		width: 100%

		display: flex
		flex-direction: column
		justify-content: center
		align-items: flex-start
		padding: 85px 0
		+adaptive-value('padding-left', 80, 0, 1)
		+md-block
			padding-left: 23px
			width: 100%
			padding-top: 30px
			padding-bottom: 45px

	// Index-Hero Slide Title
	&__slide-title
		+adaptive-value('font-size', 50, 26, 1)
		line-height: 1.2
		max-width: 400px

	// Index-Hero Slide Subtitle
	&__slide-subtitle
		+adaptive-value('font-size', 40, 19, 1)
		+adaptive-value('margin-top', 30, 20, 1)
		max-width: 250px
		line-height: 1

	// Index-Hero Slide Link
	&__slide-link
		display: inline-block
		font-size: 16px
		font-family: $main-font-medium
		color: $main-color
		background-color: #fff
		border-radius: 10px
		box-shadow: 0px 1px 0px rgba(84, 84, 84, 0.15)
		position: absolute
		left: 5%
		bottom: 15%
		padding: 10px
		// +adaptive-value('margin-top', 70, 40, 1)
		+sm-block
			display: none

	// Index-Hero Slide Img
	&__slide-img
		position: absolute
		right: 0
		bottom: 0
		width: 65%
		height: 100%

		+md-block
			height: 400px

		+sm-block
			height: 350px

		+to(767px)
			width: 100%
			+adaptive-value('height', 600, 220, 1)
			position: static
		img
			height: 100%
			width: 100%
			object-fit: cover

	// Index-Hero Slide Descr
	&__slide-desc

	// Index-Hero Slide Img
	&__slide-img

	// Index-Hero Navigation
	&__navigation

.slider-pagination-wrapper
	color: #fff
	font-size: 18px
	position: absolute
	left: 5%
	bottom: 30px
	z-index: 2
	+xs-block
		bottom: -30px
		left: 0
		width: 100%
		justify-content: space-between
		padding-right: 15px

	display: flex
	align-items: center

.swiper-counts
	margin-left: 25px !important
	+adaptive-value('font-size', 18, 14, 1)
	+xs-block
		color: #c4c4c4

.swiper-pagination
	position: static !important
	display: flex !important
	align-items: center !important

.swiper-pagination-bullet
	width: 15px !important
	height: 15px !important
	background: #fff !important
	margin: 0 11px !important
	opacity: 1 !important
	+sm-block
		width: 10px !important
		height: 10px !important
		margin: 0 7px !important
	+xs-block
		background: #C4C4C4 !important
		width: 5px !important
		height: 5px !important
		margin: 0 3px !important

.swiper-pagination-bullet-active
	width: 23px !important
	height: 23px !important
	background-image: url('~@/assets/img/icons/circle.svg') !important
	background-size: contain !important
	background-repeat: no-repeat !important
	background-position: center center !important
	+sm-block
		width: 15px !important
		height: 15px !important
		background: $main-color !important
	+xs-block
		width: 7px !important
		height: 7px !important

.swiper-button-prev
	transform: rotate(180deg)
	left: -33px !important

.swiper-button-next
	left: 0
	right: -33px !important

.swiper-button-prev,
.swiper-button-next
	width: 60px !important
	height: 60px !important
	cursor: pointer
	background: url('~@/assets/img/icons/arrow-slider.svg') center center/contain no-repeat
	position: absolute
	top: 50%
	+sm-block
		display: none !important
	&:after
		display: none
	+xs-block
		display: none


.index-hero-slider-container
	// +xs-block
	// 	margin-right: -15px