mixin index-hero()

	+b.SECTION.index-hero
		.container
			+e.slider.swiper
				.swiper-wrapper
					+e.slide.swiper-slide
						+e.slide-descr
							+e.slide-title НАУРЫЗ ҚҰТТЫ БОЛСЫН!
							+e.slide-subtitle 50% скидок на фрукты
							+e.A(href="#").slide-link Подробнее
						+e.slide-img
							img(src="img/index-slider/slide-bg.jpg" width="590" height="550" alt="slide")
				+e.navigation
					.swiper-button-prev
					.swiper-button-next
					.swiper-pagination
