.article
  +adaptive-value('padding-top', 40, 25, 1)
  +adaptive-value('padding-bottom', 70, 40, 1)
  border-bottom: 2px solid #ececec
  line-height: 1.5

  h2
    font-family: $main-font-medium
    +adaptive-value('font-size', 24, 18, 1)
    margin-bottom: 10px

  h3
    font-family: $main-font-medium
    +adaptive-value('font-size', 18, 14, 1)

  &__descr
    margin-top: 30px

  &__main
    margin-top: 25px

  &__main-img
    border-radius: 15px
    +adaptive-value('margin-top', 35, 25, 1)

  &__main-list
    margin-top: 25px
    padding-left: 25px
    +sm-block
      padding-left: 15px
    p
      margin-bottom: 25px
    li
      list-style: disc

  &__benefit,
  &__harm
    border-radius: 15px
    border: 2px solid #F50F64
    padding: 10px
    margin: 25px 0

  &__similar
    +adaptive-value('margin-top', 40, 25, 1)

  &__similar-items
    display: flex
    justify-content: space-between
    gap: 20px
    +adaptive-value('margin-top', 40, 25, 1)
    +sm-block
      flex-direction: column

  &__similar-item
    width: calc(100%/3)
    +sm-block
      width: 100%

  &__similar-item-text
    font-family: $main-font-medium
    margin-top: 15px
    span
      font-family: $main-font

  &__similar-img
    +adaptive-value('height', 222, 162, 1)
    width: 100%
    object-fit: cover
    border-radius: 15px
    overflow: hidden

