<template>
  <div class="full-recipe">
    <div class="container">
      <div class="full-recipe__nav">
        <a href="#" class="main-page-link">Главная /  </a>
        <a href="#" class="cooking-with-magnum"> Готовим с Magnum /  </a>
        <a href="#" class="recipes-link"> Рецепты /  </a>
        <a href="" class="full-recipe-link"> Сыпники из творога</a>
      </div>

      <div class="check" v-if="rec">
        <span>Rec id = {{ rec.id }}</span><br>
        <span>Rec name = {{ rec.attributes.title }}</span>
      </div>
      <div class="full-recipe__products">
        <h2 class="full-recipe__products-title title">Товары для рецепта</h2>
        <div class="discount-catalog__items">
          <a class="product-block" href="#">
            <span class="product-block__header"><span class="product-block__stock">-20%</span><span class="product-block__date">до 13.12</span></span>
            <span class="product-block__content">
              <span class="product-block__left">
                <span class="product-block__img"><img src="@/assets/img/recipes/product-1.jpg" alt="image" /></span>
              </span>
              <span class="product-block__right">
                <span class="product-block__descr">Кисломолочный напиток «DANONE» Actimel в ассортименте 100 мл</span>
                <span class="product-block__price-wrapper"><span class="product-block__old-price">590 тг</span><span class="product-block__price">472 тг</span></span>
              </span>
            </span>
          </a>
          <a class="product-block" href="#">
            <span class="product-block__header"><span class="product-block__stock">-37%</span><span class="product-block__date">до 13.12</span></span>
            <span class="product-block__content">
              <span class="product-block__left">
                <span class="product-block__img"><img src="@/assets/img/recipes/product-2.jpg" alt="image" /></span>
              </span>
              <span class="product-block__right">
                <span class="product-block__descr">Кофе «CARTE NOIRE» в ассортименте 95 г</span>
                <span class="product-block__price-wrapper"><span class="product-block__old-price">378 тг</span><span class="product-block__price">274 тг</span></span>
              </span>
            </span>
          </a>
          <a class="product-block" href="#">
            <span class="product-block__header"><span class="product-block__stock">-45%</span><span class="product-block__date">до 13.12</span></span>
            <span class="product-block__content">
              <span class="product-block__left">
                <span class="product-block__img"><img src="@/assets/img/recipes/product-3.jpg" alt="image" /></span>
              </span>
              <span class="product-block__right">
                <span class="product-block__descr">Молоко «Айналайын» 6% 1 л</span><span class="product-block__price-wrapper"><span class="product-block__old-price">564 тг</span><span class="product-block__price">389 тг</span></span>
              </span>
            </span>
          </a>
          <a class="product-block" href="#">
            <span class="product-block__header without-stock"><span class="product-block__date">до 13.12</span></span>
            <span class="product-block__content">
              <span class="product-block__left">
                <span class="product-block__img"><img src="@/assets/img/recipes/product-4.jpg" alt="image" /></span>
              </span>
              <span class="product-block__right">
                <span class="product-block__descr">Колбаса «Папа может» мясная вареная 400 г</span>
                <span class="product-block__price-wrapper"><span class="product-block__old-price is-hidden">3 199 тг</span><span class="product-block__price">2 299 тг</span></span>
              </span>
            </span>
          </a>
          <a class="product-block" href="#">
            <span class="product-block__header without-stock"><span class="product-block__date">до 13.12</span></span>
            <span class="product-block__content">
              <span class="product-block__left">
                <span class="product-block__img"><img src="@/assets/img/recipes/product-5.jpg" alt="image" /></span>
              </span>
              <span class="product-block__right">
                <span class="product-block__descr">Чай «TESS» в ассортименте 20 ПАК</span><span class="product-block__price-wrapper"><span class="product-block__old-price is-hidden">608 тг</span><span class="product-block__price">335 тг</span></span>
              </span>
            </span>
          </a>
        </div>
      </div>

      <div class="full-recipe__socials">
        <div class="full-recipe__socials-title">Поделитесь с друзьями</div>
        <div class="full-recipe__socials-links">
          <a href="#" class="full-recipe__socials-link fb"></a>
          <a href="#" class="full-recipe__socials-link whatsapp"></a>
          <a href="#" class="full-recipe__socials-link telegram"></a>
          <a href="#" class="full-recipe__socials-link vk"></a>
          <a href="#" class="full-recipe__socials-link ok"></a>
          <a href="#" class="full-recipe__socials-link insta"></a>
          <a href="#" class="full-recipe__socials-link tiktok"></a>
        </div>
      </div>


    </div>

    <!-- Another recipies block -->
    <div class="any-taste">
      <div class="container">
        <div class="any-taste__header">
          <h2 class="title">Другие рецепты</h2>
          <a href="#" class="any-taste__link full-recipe-more">Все рецепты</a>
        </div>

        <div class="any-taste__items">
          <!-- Any taste Item -->
          <div class="any-taste__item">
            <img src="@/assets/img/recipes/meal-1.png" alt="Recipe image">

            <div class="any-taste__title">Картофельные драники</div>

            <div class="any-taste__info">
              <div class="any-taste__info-wrapper">
                <div class="any-taste__time">
                  <div class="any-taste__time-title">Будет готово через</div>
                  <div class="any-taste__time-amount">30 минут</div>
                </div>

                <div class="any-taste__complexity">
                  <div class="any-taste__complexity-title">Сложность</div>
                  <div class="any-taste__complexity-items">
                    <button class="any-taste__complexity-item is-active"></button>
                    <button class="any-taste__complexity-item is-active"></button>
                    <button class="any-taste__complexity-item"></button>
                    <button class="any-taste__complexity-item"></button>
                    <button class="any-taste__complexity-item"></button>
                  </div>
                </div>
              </div>
              <!-- Any taste Author -->
              <div class="any-taste__author">
                <img src="@/assets/img/recipes/ilnur.png" alt="author image" class="any-taste__author-img">
                <div class="any-taste__author-info">
                  <div class="any-taste__author-title">Автор рецепта: </div>
                  <div class="any-taste__author-name">Сибгатулин Ильнур</div>
                  <div class="any-taste__author-position">кулинарный редактор «Готовим с Magnum»</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Any taste Item 2 -->
          <div class="any-taste__item">
            <img src="@/assets/img/recipes/meal-2.png" alt="Recipe image">
            <div class="any-taste__title">Малиновый кисель</div>
            <div class="any-taste__info">
              <div class="any-taste__info-wrapper">
                <div class="any-taste__time">
                  <div class="any-taste__time-title">Будет готово через</div>
                  <div class="any-taste__time-amount">40 минут</div>
                </div>
                <div class="any-taste__complexity">
                  <div class="any-taste__complexity-title">Сложность</div>
                  <div class="any-taste__complexity-items">
                    <button class="any-taste__complexity-item is-active"></button>
                    <button class="any-taste__complexity-item is-active"></button>
                    <button class="any-taste__complexity-item"></button>
                    <button class="any-taste__complexity-item"></button>
                    <button class="any-taste__complexity-item"></button>
                  </div>
                </div>
              </div>
              <!-- Any taste Author -->
              <div class="any-taste__author">
                <img src="@/assets/img/recipes/danara.png" alt="author image" class="any-taste__author-img">
                <div class="any-taste__author-info">
                  <div class="any-taste__author-title">Автор рецепта: </div>
                  <div class="any-taste__author-name">Данара Темирташева</div>
                  <div class="any-taste__author-position">кулинарный редактор «Готовим с Magnum»</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Any taste Item 3 -->
          <div class="any-taste__item">
            <img src="@/assets/img/recipes/meal-3.png" alt="Recipe image">
            <div class="any-taste__title">Куриные ножки в томатном соусе</div>
            <div class="any-taste__info">
              <div class="any-taste__info-wrapper">
                <div class="any-taste__time">
                  <div class="any-taste__time-title">Будет готово через</div>
                  <div class="any-taste__time-amount">15 минут</div>
                </div>
                <div class="any-taste__complexity">
                  <div class="any-taste__complexity-title">Сложность</div>
                  <div class="any-taste__complexity-items">
                    <button class="any-taste__complexity-item is-active"></button>
                    <button class="any-taste__complexity-item is-active"></button>
                    <button class="any-taste__complexity-item"></button>
                    <button class="any-taste__complexity-item"></button>
                    <button class="any-taste__complexity-item"></button>
                  </div>
                </div>
              </div>
              <!-- Any taste Author -->
              <div class="any-taste__author">
                <img src="@/assets/img/recipes/nikita.png" alt="author image" class="any-taste__author-img">
                <div class="any-taste__author-info">
                  <div class="any-taste__author-title">Автор рецепта: </div>
                  <div class="any-taste__author-name">Никита Пронин</div>
                  <div class="any-taste__author-position">кулинарный редактор «Готовим с Magnum»</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: "FullCooking",
  props: ["id"],
  mounted(){
    console.log(this.id)
   this.$store.dispatch('fetchRec', this.id)
    .catch(error => {
        console.log(error)
    })
  },
  computed: {
    rec() {
      return this.$store.state.rec
    }
  }
};
</script>

<style scoped></style>
