<template>
  <div class="recipes">
    <div class="container">
      <div class="recipes__nav">
        <a href="#" class="main-page-link">Главная / </a>
        <a href="#" class="cooking-with-magnum">Готовим с Magnum /</a>
        <a href="#" class="recipes-link"> Рецепты</a>
      </div>

      <h1 class="title">Рецепты</h1>

      <div class="recipes-filter">
        <div class="recipes-filter__title is-active">Подобрать рецепты</div>
        <div class="recipes-filter__items is-active">
          <div class="recipes-filter__top">
            <div class="recipes-filter__item is-active">
              <div class="recipes-filter__name">Все рецепты</div>
              <span class="recipes-filter__amount">215</span>
            </div>
            <div class="recipes-filter__item">
              <div class="recipes-filter__name">Завтрак</div>
              <span class="recipes-filter__amount">30</span>
            </div>
            <div class="recipes-filter__item">
              <div class="recipes-filter__name">Перекус</div>
              <span class="recipes-filter__amount">23</span>
            </div>
            <div class="recipes-filter__item">
              <div class="recipes-filter__name">Горячее</div>
              <span class="recipes-filter__amount">31</span>
            </div>
            <div class="recipes-filter__item">
              <div class="recipes-filter__name">Салаты</div>
              <span class="recipes-filter__amount">18</span>
            </div>
            <div class="recipes-filter__item">
              <div class="recipes-filter__name">Супы</div>
              <span class="recipes-filter__amount">14</span>
            </div>
            <div class="recipes-filter__item">
              <div class="recipes-filter__name">Десерты</div>
              <span class="recipes-filter__amount">16</span>
            </div>
          </div>
          <div class="recipes-filter__bottom">
            <div class="recipes-filter__item">
              <div class="recipes-filter__name">Напитки</div>
              <span class="recipes-filter__amount">30</span>
            </div>
            <div class="recipes-filter__item">
              <div class="recipes-filter__name">Детское меню</div>
              <span class="recipes-filter__amount">9</span>
            </div>
            <div class="recipes-filter__item">
              <div class="recipes-filter__name">Выпечка</div>
              <span class="recipes-filter__amount">22</span>
            </div>
            <div class="recipes-filter__item">
              <div class="recipes-filter__name">Правильное питание</div>
              <span class="recipes-filter__amount">15</span>
            </div>
            <div class="recipes-filter__item">
              <div class="recipes-filter__name">К празднику</div>
              <span class="recipes-filter__amount">7</span>
            </div>
          </div>
        </div>
      </div>

      <div class="recipes__items">
        <RecipeBlock v-for="rec in recs" :key="rec.id" :rec="rec" />
        
      </div>
    </div>
  </div>
</template>

<script>
import RecipeBlock from "@/components/recipe/RecipeBlock.vue"

export default {
  name: "PageRecipes",
  components: {
    RecipeBlock
  },
  mounted(){
    this.$store.dispatch('fetchRecs').catch(error => { 
      console.log(error)
      })
  },
  computed: {
    recs(){
      return this.$store.state.recs
    }
  },
};
</script>

<style lang="scss" scoped></style>
