.page-catalog
	padding-top: 50px
	+adaptive-value('padding-bottom', 130, 40, 1)

.container

.page-catalog__header
	.title
		margin-top: 10px

.page-catalog__nav
	color: $gray
	font-size: 14px

.main-page-link

.page-catalog-link

.title

.page-catalog__content
	display: flex
	gap: 20px
	margin-top: 30px
	+sm-block
		margin-top: 0
		display: block

.page-catalog__filter
	+sm-block
		// display: none

.page-catalog__filter-btns
	margin-top: 25px
	button
		margin-bottom: 15px

.page-catalog__filter-title
	+sm-block
		display: none

.page-catalog__products

.page-catalog__sorting
	display: flex
	align-items: center
	justify-content: space-between
	position: relative
	+sm-block
		display: none

.page-catalog__found
	display: flex

.number-found-product
	display: block
	margin: 0 4px

.page-catalog__sorting-btn
	color: $main-color
	padding-left: 25px
	position: relative
	cursor: pointer
	&:before
		content: ''
		position: absolute
		top: 50%
		left: 0
		transform: translateY(-50%)
		width: 18px
		height: 12px
		background: url($img+'~@/assets/img/icons/filter-white.svg') center center/contain no-repeat

.page-catalog__sorting-modal
	display: none
	transition: .3s all
	&.is-active
		display: block
		position: absolute
		right: 0
		top: 50px
		background: #fff
		box-shadow: 3px 4px 18px -2px rgba(119, 119, 119, 0.15)
		border-radius: 15px
		padding: 30px
		z-index: 2

.page-catalog__sorting-title
	color: #2d2f32
	font-family: $main-font-medium
	font-size: 20px
	max-width: 240px

.page-catalog__filter-wrapper
	min-width: 270px
	max-width: 270px
	border: 1px solid #ECECEC
	border-radius: 15px
	margin-top: 30px
	padding: 15px 10px
	+sm-block
		max-width: none
		border: none

.page-catalog__item

.filter-label

.page-catalog__sorting-wrapper
	margin-top: 20px

.page-catalog__sorting-item
	+checkmark-blocks

.page-catalog__sorting-show
	margin-top: 20px
	+button-gray
	font-size: 19px

.page-catalog__items

.page-catalog__category
	margin-top: 30px
	&:first-of-type
		margin-top: 0

	& .page-catalog__sorting-wrapper
		display: none
		+sm-block
			display: block
			transition: all .3s
			max-height: 0
			overflow: hidden
			margin-top: 0
		&.is-active
			max-height: 1000px
			overflow: visible
			margin-top: 20px

.page-catalog__category-name
	font-family: $main-font-medium
	+adaptive-value('font-size', 20, 16, 1)
	position: relative
	cursor: pointer
	&:after
		content: ''
		position: absolute
		top: 40%
		right: 0
		width: 15px
		height: 8px
		background: url('~@/assets/img/icons/arrow-gray.svg') center center/contain no-repeat
		transition: all .3s
		transform: rotate(180deg)
	&.is-active
		&:after
			transform: rotate(0)

.page-catalog__list
	// margin-top: 25px
	max-height: 0
	overflow: hidden
	transition: min-height .5s ease
	&.is-active
		max-height: 2000px
		overflow: visible
		transition: min-height .5s ease
		margin-top: 20px

.page-catalog__list-item
	+checkmark-blocks


