<template>
  <div class="full-shop">
    <div class="container">
      <div class="full-shop__nav">
        <a href="#" class="main-page-link">Главная / </a>
        <a href="#" class="full-shop-stores">Магазины /</a>
        <a href="#" class="full-shop-link">Express на Макатаева-Тулебаева</a>
      </div>

      <div class="full-shop__address-wrapper">
        <div class="full-shop__type">Express</div>
        <div class="full-shop__address">на Макатаева - Тулебаева</div>
        <address class="full-shop__location">
          г.Алматы, мкр-н Жетысу 3, д 1г
        </address>
        <div class="full-shop__time">Режим работы: <time>07:00 - 02:00</time></div>
      </div>

      <div class="full-shop__services">
        <div class="full-shop__services-title">
          Дополнительные сервисы магазина:
        </div>
        <div class="full-shop__services-wrapper">
          <div class="full-shop__service full-shop__service--coffee">
            Кафетерий
          </div>
          <div class="full-shop__service full-shop__service--meat">
            Масная лавка
          </div>
          <div class="full-shop__service full-shop__service--fish">
            Рыбная лавка
          </div>
          <div class="full-shop__service full-shop__service--juice">
            Сокомат
          </div>
          <div class="full-shop__service full-shop__service--bakery">
            Пекарня
          </div>
        </div>
      </div>
    </div>

    <div class="full-shop__map"></div>

    <div class="container">
      <div class="stocks-products__items">
        <div class="header-block">
          <h2 class="title">Скидки, действующие в этом магазине</h2>
        </div>

        <div class="products-week__items">
          <a class="product-block" href="#"
            ><span class="product-block__header"
              ><span class="product-block__stock">-31%</span
              ><span class="product-block__date">до 13.12</span></span
            ><span class="product-block__content"
              ><span class="product-block__left"
                ><span class="product-block__img"
                  ><img
                    src="@/assets/img/product/papa.jpg"
                    alt="image" /></span></span
              ><span class="product-block__right"
                ><span class="product-block__descr"
                  >Колбаса «Папа может» мясная вареная 400 г</span
                ><span class="product-block__price-wrapper"
                  ><span class="product-block__old-price">3 199 тг</span
                  ><span class="product-block__price">2 299 тг</span></span
                ></span
              ></span
            ></a
          >
          <a class="product-block" href="#"
            ><span class="product-block__header"
              ><span class="product-block__stock">-45%</span
              ><span class="product-block__date">до 13.12</span></span
            ><span class="product-block__content"
              ><span class="product-block__left"
                ><span class="product-block__img"
                  ><img
                    src="@/assets/img/product/tess.jpg"
                    alt="image" /></span></span
              ><span class="product-block__right"
                ><span class="product-block__descr"
                  >Чай «TESS» в ассортименте 20 ПАК</span
                ><span class="product-block__price-wrapper"
                  ><span class="product-block__old-price">608 тг</span
                  ><span class="product-block__price">335 тг</span></span
                ></span
              ></span
            ></a
          >
          <a class="product-block" href="#"
            ><span class="product-block__header"
              ><span class="product-block__stock">-28%</span
              ><span class="product-block__date">до 13.12</span></span
            ><span class="product-block__content"
              ><span class="product-block__left"
                ><span class="product-block__img"
                  ><img
                    src="@/assets/img/product/carte-noire.jpg"
                    alt="image" /></span></span
              ><span class="product-block__right"
                ><span class="product-block__descr"
                  >Кофе «CARTE NOIRE» в ассортименте 95 г</span
                ><span class="product-block__price-wrapper"
                  ><span class="product-block__old-price">3 199 тг</span
                  ><span class="product-block__price">2 299 тг</span></span
                ></span
              ></span
            ></a
          >
          <a class="product-block" href="#"
            ><span class="product-block__header"
              ><span class="product-block__stock">-5%</span
              ><span class="product-block__date">до 13.12</span></span
            ><span class="product-block__content"
              ><span class="product-block__left"
                ><span class="product-block__img"
                  ><img
                    src="@/assets/img/product/milk.jpg"
                    alt="image" /></span></span
              ><span class="product-block__right"
                ><span class="product-block__descr"
                  >Молоко «Айналайын» 6% 1 л</span
                ><span class="product-block__price-wrapper"
                  ><span class="product-block__old-price">630 тг</span
                  ><span class="product-block__price">559 тг</span></span
                ></span
              ></span
            ></a
          >
          <a class="product-block" href="#"
            ><span class="product-block__header"
              ><span class="product-block__stock">-37%</span
              ><span class="product-block__date">до 13.12</span></span
            ><span class="product-block__content"
              ><span class="product-block__left"
                ><span class="product-block__img"
                  ><img
                    src="@/assets/img/product/actimel.jpg"
                    alt="image" /></span></span
              ><span class="product-block__right"
                ><span class="product-block__descr"
                  >Кисломолочный напиток «DANONE» Actimel в ассортименте 100
                  мл</span
                ><span class="product-block__price-wrapper"
                  ><span class="product-block__old-price">215 тг</span
                  ><span class="product-block__price">183 тг</span></span
                ></span
              ></span
            ></a
          >
          <a class="product-block" href="#"
            ><span class="product-block__header"
              ><span class="product-block__stock">-31%</span
              ><span class="product-block__date">до 13.12</span></span
            ><span class="product-block__content"
              ><span class="product-block__left"
                ><span class="product-block__img"
                  ><img
                    src="@/assets/img/product/papa.jpg"
                    alt="image" /></span></span
              ><span class="product-block__right"
                ><span class="product-block__descr"
                  >Колбаса «Папа может» мясная вареная 400 г</span
                ><span class="product-block__price-wrapper"
                  ><span class="product-block__old-price">3 199 тг</span
                  ><span class="product-block__price">2 299 тг</span></span
                ></span
              ></span
            ></a
          >
          <a class="product-block" href="#"
            ><span class="product-block__header"
              ><span class="product-block__stock">-45%</span
              ><span class="product-block__date">до 13.12</span></span
            ><span class="product-block__content"
              ><span class="product-block__left"
                ><span class="product-block__img"
                  ><img
                    src="@/assets/img/product/tess.jpg"
                    alt="image" /></span></span
              ><span class="product-block__right"
                ><span class="product-block__descr"
                  >Чай «TESS» в ассортименте 20 ПАК</span
                ><span class="product-block__price-wrapper"
                  ><span class="product-block__old-price">608 тг</span
                  ><span class="product-block__price">335 тг</span></span
                ></span
              ></span
            ></a
          >
          <a class="product-block" href="#"
            ><span class="product-block__header"
              ><span class="product-block__stock">-28%</span
              ><span class="product-block__date">до 13.12</span></span
            ><span class="product-block__content"
              ><span class="product-block__left"
                ><span class="product-block__img"
                  ><img
                    src="@/assets/img/product/carte-noire.jpg"
                    alt="image" /></span></span
              ><span class="product-block__right"
                ><span class="product-block__descr"
                  >Кофе «CARTE NOIRE» в ассортименте 95 г</span
                ><span class="product-block__price-wrapper"
                  ><span class="product-block__old-price">3 199 тг</span
                  ><span class="product-block__price">2 299 тг</span></span
                ></span
              ></span
            ></a
          >
          <a class="product-block" href="#"
            ><span class="product-block__header"
              ><span class="product-block__stock">-5%</span
              ><span class="product-block__date">до 13.12</span></span
            ><span class="product-block__content"
              ><span class="product-block__left"
                ><span class="product-block__img"
                  ><img
                    src="@/assets/img/product/milk.jpg"
                    alt="image" /></span></span
              ><span class="product-block__right"
                ><span class="product-block__descr"
                  >Молоко «Айналайын» 6% 1 л</span
                ><span class="product-block__price-wrapper"
                  ><span class="product-block__old-price">630 тг</span
                  ><span class="product-block__price">559 тг</span></span
                ></span
              ></span
            ></a
          >
          <a class="product-block" href="#"
            ><span class="product-block__header"
              ><span class="product-block__stock">-37%</span
              ><span class="product-block__date">до 13.12</span></span
            ><span class="product-block__content"
              ><span class="product-block__left"
                ><span class="product-block__img"
                  ><img
                    src="@/assets/img/product/actimel.jpg"
                    alt="image" /></span></span
              ><span class="product-block__right"
                ><span class="product-block__descr"
                  >Кисломолочный напиток «DANONE» Actimel в ассортименте 100
                  мл</span
                ><span class="product-block__price-wrapper"
                  ><span class="product-block__old-price">215 тг</span
                  ><span class="product-block__price">183 тг</span></span
                ></span
              ></span
            ></a
          >
          <a class="product-block" href="#"
            ><span class="product-block__header"
              ><span class="product-block__stock">-31%</span
              ><span class="product-block__date">до 13.12</span></span
            ><span class="product-block__content"
              ><span class="product-block__left"
                ><span class="product-block__img"
                  ><img
                    src="@/assets/img/product/papa.jpg"
                    alt="image" /></span></span
              ><span class="product-block__right"
                ><span class="product-block__descr"
                  >Колбаса «Папа может» мясная вареная 400 г</span
                ><span class="product-block__price-wrapper"
                  ><span class="product-block__old-price">3 199 тг</span
                  ><span class="product-block__price">2 299 тг</span></span
                ></span
              ></span
            ></a
          >
          <a class="product-block" href="#"
            ><span class="product-block__header"
              ><span class="product-block__stock">-45%</span
              ><span class="product-block__date">до 13.12</span></span
            ><span class="product-block__content"
              ><span class="product-block__left"
                ><span class="product-block__img"
                  ><img
                    src="@/assets/img/product/tess.jpg"
                    alt="image" /></span></span
              ><span class="product-block__right"
                ><span class="product-block__descr"
                  >Чай «TESS» в ассортименте 20 ПАК</span
                ><span class="product-block__price-wrapper"
                  ><span class="product-block__old-price">608 тг</span
                  ><span class="product-block__price">335 тг</span></span
                ></span
              ></span
            ></a
          >
          <a class="product-block" href="#"
            ><span class="product-block__header"
              ><span class="product-block__stock">-28%</span
              ><span class="product-block__date">до 13.12</span></span
            ><span class="product-block__content"
              ><span class="product-block__left"
                ><span class="product-block__img"
                  ><img
                    src="@/assets/img/product/carte-noire.jpg"
                    alt="image" /></span></span
              ><span class="product-block__right"
                ><span class="product-block__descr"
                  >Кофе «CARTE NOIRE» в ассортименте 95 г</span
                ><span class="product-block__price-wrapper"
                  ><span class="product-block__old-price">3 199 тг</span
                  ><span class="product-block__price">2 299 тг</span></span
                ></span
              ></span
            ></a
          >
          <a class="product-block" href="#"
            ><span class="product-block__header"
              ><span class="product-block__stock">-5%</span
              ><span class="product-block__date">до 13.12</span></span
            ><span class="product-block__content"
              ><span class="product-block__left"
                ><span class="product-block__img"
                  ><img
                    src="@/assets/img/product/milk.jpg"
                    alt="image" /></span></span
              ><span class="product-block__right"
                ><span class="product-block__descr"
                  >Молоко «Айналайын» 6% 1 л</span
                ><span class="product-block__price-wrapper"
                  ><span class="product-block__old-price">630 тг</span
                  ><span class="product-block__price">559 тг</span></span
                ></span
              ></span
            ></a
          >
          <a class="product-block" href="#"
            ><span class="product-block__header"
              ><span class="product-block__stock">-37%</span
              ><span class="product-block__date">до 13.12</span></span
            ><span class="product-block__content"
              ><span class="product-block__left"
                ><span class="product-block__img"
                  ><img
                    src="@/assets/img/product/actimel.jpg"
                    alt="image" /></span></span
              ><span class="product-block__right"
                ><span class="product-block__descr"
                  >Кисломолочный напиток «DANONE» Actimel в ассортименте 100
                  мл</span
                ><span class="product-block__price-wrapper"
                  ><span class="product-block__old-price">215 тг</span
                  ><span class="product-block__price">183 тг</span></span
                ></span
              ></span
            ></a
          >
        </div>

        <button class="stocks-product-more">Показать еще</button>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "FullShop",
};
</script>

<style scoped></style>
