<template>
  <div class="all-shops">

    <div class="container">
      <div class="all-shops__nav">
        <a href="#" class="main-page-link">Главная / </a>
        <a href="#" class="all-shops-link">Результаты поиска</a>
      </div>

    </div>

    <shops-map />

    <div class="all-shops__stores">
      <div class="container">
        <h2 class="all-shops__stores-title title">Встречайте новые магазины Magnum</h2>
        <div class="all-shops__slider swiper">
          <div class="swiper-wrapper">
            <div class="all-shops__slide swiper-slide">
              <img src="@/assets/img/shops/slide-1.png" alt="" class="all-shops__slide-img">
              <time class="all-shops__slide-time">10 марта 2022 г.</time>
              <h3 class="all-shops__slide-title">Мы открылись! Новый Magnum Super по адресу г. Алматы, ул Шарипова 145. </h3>
            </div>
            <div class="all-shops__slide swiper-slide">
              <img src="@/assets/img/shops/slide-1.png" alt="" class="all-shops__slide-img">
              <time class="all-shops__slide-time">10 марта 2022 г.</time>
              <h3 class="all-shops__slide-title">Мы открылись! Новый Magnum Super по адресу г. Алматы, ул Шарипова 145. </h3>
            </div>
            <div class="all-shops__slide swiper-slide">
              <img src="@/assets/img/shops/slide-1.png" alt="" class="all-shops__slide-img">
              <time class="all-shops__slide-time">10 марта 2022 г.</time>
              <h3 class="all-shops__slide-title">Мы открылись! Новый Magnum Super по адресу г. Алматы, ул Шарипова 145. </h3>
            </div>
            <div class="all-shops__slide swiper-slide">
              <img src="@/assets/img/shops/slide-1.png" alt="" class="all-shops__slide-img">
              <time class="all-shops__slide-time">10 марта 2022 г.</time>
              <h3 class="all-shops__slide-title">Мы открылись! Новый Magnum Super по адресу г. Алматы, ул Шарипова 145. </h3>
            </div>
          </div>
          <div class="all-shops__slider-nav">
            <button class="all-shops__slide-prev"></button>
            <button class="all-shops__slide-next"></button>
          </div>
        </div>
      </div>
    </div>

    <weekly-products-list />

  </div>
</template>

<script>
export default {
  name: "AllShops",
  components: {
    WeeklyProductsList: () =>
      import("@/components/products/WeeklyProductsList.vue"),
    ShopsMap: () => import("@/components/maps/ShopsMap.vue"),
  },
};
</script>

<style scoped></style>
