.search-result
  padding-top: 30px

  &__content
    display: flex
    justify-content: space-between
    +adaptive-value('gap', 100, 10, 1)
    +sm-block
      flex-direction: column

  &__descr
    +adaptive-value('font-size', 24, 16, 1)
    +adaptive-value('margin-top', 25, 10, 1)
    max-width: 480px

  &__img
    img
      margin: 0 auto
      +sm-block
        max-height: 300px
      +to(375px)
        max-height: 240px