<template>
  <div class="map-card">
    <div class="map-card__container">
      <div class="map-card__nav">
        <form class="map-card__search">
          <input
            class="map-card__search-input"
            type="search"
            placeholder="Введите адрес магазина"
          />
          <button class="map-search-btn" type="submit"></button>
        </form>
        <button class="map-filter-btn"></button>
      </div>
      <div class="map-card__addresses">
        <div
          v-for="shop in shopsList"
          :key="shop.id"
          class="map-card__addresses"
        >
          <div class="map-address" @click="showInMap(shop.attributes.geo)">
            <div class="map-address__descr">
              <div class="map-address__delivery-type">
                {{
                  shop.attributes.shop_type &&
                  shop.attributes.shop_type.data &&
                  shop.attributes.shop_type.data.attributes
                    ? shop.attributes.shop_type.data.attributes.name
                    : "No type"
                }}
              </div>
              <div class="map-address__name">
                {{ shop.attributes.name }}
                {{ shop.id }}
              </div>
              <div class="map-address__location">
                {{ shop.attributes.address }}
              </div>
            </div>
            <time class="map-address__time">07:00 - 02:00</time>
          </div>
        </div>
      </div>
    </div>
    <div class="address-card">
      <button class="btn-back">Назад</button>
      <div class="address-card__descr">
        <div class="address-card__delivery-type">Express</div>
        <div class="address-card__name">на Макатаева - Тулебаева</div>
        <div class="address-card__location">г.Алматы, мкр-н Жетысу 3, д 1г</div>
        <time class="address-card__time"
          ><span>Режим работы:</span>07:00 - 02:00</time
        >
      </div>
      <div class="address-categories">
        <span class="coffee-category">Кафетерий</span
        ><span class="meat-category">Мясная лавка</span
        ><span class="fish-category">Рыбная лавка</span
        ><span class="juice-category">Сокомат</span
        ><span class="bakery-category">Пекарня</span>
      </div>
      <button class="btn btn-show-cart">Показать на карте</button>
    </div>
    <div class="address-filters">
      <div class="address-filters__filter">
        <span class="address-filters__filter-title"
          >Расширенный ассортимент</span
        >
        <div class="address-filters__filter-wrapper">
          <div class="address-filters__item">
            <input type="checkbox" id="assortment-1" />
            <label class="filter-label" for="assortment-1">Мясная лавка</label>
          </div>
          <div class="address-filters__item">
            <input type="checkbox" id="assortment-2" />
            <label class="filter-label" for="assortment-2">Кофе с собой</label>
          </div>
          <div class="address-filters__item">
            <input type="checkbox" id="assortment-3" />
            <label class="filter-label" for="assortment-3">Сокомат</label>
          </div>
          <div class="address-filters__item">
            <input type="checkbox" id="assortment-4" />
            <label class="filter-label" for="assortment-4">Пекарня</label>
          </div>
          <div class="address-filters__item">
            <input type="checkbox" id="assortment-5" />
            <label class="filter-label" for="assortment-5">Рыбная лавка</label>
          </div>
        </div>
      </div>
      <div class="address-filters__filter">
        <span class="address-filters__filter-title">Сервисы</span>
        <div class="address-filters__filter-wrapper">
          <div class="address-filters__item">
            <input type="checkbox" id="services-1" />
            <label class="filter-label" for="services-1">Мясная лавка</label>
          </div>
          <div class="address-filters__item">
            <input type="checkbox" id="services-2" />
            <label class="filter-label" for="services-2">Кофе с собой</label>
          </div>
        </div>
      </div>
      <div class="address-filters__filter">
        <span class="address-filters__filter-title">Формат магазинов</span>
        <div class="address-filters__filter-wrapper">
          <div class="address-filters__item">
            <input type="checkbox" id="format-1" />
            <label class="filter-label" for="format-1">Все</label>
          </div>
          <div class="address-filters__item">
            <input type="checkbox" id="format-2" />
            <label class="filter-label" for="format-2">Express</label>
          </div>
          <div class="address-filters__item">
            <input type="checkbox" id="format-3" />
            <label class="filter-label" for="format-3">Daily</label>
          </div>
          <div class="address-filters__item">
            <input type="checkbox" id="format-4" />
            <label class="filter-label" for="format-4">Super</label>
          </div>
          <div class="address-filters__item">
            <input type="checkbox" id="format-5" />
            <label class="filter-label" for="format-5">Hyper</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ShopsList",
  props: {
    shopsList: {
      type: Array,
      required: true,
    },
  },
};
</script>