<template>
  <div class="filalis-map-wrapper">
    <section class="our-stores">
      <div class="container">
        <div class="header-block">
          <h2 class="title">Наши магазины</h2>
          <a class="header-block__link" href="#"></a>
        </div>
        <div class="our-stores__buttons">
          <button class="our-stores__button">Список</button>
          <button class="our-stores__button is-active">На карте</button>
        </div>
        <div class="our-stores__list">
          <a class="our-stores__link is-active" href="#">Все магазины</a
          ><a class="our-stores__link" href="#">Daily</a
          ><a class="our-stores__link" href="#">Express</a
          ><a class="our-stores__link" href="#">Super</a
          ><a class="our-stores__link" href="#">Hyper</a>
        </div>
      </div>
    </section>
    <div v-if="shopsList" class="container">
      <shops-list :shops-list="shopsList" />
    </div>
    <section v-if="shpsListWithoutNullGeo && initCoord" class="map">
      <div id="map">
        <yandex-map
          :coords="initCoord"
          :zoom="zoom"
          :cluster-options="clusterOptions"
          @map-was-initialized="initMap"
          :controls="[]"
        >
          <ymap-marker
            v-for="shop in shpsListWithoutNullGeo"
            :coords="getShopCoords(shop)"
            :key="shop.id"
            marker-id="1"
            cluster-name="1"
            :icon="getMarkerIcon(shop)"
            @click="selectShop(shop)"
          />
        </yandex-map>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState } from "vuex";
const MAP_MARKER_HYPER = require("@/assets/icons/hyper.svg");
const MAP_CLUSTER_ICON = require("@/assets/icons/cluster.svg");
import { loadYmap } from "vue-yandex-maps";
import { yandexMap, ymapMarker } from "vue-yandex-maps";
import { getShopsByCityId } from "@/api";

export default {
  name: "ShopsMap",
  components: {
    yandexMap,
    ymapMarker,
    ShopsList: () => import("@/components/maps/ShopsList.vue"),
  },
  data: () => ({
    shopsList: null,
    shpsListWithoutNullGeo: null, // some shops have geo field null
    initCoord: null,
    zoom: 13,
    clusterOptions: {
      1: {
        clusterIcons: [
          {
            href: MAP_CLUSTER_ICON,
            size: [30, 30],
            offset: [-10, -5],
          },
        ],
        clusterDisableClickZoom: false,
        clusterOpenBalloonOnClick: false,
        clusterHideIconOnBalloonOpen: false,
        clusterBalloonLayout: "<span></span>",
      },
    },
    yandexMap: null,
  }),
  computed: {
    ...mapState("cityModule", ["selectedCity"]),
  },
  watch: {
    selectedCity: {
      handler() {
        getShopsByCityId(this.selectedCity.id).then((shops) => {
          this.shopsList = shops;
          this.shpsListWithoutNullGeo = this.shopsList.filter(
            (s) => s.attributes.geo != null
          );

          const shop = this.shpsListWithoutNullGeo.find(
            (s) => s.attributes.geo !== null
          );
          this.initCoord = [
            shop.attributes.geo.latitude,
            shop.attributes.geo.longitude,
          ];
        });
      },
    },
  },
  async mounted() {
    await loadYmap({ debug: true });
  },
  methods: {
    showInMap(geo) {
      this.initCoord = [geo?.latitude, geo.longitude];
      this.zoom = 15;
    },
    selectShop(shop) {
      console.log("CLICKED on marker ", shop);
    },
    initMap(e) {
      this.yandexMap = e;
      console.log("INIT map", e, this.yandexMap.geoObjects);
    },
    getShopCoords(shop) {
      return [shop.attributes.geo?.latitude, shop.attributes.geo?.longitude];
    },
    getMarkerIcon(shop) {
      const iconUrl =
        shop.attributes?.shop_type?.data?.attributes?.logo?.data?.attributes
          ?.url;
      return {
        layout: "default#image",
        imageHref: iconUrl
          ? process.env.VUE_APP_API_URL + iconUrl
          : MAP_MARKER_HYPER,
        imageSize: [30, 30],
        imageOffset: [-10, -5],
      };
    },
  },
};
</script>

<style lang="scss" scoped>
.ymap-container {
  height: 630px;
}
.filalis-map-wrapper {
  position: relative;
  .map-card {
    position: absolute;
    z-index: 99;
    bottom: 20px;
  }
}
</style>