.all-shops
  +adaptive-value('padding-top', 50, 30, 1)
  border-bottom: 2px solid #ECECEC
  padding-bottom: 40px

  &__nav
    color: $gray
    font-size: 14px

  &__slider-nav
    display: flex
    justify-content: flex-end
    gap: 20px
    +adaptive-value('margin-top', 40, 15, 1)
    +sm-block
      gap: 12px

  &__slide-prev,
  &__slide-next
    width: 62px
    height: 62px
    background-image: url('~@/assets/img/icons/shops-arrow.svg')
    background-size: 30px 10px
    background-repeat: no-repeat
    background-position: center center
    display: block
    border-radius: 50%
    border: 1px solid transparent
    +md-block
      width: 40px
      height: 40px
      background-size: 20px 10px

  &__stores
    +adaptive-value('margin-top', 70, 40, 1)

  &__slider
    +adaptive-value('margin-top', 40, 25, 1)

  &__slide-time
    color: $gray
    +adaptive-value('font-size', 18, 14, 1)
    font-family: $main-font-medium
    margin-top: 15px

  &__slide
    // max-width: 340px

  &__slide-title
    +adaptive-value('font-size', 20, 16, 1)
    font-family: $main-font-medium
    margin-top: 15px

  &__slide-prev
    border: 1px solid #B7B7B7
    background-image: url('~@/assets/img/icons/shops-arrow-gray.svg')

  &__slide-next
    background-color: $main-color