<template>
  <section class="index-hero">
    <div class="container index-hero-slider-container">
      <div class="index-hero__slider swiper">
        <swiper
          ref="swiperRef"
          @slideChange="updateCurrentSlide"
          class="mySwiper"
          :options="swiperOption"
        >
          <swiper-slide v-for="banner in banners" :key="banner.id">
            <div class="index-hero__slide swiper-slide">
              <a
                class="index-hero__slide-link"
                :href="banner.attributes.link || 'https://google.ru'"
                >Подробнее</a
              >

              <a
                :href="banner.attributes.link || 'https://google.ru'"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img :src="getBannerImage(banner)" alt="slide" />
              </a>
            </div>
          </swiper-slide>
        </swiper>
        <div @click="prevSlide" class="swiper-button-prev"></div>
        <div @click="nextSlide" class="swiper-button-next"></div>
        <div class="slider-pagination-wrapper">
          <div class="swiper-pagination" slot="pagination"></div>
          <span class="swiper-counts"
            >{{ currentSlide }}/ {{ slidesTotalCount }}</span
          >
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { getBanners } from "@/api";

export default {
  name: "HomeBannerSlider",
  components: {},
  data() {
    return {
      banners: null,
      slidesTotalCount: 0,
      currentSlide: 1,
      swiperOption: {
        slideTo: 1,
        slidesPerView: 1,
        pagination: {
          el: ".swiper-pagination",
          type: "bullets",
          clickable: true,
        },
      },
    };
  },
  computed: {
    swiper() {
      return this.$refs?.swiperRef;
    },
  },
  created() {
    getBanners().then((banners) => {
      this.banners = banners;
      this.slidesTotalCount = this.banners.length;
    });
    if (this.$isMobile()) {
      this.swiperOption.slidesPerView = "auto";
    }
  },
  mounted() {
    this.currentSlide = this.swiper?.swiperInstance?.activeIndex + 1;
  },
  methods: {
    updateCurrentSlide() {
      this.currentSlide = this.swiper?.swiperInstance.realIndex + 1;
    },
    prevSlide() {
      this.swiper?.swiperInstance.slidePrev();
    },
    nextSlide() {
      this.swiper.swiperInstance.slideNext();
    },
    getBannerImage(banner) {
      const placeHolderImageUrl =
        "https://placeholder.pics/svg/288x380/B7FF7D/6C6D73-79E858/no%20moblie%20image";
      if (this.$isMobile()) {
        return banner.attributes.mob_image?.data?.attributes?.url
          ? this.$helpers.getAbsolutePath(
              banner.attributes.mob_image?.data?.attributes?.url
            )
          : placeHolderImageUrl;
      }
      return this.$helpers.getAbsolutePath(
        banner.attributes.image?.data?.attributes?.url
      );
    },
  },
};
</script>

<style lang="scss" scoped>
.swiper-counts {
  // margin-left: 200px;
}
.swiper-slide {
  @media screen and (max-width: 768px) {
    width: 95%;
  }
}
</style>