<template>
  <section class="discount-catalog">
    <div class="container">
      <div class="header-block">
        <h2 class="title">Каталог скидок</h2>
        <router-link class="header-block__link" :to="{ name: 'catalog' }"
          >Смотреть все</router-link
        >
      </div>
      <products-list v-if="products" :items="products" />
    </div>
  </section>
</template>

<script>
import { getAllProducts } from "@/api/products";

export default {
  name: "DiscountList",
  components: {
    ProductsList: () => import("@/components/products/ProductsList.vue"),
  },
  data() {
    return {
      products: null,
    };
  },
  created() {
    getAllProducts(1, 5).then((products) => {
      this.products = products;
    });
  },
};
</script>