.recipe-block
  display: flex
  +adaptive-value('gap', 40, 20, 1)
  +sm-block
    flex-direction: column
  // +to(1023px)
  //   flex-direction: column
  +to(850px)
    flex-direction: column

  &__img
    max-width: 400px
    width: 400px
    // +sm-block
    +to(850px)
      max-width: none
      width: 100%
    img
      width: 100%
  &__descr
    display: flex
    flex-direction: column
    justify-content: space-between
  &__title
    font-family: $main-font-medium
    +adaptive-value('font-size', 20, 16, 1)
  &__info
    display: flex
    gap: 80px
    +to(1023px)
      margin-top: 15px
  &__time
  &__time-title
    font-family: $main-font-medium
    +adaptive-value('font-size', 18, 12, 1)
  &__time-amount
    +adaptive-value('font-size', 18, 12, 1)
    margin-top: 10px
  &__complexity-amounts
    display: flex
    gap: 7px
    margin-top: 15px
    +adaptive-value('margin-top', 15, 6, 1)
  &__complexity-amount
    width: 17px
    height: 17px
    background: url('~@/assets/img/icons/complexity.svg') center center/contain no-repeat
    opacity: 0.3
    +xs-block
      width: 12px
      height: 12px
    &.is-active
      opacity: 1
  &__complexity-title
    font-family: $main-font-medium
  &__ingredients
    +adaptive-value('font-size', 18, 12, 1)
    position: relative
    +to(1023px)
      margin: 13px 0
    +sm-block
      margin-top: 15px
      // display: none
  &__ingredients-title
    font-family: $main-font-medium
    display: inline-block
    position: relative
    cursor: pointer
    &:after
      content: ''
      position: absolute
      top: 40%
      right: -40px
      width: 14px
      height: 7px
      background: url('~@/assets/img/icons/arrow-gray.svg') center center/contain no-repeat
      +xs-block
        width: 12px
        height: 6px
        top: 50%
        transform: translateY(-50%)

  // FILTER
  &__filter
    padding: 25px
    background: #FFFFFF
    border: 1px solid #DCDDE0
    border-radius: 15px
    width: 390px

    position: absolute
    top: 0
    left: 0

    display: none
    z-index: 2
    &.is-active
      display: block
      +sm-block
        display: none

  &__filter-header
    display: flex
    align-items: center
    justify-content: space-between
  &__filter-title
    font-size: 18px
    font-family: $main-font-medium
  &__portions
    display: flex
    align-items: center
    gap: 20px
  &__portions-title
    font-size: 14px
    font-family: $main-font-light
  &__portions-quantity
    display: flex
    align-items: center
    gap: 8px
  &__portions-minus
    font-size: 20px
    color: #2d2f32
  &__portions-amount
    background: #FFFFFF;
    border: 0.5px solid #999999
    border-radius: 3px
    min-width: 24px
    max-width: 30px
    height: 24px
    text-align: center
    font-size: 14px
  &__portions-plus
    font-size: 20px
    color: #2d2f32
  &__filter-items
    margin-top: 30px
  &__filter-item
    display: flex
    align-items: flex-end
    justify-content: space-between
    font-family: $main-font-light
    font-size: 14px
    margin-bottom: 20px
    gap: 10px
    &:last-of-type
      margin-bottom: 0
    span
      display: block
      height: 1px
      width: 100%
      background-color: #ececec
      margin-bottom: 3px
  &__filter-item-name
    white-space: nowrap
  &__filter-item-info
    white-space: nowrap
  &__filter-btn
    font-size: 16px
    display: flex
    align-items: center
    justify-content: center
    background-color: #ECECEC
    border-radius: 15px
    max-width: 270px
    margin-top: 25px
    height: 45px
    margin-left: auto
    margin-right: auto
  &__author
    +to(1023px)
      margin-top: 10px
    +sm-block
      margin-top: 15px
  &__author-wrapper
    // font-size: 18px
    +adaptive-value('font-size', 18, 12, 1)
    display: flex
    align-items: center
    gap: 18px
  &__author-repice
  &__author-img
    min-width: 50px
    min-height: 50px
  &__author-name
    font-family: $main-font-medium
    margin: 8px 0
    +xs-block
      margin: 4px 0
  &__author-position