<template>
  <router-link
    :to="{ name: 'catalog', params: { id: item.id } }"
    class="product-block"
    href="#"
    ><span class="product-block__header"
      ><span class="product-block__stock"
        >-{{ item.attributes.discount * 100 }}%</span
      ><span class="product-block__date"
        >до {{ item.attributes.action_end }}</span
      ></span
    ><span class="product-block__content"
      ><span class="product-block__left"
        ><span class="product-block__img"
          ><img
            :src="
              $helpers.getAbsolutePath(
                item.attributes.image.data[0].attributes.url
              )
            "
            alt="image" /></span></span
      ><span class="product-block__right"
        ><span class="product-block__descr">{{ item.attributes.name }}</span
        ><span class="product-block__price-wrapper"
          ><span class="product-block__old-price">215 тг</span
          ><span class="product-block__price">183 тг</span></span
        ></span
      ></span
    >
  </router-link>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
</style>