<template>
  <section class="products-week">
    <div class="container">
      <div class="header-block">
        <h2 class="title">Товары недели</h2>
        <router-link
          class="header-block__link"
          :to="{ name: 'catalog', params: { weekly: true } }"
          >Смотреть все</router-link
        >
      </div>
      <products-list v-if="products" :items="products" />
    </div>
  </section>
</template>

<script>
import { getAllProductsByDiscountId } from "@/api/discount";
export default {
  name: "WeeklyProductsList",
  components: {
    ProductsList: () => import("@/components/products/ProductsList.vue"),
  },
  data() {
    return {
      products: null,
    };
  },
  created() {
    getAllProductsByDiscountId(1).then((data) => {
      this.products = data.attributes.products.data;
    });
  },
};
</script>
