<template>
  <div :class="{ 'is-fixed': isOpenSelectCity }">
    <app-menu />
    <cities-list />
    <app-header />
    <slot />
    <app-footer />
    <div class="footer-bottom">
      <div class="container">
        <span>Magnum Cash & Carry @2022 Все права защищены</span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "DefaultLayout",
  components: {
    AppMenu: () => import("@/components/common/AppMenu.vue"),
    AppHeader: () => import("@/components/common/AppHeader.vue"),
    AppFooter: () => import("@/components/common/AppFooter.vue"),
    CitiesList: () => import("@/components/common/CitiesList.vue"),
  },

  computed: {
    ...mapState(["isOpenSelectCity"]),
  },
};
</script>
