.recipes
  +adaptive-value('padding-top', 50, 30, 1)
  +adaptive-value('padding-bottom', 70, 40, 1)
  border-bottom: 2px solid #ECECEC

  &__nav
    +scroll-hide
    color: $gray
    a
      white-space: nowrap

  .title
    margin-top: 30px

  &__items
    +adaptive-value('margin-top', 40, 25, 1)

  .recipe-block
    +adaptive-value('margin-top', 65, 40, 1)
    &:first-of-type
      margin-top: 0

// RECIPES FILTER TOP
.recipes-filter
  +adaptive-value('margin-top', 40, 20, 1)

  &__title
    display: inline-block
    color: #F50F64
    +adaptive-value('font-size', 18, 14, 1)
    position: relative
    &:after
      content: ''
      position: absolute
      bottom: 2px
      right: -30px
      transform: rotate(90deg)
      background: url('~@/assets/img/icons/arrow.svg') center center/contain no-repeat
      +adaptive-value('width', 8, 5, 1)
      +adaptive-value('height', 15, 11, 1)
      +xs-block
        right: -20px
    &.is-active
      &:after
        transform: rotate(-90deg)

  &__items
    transition: .3s all
    max-height: 0
    overflow: hidden

    &.is-active
      max-height: 1000px
      overflow: visible
      margin-top: 25px

  &__top
    display: flex
    gap: 15px
    +scroll-hide
    margin-right: -30px
    +sm-block
      margin-right: -15px

  &__bottom
    display: flex
    gap: 15px
    +scroll-hide
    margin-top: 18px
    margin-right: -30px
    +sm-block
      margin-top: 15px
      margin-right: -15px

  &__item
    display: flex
    align-items: center
    +adaptive-value('font-size', 16, 14, 1)
    border-radius: 15px
    border: 1px solid #e8e8e8
    background-color: #fff
    padding: 12px 20px
    cursor: pointer
    white-space: nowrap
    +sm-block
      padding: 8px 12px
    &.is-active
      color: #fff
      background-color: $main-color
      border: 1px solid transparent
      span
        color: #fff

  &__amount
    color: $gray
    margin-left: 3px


