.club
	border-bottom: 2px solid #ECECEC

.club-hero
	display: flex
	position: relative
	max-width: 2560px
	margin: 0 auto
	overflow: hidden
	+sm-block
		flex-direction: column

	.container
		display: flex
		flex-direction: column
		justify-content: center
		+adaptive-value('width', 1240, 320, 1)
		+adaptive-value('height', 600, 400, 1)
		+sm-block
			height: auto
			+adaptive-value('padding-top', 70, 35, 1)
			+adaptive-value('padding-bottom', 40, 20, 1)

	// .club-hero__descr
	&__descr
		width: 50%
		padding-right: 15px
		+sm-block
			// width: 60%
			width: 100%

	// .club-hero__logo
	&__logo
		+sm-block
			max-width: 120px
		+xs-block
			max-width: 80px

	// .club-hero__slogan
	&__slogan
		+adaptive-value('margin-top', 28, 12, 1)
		+adaptive-value('margin-bottom', 28, 12, 1)
		+adaptive-value('font-size', 58, 24, 1)
		font-family: $main-font-black

	// .club-hero__info
	&__info
		+adaptive-value('font-size', 22, 12, 1)

	// .club-hero__download
	&__download
		display: flex
		+adaptive-value('margin-top', 80, 30, 1)
		a
			min-width: 75px
			min-height: 20px
			&:first-of-type
				margin-right: 20px
				+xs-block
					margin-right: 10px

	// .club-hero__img
	&__img
		position: absolute
		top: 0
		left: 50%
		height: 100%
		+sm-block
			// left: 60%
			position: static


.magnum-club
	// .magnum-club__btn
	&__btn


.club-grid
	display: grid
	grid-template-columns: repeat(4, 1fr)
	grid-auto-rows: auto
	align-items: center
	+adaptive-value('padding-top', 65, 40, 1)

	// .club-grid__img
	&__img
		grid-column-start: 1
		grid-column-end: 3
		grid-row-start: 1
		grid-row-end: 5
		+sm-block
			grid-row-start: 3
			grid-row-end: 5
			grid-column-end: 5
			margin: 0 auto

	// .club-grid__descr
	&__descr


.club-opportunities
	grid-column-start: 3
	grid-column-end: 5
	grid-row-start: 1
	grid-row-end: 2
	+sm-block
		grid-column-start: 1
		grid-column-end: 5
		grid-row-start: 1
		grid-row-end: 3

	// .club-opportunities__title
	&__title

	// .club-opportunities__descr
	&__descr
		+adaptive-value('margin-top', 30, 20, 1)
		+adaptive-value('font-size', 24, 18, 1)


.club-services
	grid-column-start: 3
	grid-column-end: 5
	grid-row-start: 2
	grid-row-end: 5
	margin-top: 40px
	+sm-block
		grid-column-start: 1
		grid-column-end: 5
		grid-row-start: 5
		grid-row-end: 7

	// .club-services__title
	&__title

	// .club-services__items
	&__items
		+adaptive-value('margin-top', 35, 25, 1)

	// .club-services__item
	&__item
		display: flex
		align-items: center
		+adaptive-value('margin-top', 35, 25, 1)
		&:first-of-type
			margin-top: 0

	// .club-services__icon
	&__icon
		+adaptive-value('width', 60, 50, 1)
		+adaptive-value('height', 60, 50, 1)

	// .club-services__info
	&__info
		+adaptive-value('margin-left', 30, 20, 1)

	// .club-services__subtitle
	&__subtitle
		+adaptive-value('font-size', 18, 16, 1)
		font-family: $main-font-bold

	// .club-services__descr
	&__descr
		+adaptive-value('font-size', 16, 12, 1)
		+adaptive-value('margin-top', 10, 5, 1)


.club-bonus
	display: grid
	grid-template-columns: repeat(4, 1fr)
	grid-auto-rows: auto
	align-items: center
	+adaptive-value('margin-top', 90, 45, 1)

	// .club-bonus__img
	&__img
		grid-column-start: 1
		grid-column-end: 3
		grid-row-start: 1
		grid-row-end: 3
		padding-right: 30px
		+sm-block
			grid-column-start: 1
			grid-column-end: 5
			grid-row-start: 1
			grid-row-end: 3
			margin: 0 auto
			padding-right: 0
			+xs-block
				width: 60%

	// .club-bonus__info
	&__info
		grid-column-start: 3
		grid-column-end: 5
		grid-row-start: 1
		grid-row-end: 3
		+sm-block
			grid-column-start: 1
			grid-column-end: 5
			grid-row-start: 3
			grid-row-end: 5
			margin-top: 40px

	// .club-bonus__title
	&__title

	// .club-bonus__items
	&__items
		+adaptive-value('margin-top', 30, 25, 1)

	// .club-bonus__item
	&__item
		display: flex
		align-items: center
		position: relative
		margin-top: 35px
		&:first-of-type
			margin-top: 0
		+sm-block
			margin-top: 45px

	// .club-bonus__icon
	&__icon
		+adaptive-value('width', 60, 50, 1)
		+adaptive-value('height', 60, 50, 1)

	// .club-bonus__descr
	&__descr
		+adaptive-value('font-size', 24, 16, 1)
		font-family: $main-font-medium
		+adaptive-value('margin-left', 30, 20, 1)

	// .club-bonus__note
	&__note
		+adaptive-value('font-size', 14, 12, 1)
		color: $gray
		margin-top: 10px
		font-family: $main-font
		margin-bottom: -65px
		+xs-block
			margin-bottom: -70px
		// position: absolute
		// left: 0
		// top: 30px


.club-registration
	display: grid
	grid-template-columns: repeat(4, 1fr)
	grid-auto-rows: auto
	align-items: center
	+adaptive-value('padding-top', 90, 40, 1)

	// .club-registration__img
	&__img
		grid-column-start: 1
		grid-column-end: 3
		grid-row-start: 1
		grid-row-end: 4
		padding-right: 30px
		+sm-block
			grid-column-start: 1
			grid-column-end: 5
			grid-row-start: 3
			grid-row-end: 6
			margin-left: auto
			margin-right: auto
			margin-top: 20px
			padding-right: 0
		+xs-block
			width: 80%

	// .club-registration__info
	&__info
		grid-column-start: 3
		grid-column-end: 5
		grid-row-start: 1
		grid-row-end: 3
		+sm-block
			grid-column-start: 1
			grid-column-end: 5
			grid-row-start: 1
			grid-row-end: 3
			margin-top: 40px

	// .club-registration__title
	&__title

	// .club-registration__descr
	&__descr
		+adaptive-value('font-size', 24, 16, 1)
		+adaptive-value('margin-top', 30, 25, 1)

	// .club-registration__button
	&__button
		display: inline-block
		background-color: #ececec
		border-radius: 15px
		padding: 13px 40px
		position: relative
		+adaptive-value('font-size', 19, 16, 1)
		font-family: $main-font-medium
		+hover-link

		grid-column-start: 3
		grid-row-start: 3
		grid-row-end: 4

		margin-top: 30px

		&:before
			content: ''
			position: absolute
			top: -55px
			left: -175px
			background: url('~@/assets/img/club-page/arrow.png') center center/contain no-repeat
			width: 168px
			height: 79px
			+sm-block
				display: none
		+sm-block
			grid-column-start: 1
			grid-column-end: 5
			grid-row-start: 6
			grid-row-end: 7
			width: 100%
			padding: 10px auto
		// +sm-block


.club-benefit
	display: flex
	justify-content: space-between
	align-items: center
	+adaptive-value('margin-top', 140, 40, 1)
	+sm-block
		align-items: flex-end
	+xs-block
		padding-bottom: 40px
	// .club-benefit__info
	&__info

	// .club-benefit__title
	&__title

	// .club-benefit__subtitle
	&__subtitle
		+adaptive-value('font-size', 24, 18, 1)
		margin-top: 5px

	// .club-benefit__download
	&__download
		display: flex
		margin-top: 40px
		&:last-of-type
			margin-right: 0
		a
			margin-right: 20px
			min-width: 135px

	// .club-benefit__links
	&__links
		color: #5C5C5C
		+adaptive-value('font-size', 18, 16, 1)
		margin-top: 30px
		a
			display: block
			padding: 8px 0
			text-decoration: underline

	// .club-benefit__link
	&__link

	// .club-benefit__img
	&__img
		+sm-block
			max-width: 300px
		+xs-block
			display: none


.club-modal
	background-color: #fff
	border-radius: 15px
	box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.25)
	padding-top: 20px
	padding-left: 35px
	padding-right: 35px
	padding-bottom: 40px
	text-align: center
	max-width: 460px
	+xs-block
		padding-top: 15px
		padding-left: 0
		padding-right: 0
		padding-bottom: 25px
		border: none
		box-shadow: none
		border-radius: 0

	&__close
		display: flex
		margin-left: auto
		+adaptive-value('width', 50, 39, 1)
		+adaptive-value('height', 50, 39, 1)
		border-radius: 50%
		background-color: #ececec
		background-image: url('~@/assets/img/club-page/close.svg')
		background-repeat: no-repeat
		background-size: 20px 20px
		background-position: center center
		+xs-block
			background-size: 13px 13px

	// .club-modal__title
	&__title
		+adaptive-value('font-size', 34, 22, 1)
		font-family: $main-font-bold
		margin-top: 10px

	// .club-modal__descr
	&__descr
		font-size: 14px
		color: $gray
		margin-top: 13px
		+xs-block
			font-size: 12px

	// .club-modal__img
	&__img
		margin-top: 35px
		margin-left: auto
		margin-right: auto

	// .club-modal__button
	&__button
		font-family: $main-font-medium
		width: 100%
		height: 50px
		border-radius: 15px
		background-color: #ececec
		display: flex
		align-items: center
		justify-content: center
		margin-top: 35px


// REGISTRATION
.club-registration-modal
	background-color: #fff
	border-radius: 15px
	box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.25)
	padding-top: 20px
	padding-left: 35px
	padding-right: 35px
	padding-bottom: 40px
	text-align: center
	max-width: 460px
	+xs-block
		max-width: none
		box-shadow: none
		border: none
		border-radius: 0
		padding-left: 0
		padding-right: 0

	&__wrapper
		margin-right: -30px
		+xs-block
			margin-right: 0
		&.is-desktop
			max-height: 440px
			overflow: auto
			+xs-block
				overflow: visible
				max-height: none
			&::-webkit-scrollbar-thumb
				background: #ececec
			&::-webkit-scrollbar
				height: 4px
				width: 5px
			&::-webkit-scrollbar-button
				height: 100px

	&__close
		display: flex
		margin-left: auto
		+adaptive-value('width', 50, 39, 1)
		+adaptive-value('height', 50, 39, 1)
		border-radius: 50%
		background-color: #ececec
		background-image: url('~@/assets/img/club-page/close.svg')
		background-repeat: no-repeat
		background-size: 20px 20px
		background-position: center center
		+xs-block
			background-size: 13px 13px

	&__title
		+adaptive-value('font-size', 34, 22, 1)
		font-family: $main-font-bold
		margin-top: 10px

	&__descr
		font-size: 14px
		color: $gray
		margin-top: 13px
		padding-bottom: 5px
		+xs-block
			font-size: 12px

	.input
		background: #FFFFFF
		position: relative
		margin-top: 15px
		padding-right: 35px
		+xs-block
			padding-right: 0

		input
			border: 1px solid #ECECEC
			background: transparent
			border-radius: 15px
			font-family: $main-font-medium
			// display: flex
			// align-items: center
			padding: 0 20px
			padding-top: 10px
			height: 68px
			width: 100%
			outline-color: $main-color
			position: relative
			z-index: 2
		label
			font-size: 16px
			font-family: $main-font-medium
			color: gray
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: 20px
			transition: all .3s
			z-index: 1

	&__gender
		font-size: 16px
		margin-top: 15px
		text-align: left

	&__gender-title
		font-size: 16px
		color: $gray
		padding-left: 20px

	&__gender-wrapper
		display: flex
		margin-top: 8px

	&__male,
	&__female
		padding: 10px 20px
		border: 1px solid #E8E8E8
		border-radius: 15px
		transition: all .3s ease-in-out
		margin-right: 40px
		&:hover,
		&.is-active
			color: #fff
			background-color: $main-color
			border: 1px solid transparent

	.club-registration-modal__button
		font-family: $main-font-medium
		width: 100%
		width: calc(100% - 35px)
		height: 50px
		border-radius: 15px
		background-color: #ececec
		display: flex
		align-items: center
		justify-content: center
		margin-top: 35px
		transition: all .3s ease-in-out
		+xs-block
			width: 100%
		&:hover
			color: #fff
			background-color: $main-color

// .input-field:focus + .input-label
// 	transform: translateY(-1.6rem)

.input-field:focus + label
	transform: translateY(-1.6rem)

.input-field:valid + label
	transform: translateY(-1.6rem)

.input-label
	&.error
		color: #FF8200 !important

.input-label-error
		color: #FF8200 !important

