.banner-vacancy
	color: #fff
	background-color: $main-color
	padding: 25px 0
	position: relative
	z-index: 1
	height: 120px
	overflow: hidden
	+md-block
		height: auto

	+xs-block
		padding: 10px 0

	.banner-text-img
		position: absolute
		bottom: 0
		right: 0
		z-index: -1
		+adaptive-value('width', 333, 190, 1)

	&__content
		display: flex
		align-items: center
		justify-content: space-between
		position: relative
		padding-right: 120px
		+md-block
			flex-direction: column
			align-items: flex-start
			padding-right: 0

		.banner-icons
			position: absolute
			top: 50%
			right: 0
			transform: translateY(-50%)
			+md-block
				display: none

	&__header
		display: flex
		align-items: center
		max-width: 705px
		width: 100%
		+md-block
			padding-left: 40px

		.banner-wings
			position: absolute
			top: -5px
			left: -88px
			+md-block
				width: 40px
				height: 42px
				left: -10px

		h2
			+adaptive-value('font-size', 34, 20, 1)
			font-family: $main-font-bold

		span
			display: block
			font-family: $main-font-medium
			+adaptive-value('font-size', 24, 16, 1)

	.btn-gray
		+md-block
			margin-top: 20px
			margin-left: 40px
