mixin banner-vacancy()

	+b.SECTION.banner-vacancy
		img(src="@/assets/img/icons/banner-text.svg", alt="banner text").banner-text-img
		.container
			+e.content
				+e.header
					img(src="@/assets/img/icons/banner-wings.svg", alt="image" width="64" height="67").banner-wings
					h2 Построй свою карьеру вместе с Magnum!
						span Оставь заявку на сайте и работай с командой мечты
				button.btn-gray Оставить заявку
				img(src="@/assets/img/icons/banner-icons.svg", alt="banner text").banner-icons
