<template>
  <div class="private">
    <div class="private__slider swiper">
      <swiper ref="swiperRef">
        <swiper-slide>
          <!-- SLIDE 1 -->
          <div class="private__slide bg-red">
            <div class="private__header">
              <div class="private__logo">
                <img src="@/assets/img/stm/logo-1.png" alt="logo" />
              </div>
              <div class="private__title">
                Правильный товар по правильной цене
              </div>
            </div>
            <p class="private__descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="private__img">
              <img src="@/assets/img/stm/slide-1.png" alt="slide" />
            </div></div
        ></swiper-slide>
        <swiper-slide>
          <!-- SLIDE 2 -->
          <div class="private__slide bg-purple">
            <div class="private__header">
              <div class="private__logo">
                <img src="@/assets/img/stm/logo-2.png" alt="logo" />
              </div>
              <div class="private__title">Вкус теплого семейного праздника</div>
            </div>
            <p class="private__descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="private__img">
              <img src="@/assets/img/stm/slide-2.png" alt="slide" />
            </div></div
        ></swiper-slide>
        <swiper-slide>
          <!-- SLIDE 3 -->
          <div class="private__slide bg-yellow">
            <div class="private__header">
              <div class="private__logo">
                <img src="@/assets/img/stm/logo-3.png" alt="logo" />
              </div>
              <div class="private__title">Добавьте изысканный вкус</div>
            </div>
            <p class="private__descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="private__img">
              <img src="@/assets/img/stm/slide-3.png" alt="slide" />
            </div></div
        ></swiper-slide>
        <swiper-slide>
          <!-- SLIDE 4 -->
          <div class="private__slide bg-red">
            <div class="private__header">
              <div class="private__logo">
                <img src="@/assets/img/stm/logo-4.png" alt="logo" />
              </div>
              <div class="private__title">Слоган</div>
            </div>
            <p class="private__descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="private__img">
              <img src="@/assets/img/stm/slide-4.png" alt="slide" />
            </div></div
        ></swiper-slide>
        <swiper-slide>
          <!-- SLIDE 5 -->
          <div class="private__slide bg-brown">
            <div class="private__header">
              <div class="private__logo">
                <img src="@/assets/img/stm/logo-5.png" alt="logo" />
              </div>
              <div class="private__title">Слоган</div>
            </div>
            <p class="private__descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div></swiper-slide
        >
      </swiper>

      <button class="private__close-btn" @click.prevent="goBack"></button>

      <div class="private__arrows">
        <button @click.prevent="prevSlide" class="private__prev-btn"></button>
        <button @click.prevent="nextSlide" class="private__next-btn"></button>
      </div>
    </div>
  </div>
</template>

<script lang="js">
export default {
  name: "PrivateLabel",
  data() {
    return {

      swiperOption: {
        spaceBetween: 10,
        slideTo: 1,
        slidesPerView: 1,
        responsive: true,
      },
    };
  },
  computed: {
    swiper() {
      return this.$refs.swiperRef;
    },
  },
  mounted() {
    this.slidesTotalCount = this.swiper.swiperInstance.slides.length;
    this.currentSlide = this.swiper.swiperInstance.activeIndex + 1;
  },
  methods: {
    prevSlide() {
      console.log(this.swiper.swiperInstance.realIndex);
      this.swiper.swiperInstance.slidePrev();
      this.currentSlide = this.swiper.swiperInstance.realIndex + 1;
    },
    nextSlide() {
      this.swiper.swiperInstance.slideNext();
      this.currentSlide = this.swiper.swiperInstance.realIndex + 1;
    },

    goBack() {
      this.$router.push('/');
    },
  },
};
</script>

<style scoped></style>
