.full-recipe
  +adaptive-value('padding-top', 50, 30, 1)
  +adaptive-value('padding-bottom', 70, 40, 1)
  border-bottom: 2px solid #ececec

  &__nav
    display: flex
    color: $gray
    +scroll-hide
    a
      font-size: 14px
      white-space: nowrap

  &__img
    position: relative
    margin-top: 25px
    img
      border-radius: 15px
      min-height: 320px
      width: 100%
      object-fit: cover

  &__header
    color: #fff
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    text-align: center
    width: 100%

  &__title
    +adaptive-value('font-size', 60, 26, 1)
    font-family: $main-font-medium

  &__info-wrapper
    display: flex
    justify-content: center
    +adaptive-value('gap', 80, 35, 1)
    +adaptive-value('font-size', 24, 18, 1)
    +adaptive-value('margin-top', 35, 15, 1)
    padding-left: 30px

  &__views
    position: relative
    &:before
      content: ''
      position: absolute
      top: 50%
      left: -40px
      transform: translateY(-50%)
      background: url('~@/assets/img/icons/eye.svg') center center/contain no-repeat
      width: 22px
      height: 13px
      +xs-block
        width: 19px
        height: 11px
        left: -30px

  &__descr-wrapper
    display: flex
    justify-content: space-between
    align-items: flex-start
    +adaptive-value('gap', 40, 25, 1)
    margin-top: 25px
    +sm-block
      flex-direction: column

  &__descr
    line-height: 1.6
    max-width: 640px
    +adaptive-value('font-size', 18, 14, 1)
    +sm-block
      max-width: none

  .recipe-block__filter
    display: block
    padding: 10px
    position: static
    width: 500px
    min-width: 300px
    +adaptive-value('padding-bottom', 23, 11, 1)
    +sm-block
      width: 100%

  .recipe-block__portions-title
    +adaptive-value('font-size', 18, 12, 1)

  .recipe-block__filter-item-name
    +adaptive-value('font-size', 16, 12, 1)

  .recipe-block__filter-item-info
    +adaptive-value('font-size', 18, 12, 1)

  .recipe-block__filter-item
    font-family: $main-font

  .recipe-block__portions-amount
    +xs-block
      font-size: 12px
      max-width: 26px
      height: 20px

  &__author-wrapper
    display: flex
    align-items: center
    +adaptive-value('font-size', 18, 12, 1)
    +adaptive-value('gap', 28, 15, 1)
    +adaptive-value('margin-top', 40, 25, 1)

  &__author-img
    +adaptive-value('width', 95, 53, 1)
    +adaptive-value('height', 95, 53, 1)

  &__author-name
    font-family: $main-font-medium
    margin: 4px 0

  &__products
    +adaptive-value('margin-bottom', 110, 0, 1)

  &__products-title
    +adaptive-value('margin-top', 70, 40, 1)

  &__review
    max-width: 640px

  &__ingredients
    display: flex
    justify-content: space-between
    +adaptive-value('margin-top', 40, 20, 1)

  &__ingredients-item
    font-family: $main-font-medium
    +adaptive-value('font-size', 24, 12, 1)

  &__ingredients-wight
    font-family: 'Ubuntu Light'
    +adaptive-value('margin-top', 10, 5, 1)

  &__calories
    +adaptive-value('margin-top', 30, 20, 1)
    +adaptive-value('font-size', 18, 12, 1)
    font-family: $main-font-light
    color: $gray

  &__complexity
    display: flex
    +adaptive-value('gap', 130, 60, 1)
    +adaptive-value('margin-top', 40, 20, 1)
    +adaptive-value('font-size', 24, 12, 1)

  &__complexity-title
    font-family: $main-font-medium

  &__complexity-time
    font-family: $main-font-light
    +adaptive-value('margin-top', 10, 8, 1)

  &__steps
    counter-reset: li
    +adaptive-value('margin-top', 80, 30, 1)

  &__steps-header
    display: flex
    justify-content: space-between
    align-items: center
    +sm-block
      display: none

  &__steps-title
    font-size: 24px
    font-family: $main-font-medium

  &__steps-print
    font-size: 16px
    position: relative
    cursor: pointer
    padding-right: 26px
    &:after
      content: ''
      position: absolute
      top: 50%
      transform: translateY(-50%)
      right: 0
      width: 16px
      height: 12px
      background: url('~@/assets/img/icons/print.svg') center center/contain no-repeat

  &__step
    +adaptive-value('font-size', 18, 12, 1)
    +adaptive-value('margin-top', 40, 20, 1)
    +adaptive-value('padding-left', 60, 27, 1)
    position: relative
    &:before
      content: ''
      content: counter(li)
      counter-increment: li
      +adaptive-value('font-size', 48, 20, 1)
      font-family: $main-font-bold
      color: $main-color
      position: absolute
      left: 0
      top: 0

  &__step-img
    +adaptive-value('margin-top', 30, 15, 1)
    border-radius: 10px
    width: 100%

  .product-block
    +col
    +size(2.4)
    +size-md(3)
    +size-sm(4)
    +size-xs(12)

  &__socials
    padding-top: 35px
    +adaptive-value('width', 900, 300, 1)
    border-top: 1px solid #ececec
    text-align: center
    margin-left: auto
    margin-right: auto
    +sm-block
      border: none
      padding-left: 10px
      padding-right: 10px

  &__socials-title
    +adaptive-value('font-size', 24, 18, 1)
    font-family: $main-font-medium

  &__socials-links
    display: flex
    align-items: center
    justify-content: center
    +adaptive-value('gap', 45, 10, 1)
    +adaptive-value('margin-top', 40, 20, 1)
    +sm-block
      justify-content: space-between

  &__socials-link
    display: block
    +adaptive-value('width', 40, 25, 1)
    +adaptive-value('height', 40, 25, 1)
