.full-shop
  +adaptive-value('padding-top', 50, 30, 1)
  +adaptive-value('padding-bottom', 70, 40, 1)
  border-bottom: 2px solid #ececec

  &__nav
    color: $gray
    +scroll-hide
    a
      white-space: nowrap

  &__address-wrapper
    +adaptive-value('margin-top', 60, 30, 1)

  &__type
    +adaptive-value('font-size', 24, 16, 1)
    font-family: $main-font-medium
    color: $main-color

  &__address
    +adaptive-value('margin-top', 10, 5, 1)
    +adaptive-value('font-size', 34, 18, 1)
    font-family: $main-font-medium

  &__location
    color: $gray
    +adaptive-value('font-size', 24, 16, 1)
    +adaptive-value('margin-top', 15, 5, 1)
    font-style: normal

  &__time
    display: flex
    +adaptive-value('margin-top', 15, 5, 1)
    +adaptive-value('font-size', 24, 16, 1)
    time
      color: #396
      margin-left: 5px

  &__services
    +adaptive-value('margin-top', 40, 25, 1)
    +adaptive-value('margin-bottom', 70, 40, 1)

  &__services-title
    +adaptive-value('font-size', 24, 16, 1)

  &__services-wrapper
    +adaptive-value('margin-top', 30, 20, 1)

  &__service
    +adaptive-value('font-size', 24, 16, 1)
    padding-left: 37px
    position: relative
    margin-bottom: 20px
    position: relative
    &:last-of-type
      margin-bottom: 0
    &:before
      content: ''
      position: absolute
      top: 50%
      transform: translateY(-50%)
      left: 0
      width: 22px
      height: 22px

    &--coffee
      &:before
        background: url('~@/assets/img/icons/coffee.svg') center center/contain no-repeat
    &--meat
      &:before
        background: url('~@/assets/img/icons/meat.svg') center center/contain no-repeat
    &--fish
      &:before
        background: url('~@/assets/img/icons/fish.svg') center center/contain no-repeat
    &--juice
      &:before
        background: url('~@/assets/img/icons/juice.svg') center center/contain no-repeat
    &--bakery
      &:before
        background: url('~@/assets/img/icons/bakery.svg') center center/contain no-repeat

  &__map
    +adaptive-value('height', 285, 185, 1)
    width: 100%
    background-color: #333

  .stocks-products__items
    +adaptive-value('margin-top', 70, 40, 1)

  .products-week__items
    +row-flex

  .product-block
    +col
    +size(2.4)
    +size-md(3)
    +size-sm(4)
    +size-xs(12)

  .stocks-product-more
    display: block
    margin-top: 40px
    max-width: 200px
    margin-left: auto
    margin-right: auto
    +xs-block
      max-width: none
      +button-main