.our-brands,
.own-production,
.stocks
	+adaptive-value('padding-top', 50, 20, 1)
	+adaptive-value('padding-bottom', 50, 20, 1)
	&__items
		+row-flex
		+adaptive-value('margin-top', 40, 25, 1)
		+xs-block
			gap: 10px
			overflow: auto

	&__item
		+col
		+size(4)
		margin-bottom: 20px
		img
			width: 100%

.our-brands
	&__item
		+xs-block
			min-width: 288px
			padding-bottom: 10px


.stocks
	&__items
		overflow: visible
		+xs-block
			flex-direction: column
	&__item
		+xs-block
			img
				width: 100%
				height: 100%
				object-fit: cover
	&__button
		display: block
		margin-left: auto
		margin-right: auto
		margin-top: 40px
		font-size: 18px
		font-family: $main-font-medium
		color: #2d2f32
		text-align: center
		padding: 13px 35px
		border-radius: 15px
		background-color: #ececec
		+hover-link
		+sm-block
			display: none

.own-production
	&__item
		+xs-block
			min-width: 288px
			padding-bottom: 10px
	.header-block__link
		display: none