mixin our-brands()

	+b.SECTION.our-brands
		.container
			+header-block('Наши бренды', 'Смотреть все')
			+e.items
				+e.item
					img(src="img/our-brands/brand-1.png" alt="Brand image" width="380" height="410")
				+e.item
					img(src="img/our-brands/brand-2.png" alt="Brand image" width="380" height="410")
				+e.item
					img(src="img/our-brands/brand-3.png" alt="Brand image" width="380" height="410")
