.header-menu
	display: none
	+md-block
		overflow: auto
		&::-webkit-scrollbar-thumb
			background: $gray
		&::-webkit-scrollbar-thumb
			background: $gray
			border-radius: 10px
		&::-webkit-scrollbar
			height: 4px
			width: 5px

	&.is-opened
		position: fixed
		width: 100%
		height: 100%
		background-color: #fff
		z-index: 100
		display: block
		transition: .3s all

	&__top
		display: flex
		justify-content: space-between
		padding: 30px 0
		+md-block
			align-items: center
		+xs-block
			justify-content: flex-start
			width: 100%

	&__logo
		position: relative
		+lg-block
			padding-left: 30px
		+sm-block
			display: flex
			align-items: flex-start
			padding-left: 0

		.header-menu-logo-desktop
			+xs-block
				display: none

		.header-menu-logo-mobile
			display: none
			+xs-block
				display: block
				width: 43px
				height: 25px

	.close-btn
		min-width: 19px
		min-height: 19px
		background: url("~@/assets/img/icons/close-btn.svg") center center/contain no-repeat
		position: absolute
		top: 5px
		left: -30px
		+lg-block
			left: 0
		+sm-block
			display: block
			position: static
			margin-right: 10px
			padding-top: 25px

	&__title
		color: $main-color
		font-family: $main-font-black
		+adaptive-value('font-size', 24, 12, 1)
		+sm-block
			margin-left: 5px
		+xs-block
			// display: none
			line-height: 1

	// Header-Top Settings
	&__settings
		display: flex
		align-items: center
		height: 50px
		min-width: 160px
		font-size: 18px
		font-family: $main-font-medium
		color: $main-color
		border: 1px solid #F3F3F3;
		box-sizing: border-box
		box-shadow: 3px 4px 12px -6px rgba(84, 84, 84, 0.15)
		border-radius: 15px
		+sm-block
			max-width: 116px
		+xs-block
			margin-left: auto
			min-width: 116px
			height: 34px
			font-size: 14px

	&__address
		position: relative
		padding-left: 45px
		padding-right: 15px
		border-right: 1px solid #ECECEC
		cursor: pointer
		&:before
			content: ''
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: 20px
			width: 15px
			height: 20px
			background: url($img+'icons/coordinates.svg') center center/contain no-repeat
			+xs-block
				width: 12px
				height: 16px
				left: 10px
		+xs-block
			padding-left: 30px
			padding-right: 10px

	&__language
		cursor: pointer
		padding-left: 17px
		+xs-block
			padding-right: 5px
			padding-left: 10px

	&__content
		display: flex
		align-items: flex-start
		gap: 210px
		+md-block
			gap: 100px
		+sm-block
			gap: 50px
			flex-direction: column
			gap: 30px

	&__left
		+sm-block
			width: 100%

	&__right
		max-width: 380px
		border-top: 1px solid #DCDDE0
		border-bottom: 1px solid #DCDDE0
		display: flex
		flex-wrap: wrap
		+sm-block
			flex-direction: column
			max-width: none
			width: 100%
		a
			display: block
			font-family: $main-font-medium
			+adaptive-value('font-size', 18, 16, 1)
			width: 50%
			margin: 17px 0
			+xs-block
				width: auto

	&__list
		border-top: 1px solid #DCDDE0
		border-bottom: 1px solid #DCDDE0
		max-width: 300px
		+sm-block
			max-width: none
			width: 100%
		a
			display: block
			+adaptive-value('font-size', 24, 18, 1)
			font-family: $main-font-medium
			margin: 17px 0

	&__phones
		span
			display: block
			font-size: 18px
			margin-top: 35px
			color: #2d2f32
		a
			display: block
			font-size: 24px
			margin-top: 15px
			+hover-link

	&__social-links
		span
			display: block
			font-size: 18px
			color: #1c1c1c
			margin-top: 30px

	&__links
		display: flex
		align-items: center
		gap: 20px
		margin-top: 15px
		a
			display: block
			width: 25px
			height: 25px
