<template>
  <div class="article">
    <div class="container">
      <div class="full-recipe__nav">
        <a href="#" class="main-page-link">Главная /  </a>
        <a href="#" class="cooking-with-magnum"> Готовим с Magnum /  </a>
        <a href="#" class="recipes-link"> Рецепты /  </a>
        <a href="" class="full-recipe-link"> Сыпники из творога</a>
      </div>

      <div class="full-recipe__img">
        <img src="@/assets/img/article/article-1.png" alt="artice image" />
        <div class="full-recipe__header">
          <h1 class="full-recipe__title">Сырники из творога</h1>
          <div class="full-recipe__info-wrapper">
            <div class="full-recipe__views">2105</div>
            <div class="full-recipe__time">26 января 2022</div>
          </div>
        </div>
      </div>

      <p class="article__descr text">Экзотический личи большинству людей в нашей стране известен сравнительно недавно. Если говорить о его биологической принадлежности, то это фрукт, косточковый плод, хотя нередко личи называют ягодой, но это ошибка. Вкус у него сладкий, с неярким винным оттенком, напоминает микс винограда и земляники. Давайте разберёмся, чем полезен и вреден личи для организма, насколько желателен в рационе, как его есть, а для начала узнаем…</p>

      <div class="article__main">
        <h2 class="article__main-title">Где растёт личи</h2>

        <p class="text">Помимо основного названия у личи в русском языке есть и другие: лиджи, лиси, лайси. Они просто отражают особенности произношения при переводе слова. Но вот одно из имён — «китайская слива» — указывает на происхождение продукта, ведь родом он действительно из Поднебесной. В древнекитайских документах фрукт упоминался уже во II веке до н. э.</p>
        <br>
        <p class="text"> Есть и название-метафора «драконий глаз», которое появилось благодаря овальной форме плода и его внешнему виду в разрезе:</p>

        <ul class="article__main-list text" >
          <li>розовая плотная бугристая кожура похожа на веко (она несъедобна);</li>
          <li>белая вязкая мякоть напоминает глазное яблоко (это съедобная часть фрукта);</li>
          <li>косточка продолговатой формы выглядит как узкий зрачок.</li>
          <li>Плоды растут на вечнозелёных высоких деревьях в юго-восточных провинциях Китая. Такие плантации есть ещё в Индии, нескольких странах Юго-Восточной Азии и Южной Африки.</li>
        </ul>

        <div class="article__benefit">
          <h3>Польза личи</h3>
          <p class="text">Вред личи возможен при индивидуальной непереносимости. Также плоды способны вызвать аллергические высыпания на коже, а если съесть слишком много, то и диарею (что всё же редкость). Некоторые источники рекомендуют быть осторожными с фруктом женщинам в период беременности и маленьким детям, однако научных доказательств опасности этого продукта для них нет.</p>
          <br>
          <p class="text">Китайская слива (особенно недозрелые плоды) содержит гипоглицин. Эта аминокислота может понизить уровень сахара в крови. Однако риск гипогликемии может возникнуть, только если съесть очень много личи или потреблять этот продукт в период лечения препаратами, понижающими уровень глюкозы.</p>
        </div>

        <p class="text">Однако не забывайте, что польза личи достанется вашему организму, только если продукт качественный. При покупке обратите внимание на кожуру. Её цвет должен быть равномерно розовым или красноватым, без явных коричневатых пятен и уж точно не коричневым, ведь это признак порчи плода.</p>

        <img src="@/assets/img/article/main.png" alt="article main image" class="article__main-img">

        <div class="article__harm">
          <h3>Вред личи</h3>
          <p class="text">Вред личи возможен при индивидуальной непереносимости. Также плоды способны вызвать аллергические высыпания на коже, а если съесть слишком много, то и диарею (что всё же редкость). Некоторые источники рекомендуют быть осторожными с фруктом женщинам в период беременности и маленьким детям, однако научных доказательств опасности этого продукта для них нет.</p>
          <br>
          <p class="text">Китайская слива (особенно недозрелые плоды) содержит гипоглицин. Эта аминокислота может понизить уровень сахара в крови. Однако риск гипогликемии может возникнуть, только если съесть очень много личи или потреблять этот продукт в период лечения препаратами, понижающими уровень глюкозы.</p>
        </div>

        <p class="text">Чаще всего личи едят свежими — в этом виде фрукт даёт наибольшую пользу. Кожуру аккуратно снимают, косточку удаляют. Ещё в продаже есть консервированные личи. Выбирая продукт, отдайте предпочтение тому, в котором нет или минимум сахара, поскольку в китайской сливе много собственного. Можно употреблять плоды и засушенными. Здесь всё как со свежим фруктом: снимите кожуру, удалите косточку и ешьте. Естественно, ожидать тех же ощущений, что при сочной мякоти, не стоит. В таком виде продукт похож на орехи.</p>
      </div>

      <div class="article__similar">
        <div class="article__similar__item-title title">Похожие статьи</div>
        <div class="article__similar-items">
          <div class="article__similar-item">
            <img src="@/assets/img/article/similar-1.png" alt="similar article" class="article__similar-img">
            <div class="article__similar-item-text">Что готовят на День святого Валентина /
              <span>традиционные блюда</span>
            </div>
          </div>
          <div class="article__similar-item">
            <img src="@/assets/img/article/similar-2.png" alt="similar article" class="article__similar-img">
            <div class="article__similar-item-text">7 самых легких и гениальных лайфхаков для кухни /
              <span>облегчаем готовку</span>
            </div>
          </div>
          <div class="article__similar-item">
            <img src="@/assets/img/article/similar-3.png" alt="similar article" class="article__similar-img">
            <div class="article__similar-item-text">Топ продуктов во время пандемии /
              <span>где взять витамины C, D и цинк.</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: "FullPost",
};
</script>

<style scoped></style>
