<template>
  <div class="page-recipes">
    <!-- SLIDE -->
    <div class="page-recipes__slide">
      <img src="@/assets/img/recipes/slide.jpg" alt="Slide image" class="page-recipes__slide-desktop">
      <img src="@/assets/img/recipes/slide-mobile.jpg" alt="Slide image" class="page-recipes__slide-mobile">
    </div>


    <!-- Any taste block -->
    <div class="any-taste">
      <div class="container">
        <div class="any-taste__header">
          <h2 class="title">Рецепты на любой вкус</h2>
          <a href="#" class="any-taste__link">Все рецепты</a>
        </div>

        <div class="any-taste__items">
          <!-- Any taste Item -->
          <div class="any-taste__item">
            <img src="@/assets/img/recipes/recipe-top-1.png" alt="Recipe image">

            <div class="any-taste__title">Классическая шарлотка с яблоками</div>

            <div class="any-taste__info">
              <div class="any-taste__info-wrapper">
                <div class="any-taste__time">
                  <div class="any-taste__time-title">Будет готово через</div>
                  <div class="any-taste__time-amount">30 минут</div>
                </div>

                <div class="any-taste__complexity">
                  <div class="any-taste__complexity-title">Сложность</div>
                  <div class="any-taste__complexity-items">
                    <button class="any-taste__complexity-item is-active"></button>
                    <button class="any-taste__complexity-item is-active"></button>
                    <button class="any-taste__complexity-item"></button>
                    <button class="any-taste__complexity-item"></button>
                    <button class="any-taste__complexity-item"></button>
                  </div>
                </div>
              </div>
              <!-- Any taste Author -->
              <div class="any-taste__author">
                <img src="@/assets/img/recipes/ilnur.png" alt="author image" class="any-taste__author-img">
                <div class="any-taste__author-info">
                  <div class="any-taste__author-title">Автор рецепта: </div>
                  <div class="any-taste__author-name">Сибгатулин Ильнур</div>
                  <div class="any-taste__author-position">кулинарный редактор «Готовим с Magnum»</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Any taste Item 2 -->
          <div class="any-taste__item">
            <img src="@/assets/img/recipes/recipe-top-2.png" alt="Recipe image">
            <div class="any-taste__title">Брауни (brownie)</div>
            <div class="any-taste__info">
              <div class="any-taste__info-wrapper">
                <div class="any-taste__time">
                  <div class="any-taste__time-title">Будет готово через</div>
                  <div class="any-taste__time-amount">40 минут</div>
                </div>
                <div class="any-taste__complexity">
                  <div class="any-taste__complexity-title">Сложность</div>
                  <div class="any-taste__complexity-items">
                    <button class="any-taste__complexity-item is-active"></button>
                    <button class="any-taste__complexity-item is-active"></button>
                    <button class="any-taste__complexity-item"></button>
                    <button class="any-taste__complexity-item"></button>
                    <button class="any-taste__complexity-item"></button>
                  </div>
                </div>
              </div>
              <!-- Any taste Author -->
              <div class="any-taste__author">
                <img src="@/assets/img/recipes/danara.png" alt="author image" class="any-taste__author-img">
                <div class="any-taste__author-info">
                  <div class="any-taste__author-title">Автор рецепта: </div>
                  <div class="any-taste__author-name">Данара Темирташева</div>
                  <div class="any-taste__author-position">кулинарный редактор «Готовим с Magnum»</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Any taste Item 3 -->
          <div class="any-taste__item">
            <img src="@/assets/img/recipes/recipe-top-3.png" alt="Recipe image">
            <div class="any-taste__title">Брускетта с помидорами</div>
            <div class="any-taste__info">
              <div class="any-taste__info-wrapper">
                <div class="any-taste__time">
                  <div class="any-taste__time-title">Будет готово через</div>
                  <div class="any-taste__time-amount">15 минут</div>
                </div>
                <div class="any-taste__complexity">
                  <div class="any-taste__complexity-title">Сложность</div>
                  <div class="any-taste__complexity-items">
                    <button class="any-taste__complexity-item is-active"></button>
                    <button class="any-taste__complexity-item is-active"></button>
                    <button class="any-taste__complexity-item"></button>
                    <button class="any-taste__complexity-item"></button>
                    <button class="any-taste__complexity-item"></button>
                  </div>
                </div>
              </div>
              <!-- Any taste Author -->
              <div class="any-taste__author">
                <img src="@/assets/img/recipes/nikita.png" alt="author image" class="any-taste__author-img">
                <div class="any-taste__author-info">
                  <div class="any-taste__author-title">Автор рецепта: </div>
                  <div class="any-taste__author-name">Никита Пронин</div>
                  <div class="any-taste__author-position">кулинарный редактор «Готовим с Magnum»</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button class="any-taste__more">Показать еще</button>
        <button class="any-taste__all-recipes">Все рецепты</button>
      </div>

    </div>


    <div class="page-recipes__interesting">
      <div class="container">
        <h2 class="title">Интересное о полезном</h2>

        <div class="interesting__items">
          <!-- Item 1 -->
          <div class="interesting__item">
            <img src="@/assets/img/recipes/interesting-1.png" alt="interesting image" class="interesting__img">
            <div class="interesting__title-wrapper">
              <div class="interesting__item-title">Что готовят на День святого Валентина / <span>традиционные блюд</span>а</div>
            </div>
          </div>
          <!-- Item 2 -->
          <div class="interesting__item">
            <img src="@/assets/img/recipes/interesting-2.png" alt="interesting image" class="interesting__img">
            <div class="interesting__title-wrapper">
              <div class="interesting__item-title">7 самых легких и гениальных лайфхаков для кухни / <span>облегчаем готовку</span></div>
            </div>
          </div>
          <!-- Item 3 -->
          <div class="interesting__item">
            <img src="@/assets/img/recipes/interesting-3.png" alt="interesting image" class="interesting__img">
            <div class="interesting__title-wrapper">
              <div class="interesting__item-title">Топ продуктов во время пандемии / <span>где взять витамины C, D и цинк.</span></div>
            </div>
          </div>
        </div>
        <!-- Items -->

        <div class="interesting__bottom">
          <!-- Item 1 -->
          <div class="interesting__bottom-item">
            <img src="@/assets/img/recipes/interesting-4.png" alt="image interesting" class="interesting__bottom-img">
            <div class="interesting__title-wrapper">
              <div class="interesting__bottom-title">Как правильно размораживать продукты / <span>полезные советы</span></div>
            </div>
          </div>
          <!-- Item 2 -->
          <div class="interesting__bottom-item">
            <img src="@/assets/img/recipes/interesting-5.png" alt="image interesting" class="interesting__bottom-img">
            <div class="interesting__title-wrapper">
              <div class="interesting__bottom-title">Как сделать высокую пенку для кофе / <span>советы для любителей кофе</span></div>
            </div>
          </div>
          <!-- Item 3 -->
          <div class="interesting__bottom-item">
            <img src="@/assets/img/recipes/interesting-6.png" alt="image interesting" class="interesting__bottom-img">
            <div class="interesting__title-wrapper">
              <div class="interesting__bottom-title">Особенности правильного питания / <span>Каким правилам требуется следовать ежедневно</span></div>
            </div>
          </div>
          <!-- Item 4 -->
          <div class="interesting__bottom-item">
            <img src="@/assets/img/recipes/interesting-7.png" alt="image interesting" class="interesting__bottom-img">
            <div class="interesting__title-wrapper">
              <div class="interesting__bottom-title">Калорийность продуктов / <span>Как рассчитать и зачем это делать</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Any taste block -->
    <div class="any-taste">
      <div class="container">
        <div class="any-taste__header">
          <h2 class="title">Отличные блюда на завтрак, обед и ужин</h2>
          <a href="#" class="any-taste__link">Все рецепты</a>
        </div>

        <div class="any-taste__items">
          <!-- Any taste Item -->
          <div class="any-taste__item">
            <img src="@/assets/img/recipes/meal-1.png" alt="Recipe image">

            <div class="any-taste__title">Картофельные драники</div>

            <div class="any-taste__info">
              <div class="any-taste__info-wrapper">
                <div class="any-taste__time">
                  <div class="any-taste__time-title">Будет готово через</div>
                  <div class="any-taste__time-amount">30 минут</div>
                </div>

                <div class="any-taste__complexity">
                  <div class="any-taste__complexity-title">Сложность</div>
                  <div class="any-taste__complexity-items">
                    <button class="any-taste__complexity-item is-active"></button>
                    <button class="any-taste__complexity-item is-active"></button>
                    <button class="any-taste__complexity-item"></button>
                    <button class="any-taste__complexity-item"></button>
                    <button class="any-taste__complexity-item"></button>
                  </div>
                </div>
              </div>
              <!-- Any taste Author -->
              <div class="any-taste__author">
                <img src="@/assets/img/recipes/ilnur.png" alt="author image" class="any-taste__author-img">
                <div class="any-taste__author-info">
                  <div class="any-taste__author-title">Автор рецепта: </div>
                  <div class="any-taste__author-name">Сибгатулин Ильнур</div>
                  <div class="any-taste__author-position">кулинарный редактор «Готовим с Magnum»</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Any taste Item 2 -->
          <div class="any-taste__item">
            <img src="@/assets/img/recipes/meal-2.png" alt="Recipe image">
            <div class="any-taste__title">Малиновый кисель</div>
            <div class="any-taste__info">
              <div class="any-taste__info-wrapper">
                <div class="any-taste__time">
                  <div class="any-taste__time-title">Будет готово через</div>
                  <div class="any-taste__time-amount">40 минут</div>
                </div>
                <div class="any-taste__complexity">
                  <div class="any-taste__complexity-title">Сложность</div>
                  <div class="any-taste__complexity-items">
                    <button class="any-taste__complexity-item is-active"></button>
                    <button class="any-taste__complexity-item is-active"></button>
                    <button class="any-taste__complexity-item"></button>
                    <button class="any-taste__complexity-item"></button>
                    <button class="any-taste__complexity-item"></button>
                  </div>
                </div>
              </div>
              <!-- Any taste Author -->
              <div class="any-taste__author">
                <img src="@/assets/img/recipes/danara.png" alt="author image" class="any-taste__author-img">
                <div class="any-taste__author-info">
                  <div class="any-taste__author-title">Автор рецепта: </div>
                  <div class="any-taste__author-name">Данара Темирташева</div>
                  <div class="any-taste__author-position">кулинарный редактор «Готовим с Magnum»</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Any taste Item 3 -->
          <div class="any-taste__item">
            <img src="@/assets/img/recipes/meal-3.png" alt="Recipe image">
            <div class="any-taste__title">Куриные ножки в томатном соусе</div>
            <div class="any-taste__info">
              <div class="any-taste__info-wrapper">
                <div class="any-taste__time">
                  <div class="any-taste__time-title">Будет готово через</div>
                  <div class="any-taste__time-amount">15 минут</div>
                </div>
                <div class="any-taste__complexity">
                  <div class="any-taste__complexity-title">Сложность</div>
                  <div class="any-taste__complexity-items">
                    <button class="any-taste__complexity-item is-active"></button>
                    <button class="any-taste__complexity-item is-active"></button>
                    <button class="any-taste__complexity-item"></button>
                    <button class="any-taste__complexity-item"></button>
                    <button class="any-taste__complexity-item"></button>
                  </div>
                </div>
              </div>
              <!-- Any taste Author -->
              <div class="any-taste__author">
                <img src="@/assets/img/recipes/nikita.png" alt="author image" class="any-taste__author-img">
                <div class="any-taste__author-info">
                  <div class="any-taste__author-title">Автор рецепта: </div>
                  <div class="any-taste__author-name">Никита Пронин</div>
                  <div class="any-taste__author-position">кулинарный редактор «Готовим с Magnum»</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button class="any-taste__more bottom">Показать еще</button>
        <button class="any-taste__all-recipes bottom">Все рецепты</button>
      </div>

    </div>

    <discount-list />
  </div>
</template>

<script>
export default {
  name: "CookingPage",
  components: {
    DiscountList: () => import("@/components/discount/DiscountList.vue"),
  },
};
</script>

<style scoped></style>
