<template>
  <div class="sp">
    <div class="sp__slider swiper">
      <swiper ref="swiperRef">
        <swiper-slide>
          <!-- SLIDE 1 -->
          <div class="sp__slide swiper-slide">
            <div class="sp__descr">
              <div class="sp__header">
                <h2 class="sp__title">Кулинария</h2>
                <div class="sp__subtitle">
                  Более 1200 вкусных и сбалансированных блюд
                </div>
              </div>
              <div class="sp__item">
                <h3>Самое свежее каждый день</h3>
                <p>
                  Наши повара бдительно следят за качеством продуктов, чтобы на
                  витринах всегда были только свежие и ароматные блюда
                </p>
              </div>
              <div class="sp__item">
                <h3>Польза для вашего здоровья</h3>
                <p>
                  В ассортименте сбалансированная полезная еда, диетическое
                  мясо, спелые овощи и фрукты - ведь мы заботимся о вашем
                  здоровье
                </p>
              </div>
              <div class="sp__item">
                <h3>Приготовим на вынос</h3>
                <p>
                  Вы всегда сможете заказать праздничное или привычное вам меню
                  на каждый день, чтобы не тратить время на готовку
                </p>
              </div>
            </div>
            <div class="sp__img">
              <img
                src="@/assets/img/sp/slide-1.png"
                alt="slide image"
                class="desktop"
              />
              <img
                src="@/assets/img/sp/slide-1-mobile.jpg"
                alt="slide image"
                class="mobile"
              />
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <!-- SLIDE 2 -->
          <div class="sp__slide swiper-slide">
            <div class="sp__descr">
              <div class="sp__header">
                <h2 class="sp__title color-blue">Пекарня</h2>
                <div class="sp__subtitle">
                  Свежий хлеб, булочки и торты каждый день
                </div>
              </div>
              <div class="sp__item">
                <h3>Прямиком из печи</h3>
                <p>
                  Пекарня работает 7 дней в неделю и каждое утро на полках вас
                  ждут горячие, мягкие булочки, буханки и еще 40 сортов выпечки
                </p>
              </div>
              <div class="sp__item">
                <h3>Наша Чудо-печь</h3>
                <p>
                  Мы следим за нашим оборудованием и содержим наши чудо-печки в
                  идеальном состоянии, чтобы они пекли для вас вкусную выпеку
                </p>
              </div>
              <div class="sp__item">
                <h3>Мы любим наше дело</h3>
                <p>
                  Наши пекари изготовили рецепт хлеба, в состав который входит:
                  мука, дрожжи, соль и любовь к своему делу
                </p>
              </div>
            </div>
            <div class="sp__img">
              <img
                src="@/assets/img/sp/slide-2.png"
                alt="slide image"
                class="desktop"
              />
              <img
                src="@/assets/img/sp/slide-2-mobile.jpg"
                alt="slide image"
                class="mobile"
              />
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <!-- SLIDE 3 -->
          <div class="sp__slide swiper-slide">
            <div class="sp__descr">
              <div class="sp__header">
                <h2 class="sp__title color-red">Кафетерий</h2>
                <div class="sp__subtitle">Здоровое питание и вкусные цены</div>
              </div>
              <div class="sp__item">
                <h3>Быстро и удобно</h3>
                <p>
                  Наши кафетерии располагаются в супермаркетах и гипермаркетах
                  нашей сети. Во время покупок вы сможете отдохнуть и перекусить
                  в удобном кафетерии
                </p>
              </div>
              <div class="sp__item">
                <h3>Приготовим для Вас</h3>
                <p>
                  Вы сможете позавтракать, пообедать и поужинать в нашем
                  кафетерии, а так же взять еду с собой домой или на работу
                </p>
              </div>
              <div class="sp__item">
                <h3>Заманчивые скидки</h3>
                <p>Каждую неделю действуют скидки на разные категории блюд</p>
              </div>
            </div>
            <div class="sp__img">
              <img
                src="@/assets/img/sp/slide-3.png"
                alt="slide image"
                class="desktop"
              />
              <img
                src="@/assets/img/sp/slide-3-mobile.jpg"
                alt="slide image"
                class="mobile"
              />
            </div></div
        ></swiper-slide>
      </swiper>

      <div class="sp__slider-nav">
        <button class="sp__close-btn" @click="goBack"></button>
        <div class="sp__arrows">
          <button @click.prevent="prevSlide" class="sp__prev-btn"></button>
          <button @click.prevent="nextSlide" class="sp__next-btn"></button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "OwnProduction",
  data() {
    return {
      slidesTotalCount: 0,
      currentSlide: 0,
      spaceBetween: 10,
      swiperOption: {
        slideTo: 1,
        slidesPerView: 1,
        responsive: true,
      },
    };
  },
  computed: {
    swiper() {
      return this.$refs.swiperRef;
    },
  },
  mounted() {
    this.slidesTotalCount = this.swiper.swiperInstance.slides.length;
    this.currentSlide = this.swiper.swiperInstance.activeIndex + 1;
  },
  methods: {
    prevSlide() {
      console.log(this.swiper.swiperInstance.realIndex);
      this.swiper.swiperInstance.slidePrev();
      this.currentSlide = this.swiper.swiperInstance.realIndex + 1;
    },
    nextSlide() {
      this.swiper.swiperInstance.slideNext();
      this.currentSlide = this.swiper.swiperInstance.realIndex + 1;
    },

    goBack() {
      this.$router.push("/");
    },
  },
};
</script>

<style scoped></style>
