mixin our-stores()

	+b.SECTION.our-stores
		.container
			+header-block('Наши магазины')
			+e.buttons
				+e.BUTTON.button Список
				+e.BUTTON.button.is-active На карте
			+e.list
				+e.A(href="#").link.is-active Все магазины
				+e.A(href="#").link Daily
				+e.A(href="#").link Express
				+e.A(href="#").link Super
				+e.A(href="#").link Hyper
