.our-stores
	padding-top: 20px
	+adaptive-value('padding-bottom', 40, 25, 1)

	.header-block__link
		display: none

	&__list
		+adaptive-value('margin-top', 40, 25, 1)
		+xs-block
			overflow: auto
			&::-webkit-scrollbar-thumb
				background: transparent
			::-webkit-scrollbar-thumb
				background: transparent

	&__buttons
		display: none
		margin-top: 25px
		border: 1px solid #E8E8E8
		border-radius: 10px
		height: 35px
		font-size: 14px
		+xs-block
			display: flex

	&__button
		width: 50%
		border-radius: 10px
		transition: .3s all
		&.is-active
			color: #fff
			background: #F50F64

	&__link
		margin-right: 60px
		font-size: 18px
		white-space: nowrap
		&:last-child
			margin-right: 0
		+hover-link
		+xs-block
			font-size: 16px
		&.is-active
			color: $main-color
