.city-choice
	display: none

	&.is-opened
		position: fixed
		width: 100%
		height: 100%
		background: rgba(0, 0, 0, 0.5)
		z-index: 100
		transition: .3s all
		display: flex
		justify-content: flex-end

	&__container
		width: 430px
		background-color: #fff
		border-radius: 20px 0px 0px 20px
		color: #2d2f32
		padding-left: 35px
		padding-right: 20px
		padding-top: 40px
		padding-bottom: 60px
		display: flex
		flex-direction: column
		position: relative
		+sm-block
			width: 100%
			border-radius: 0
			padding-left: 15px
			padding-right: 15px
			padding-top: 30px

	&__title
		+adaptive-value('font-size', 24, 20, 1)
		font-family: $main-font-medium
		+sm-block
			padding-left: 30px

	&__list
		margin-top: 23px

	&__city
		display: block
		font-size: 18px
		margin: 17px 0
		+hover-link
		&.is-active
			color: $main-color

	&__button
		background: #ECECEC
		border-radius: 15px
		display: flex
		align-items: center
		justify-content: center
		height: 50px
		width: 100%
		+hover-link
		font-family: $main-font-medium
		margin-top: 50px
		margin-top: auto

	&__hide
		position: absolute
		top: 50%
		transform: translateY(-50%) rotate(-90deg)
		left: -100px
		width: 62px
		height: 62px
		background-image: url('~@/assets/img/icons/arrow-gray.svg')
		background-size: 21px 9px
		background-repeat: no-repeat
		background-position: center center

		border: 1px solid #999999
		border-radius: 50%
		background-color: #fff
		+sm-block
			background-color: transparent
			transform: translateY(-50%)
			background-size: 9px 21px
			background-image: url('~@/assets/img/icons/arrow.svg')
			width: 21px
			height: 21px
			border: none
			top: 43px
			left: 15px
