.stocks-products
	max-width: 1920px
	margin: 0 auto

	&__img
		max-height: 550px
		overflow: hidden
		img
			margin: 0 auto
			width: 100%
			height: 100%
			object-fit: cover
		+xs-block
			display: none

	&__content
		padding-top: 40px
		+xs-block
			padding-top: 30px

	&__nav
		color: $gray
		font-size: 14px

	.header-block
		margin-top: 30px

	.product-block
		+col
		+size(2.4)
		+size-md(3)
		+size-sm(4)
		+size-xs(12)

	.stocks-product-more
		display: block
		margin-top: 40px
		max-width: 200px
		margin-left: auto
		margin-right: auto
		+xs-block
			max-width: none
			+button-main

	&__suggestions
		+adaptive-value('margin-top', 70, 40, 1)

	&__suggestions-items
		display: flex
		flex-wrap: wrap
		gap: 20px
		+adaptive-value('margin-top', 40, 25, 1)

	.stocks__item
		width: calc(100%/3 - 14px)
		+sm-block
			width: calc(100%/2 - 14px)
		+xs-block
			width: 100%

// STOCK PRODUCTS FULL
.stocks-products-full
	+adaptive-value('padding-bottom', 70, 40, 1)
	border-bottom: 2px solid #ECECEC

	&__img
		z-index: 1

	.stocks-products__img
		position: relative
		z-index: -1
		+sm-block
			display: block
			max-height: 600px

	&__slide-desktop
		+xs-block
			display: none

	&__slide-mobile
		display: none
		+xs-block
			display: block

	&__card
		z-index: 2
		padding-left: 15px
		padding-right: 15px
		.container
			background: #FFFFFF
			border: 1px solid #ECECEC
			box-shadow: 1px 1px 17px 1px rgba(32, 32, 32, 0.15)
			border-radius: 15px
			margin-top: -30px

			+adaptive-value('padding-top', 40, 25, 1)
			+adaptive-value('padding-bottom', 30, 20, 1)
			+sm-block
				margin-top: -15px

	&__header
		max-width: 320px
		h1
			+adaptive-value('margin-bottom', 20, 15, 1)

	.title
		margin: 0
		+adaptive-value('padding-bottom', 20, 15, 1)
		position: relative
		&:after
			content: ''
			position: absolute
			bottom: 0
			left: 0
			height: 3px
			width: 100%
			background-color: #ececec
			+sm-block
				height: 2px
			+xs-block
				width: 150px

	&__draw
		display: inline-block
		+adaptive-value('font-size', 20, 14, 1)
		color: #fff
		background: #FFCC01
		border-radius: 15px 15px 15px 0px
		padding: 10px 15px
		+adaptive-value('margin-top', 20, 15, 1)
		// border-top: 3px solid #ECECEC
		+sm-block
			padding: 3px 10px
			border-width: 2px

	&__subtitle-desktop
		+adaptive-value('font-size', 20, 14, 1)
		+adaptive-value('margin-top', 20, 15, 1)
		+to(767px)
			display: none

	&__subtitle-mobile
		+adaptive-value('font-size', 20, 14, 1)
		+adaptive-value('margin-top', 20, 15, 1)
		display: none
		+to(767px)
			display: block

	&__card-content
		display: flex
		+adaptive-value('gap', 60, 25, 1)
		+to(767px)
			flex-direction: column

	&__list
		counter-reset: li
		max-width: 600px
		margin-top: 20px
		+sm-block
			margin-top: 0
		+to(767px)
			order: 1

	&__item
		display: block
		+adaptive-value('font-size', 20, 14, 1)
		+adaptive-value('margin-top', 35, 10, 1)
		+adaptive-value('margin-bottom', 35, 10, 1)
		+adaptive-value('padding-left', 80, 35, 1)
		position: relative
		&:before
			content: ''
			content: counter(li)
			counter-increment: li
			+adaptive-value('font-size', 63, 36, 1)
			font-family: $main-font-bold
			color: $main-color
			position: absolute
			left: 0
			top: 50%
			transform: translateY(-50%)

	&__date
		display: block
		+adaptive-value('font-size', 18, 14, 1)
		color: $main-color
		padding-top: 20px
		+adaptive-value('padding-left', 80, 35, 1)

	&__rules
		+adaptive-value('font-size', 18, 14, 1)
		color: $main-color
		display: block
		+adaptive-value('margin-top', 10, 5, 1)
		text-decoration: underline
		+adaptive-value('padding-left', 80, 35, 1)

	&__img-desktop
		margin-top: -60px
		min-width: 240px
		+to(767px)
			order: 2
			min-width: 100px
			max-width: 200px
			margin-top: 25px
			margin-left: auto
			margin-right: auto
		+xs-block
			max-width: 140px
