mixin stocks()

	+b.SECTION.stocks
		.container
			+header-block('Акции', 'Смотреть все')
			+e.items
				+e.A(href="#").item
					img(src="img/stocks/stock-1.png" alt="stock image" width="380" height="320")
				+e.A(href="#").item
					img(src="img/stocks/stock-2.png" alt="stock image" width="380" height="320")
				+e.A(href="#").item
					img(src="img/stocks/stock-3.png" alt="stock image" width="380" height="320")
			+e.BUTTON.button Показать еще
