.news
	padding-top: 40px
	+adaptive-value('padding-bottom', 70, 40, 1)
	border-bottom: 2px solid #ececec
	+xs-block
		padding-top: 30px

	.header-block
		display: flex
		align-items: center
		justify-content: space-between
		position: relative
		+sm-block
			flex-direction: column
			align-items: flex-start

	&__items
		+row-flex
		+adaptive-value('margin-top', 40, 25, 1)
		+adaptive-value('row-gap', 70, 40, 1)

	&__item
		+col
		+size(4)
		+size-sm(6)
		+size-xs(12)
		font-family: $main-font-medium

	&__img
		width: 100%
		object-fit: cover

	&__date
		+adaptive-value('font-size', 18, 14, 1)
		color: $gray
		display: block
		margin-top: 15px

	&__news-title
		+adaptive-value('font-size', 20, 16, 1)
		color: #2d2f32
		margin-top: 15px
		display: block


	// NEWS FILTER
	&__filter
		display: none
		&.is-active
			display: block
			position: absolute
			top: 50px
			right: 0
			background-color: #fff
			padding: 30px
			padding-top: 10px
			border: 1px solid #ECECEC
			box-shadow: 3px 4px 18px -2px rgba(119, 119, 119, 0.15)
			border-radius: 15px
			+sm-block
				width: 100%
				top: 105px
			+xs-block
				border: none
				box-shadow: none
				border-radius: 0
				padding-left: 0
				padding-right: 0

	&__filter-title
		font-family: $main-font-medium
		font-size: 20px
		margin-bottom: 20px
		display: none
		+sm-block
			display: block

	&__sorting-show
		+button-gray
		margin-top: 20px
		+sm-block
			color: #fff
			background-color: $main-color
			margin-top: 40px

	&__sorting-reset
		+button-gray
		margin-top: 15px

.news__sorting-item
	+checkmark-blocks
