mixin own-production()

	+b.SECTION.own-production
		.container
			+header-block('Собственное производство')
			+e.items
				+e.A(href="#").item
					img(src="img/own-production/production-1.png" alt="production image" width="380" height="410")
				+e.A(href="#").item
					img(src="img/own-production/production-2.png" alt="production image" width="380" height="410")
				+e.A(href="#").item
					img(src="img/own-production/production-3.png" alt="production image" width="380" height="410")
