.sp
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  position: relative

  .swiper-wrapper

  &__slide
    display: flex
    justify-content: space-between
    +sm-block
      flex-direction: column

  &__descr
    max-width: 730px
    +adaptive-value('padding-left', 180, 15, 1)
    display: flex
    flex-direction: column
    justify-content: center
    +sm-block
      order: 2
      padding-left: 15px
      padding-bottom: 30px
      padding-top: 50px
      padding-right: 15px
    +xs-block
      padding-top: 30px

  &__header

  &__img
    height: 100vh
    img
      width: 100%
      height: 100%
      object-fit: cover
      &.desktop
        +sm-block
          display: none
      &.mobile
        display: none
        +sm-block
          order: 1
          display: block

  &__title
    display: inline-block
    +adaptive-value('font-size', 48, 24, 1)
    font-family: $main-font-bold
    color: #fff
    background: #00C389
    padding: 12px
    transform: rotate(-12deg)
    &.color-blue
      background: #3a2fbc
    &.color-red
      background: #E60053

  &__subtitle
    +adaptive-value('font-size', 24, 18, 1)
    font-family: $main-font-medium
    +adaptive-value('margin-top', 40, 15, 1)

  &__item
    +adaptive-value('margin-top', 30, 23, 1)
    &:first-of-type
      margin-top: 0
    h3
      +adaptive-value('font-size', 24, 18, 1)
      font-family: $main-font-bold
    p
      +adaptive-value('margin-top', 15, 12, 1)
      +adaptive-value('font-size', 18, 14, 1)

  &__slider-nav
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 40px
    +adaptive-value('left', 40, 16, 1)
    height: 100vh
    max-height: 580px
    display: flex
    flex-direction: column
    justify-content: space-between
    z-index: 2
    +sm-block
      max-height: none
      justify-content: flex-start
      margin-top: 35px

  &__close-btn
    +adaptive-value('width', 63, 37, 1)
    +adaptive-value('height', 63, 37, 1)
    background: url('~@/assets/img/icons/close.svg') center center/contain no-repeat

  &__prev-btn
    +adaptive-value('width', 63, 37, 1)
    +adaptive-value('height', 63, 37, 1)
    background: url('~@/assets/img/icons/prev.svg') center center/contain no-repeat

  &__next-btn
    +adaptive-value('width', 63, 37, 1)
    +adaptive-value('height', 63, 37, 1)
    background: url('~@/assets/img/icons/next.svg') center center/contain no-repeat
    margin-top: 20px

  &__arrows
    display: flex
    flex-direction: column
    +sm-block
      margin-top: 260px

  &__

  &__

  &__

  &__

  &__

  &__