<template>
  <router-link
    class="recipe-link"
    :to="{ name: 'recipeItem', params: { id: rec.id } }"
  >
    <div class="recipe-card">
      <!-- Data -->
      <span>{{ rec.id }}){{ rec.attributes.title }}</span>
    </div>
  </router-link>
</template>

<script>
export default {
  name: "RecipeBlock",
  props: {
    rec: Object,
  },
};
</script>
<style scoped>
.recipe-card{
  background-color: #F21066;
  color: white;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  font-size: 20px;
}
</style>
