<template>
  <footer class="footer">
    <div class="container">
      <a class="footer__logo" href="#"
        ><img
          src="@/assets/img/icons/logo-footer.svg"
          alt="Logo Magnum"
          width="223"
          height="66"
      /></a>
      <div class="footer__menu">
        <div class="footer__left">
          <div class="footer-item">
            <div class="footer-item__title">О компании</div>
            <div class="footer-item__list">
              <a class="footer-item__link" href="#">Компания Magnum</a
              ><a class="footer-item__link" href="#">Новости компании</a
              ><a class="footer-item__link" href="#">Карьера в Magnum</a
              ><a class="footer-item__link" href="#">Наши бренды</a>
            </div>
          </div>
          <div class="footer-item">
            <div class="footer-item__title">Покупателям</div>
            <div class="footer-item__list">
              <a class="footer-item__link" href="#">Magnum Club</a
              ><a class="footer-item__link" href="#">Magnum Go</a
              ><a class="footer-item__link" href="#"
                >Что важно знать<br />о коронавирусе</a
              ><a class="footer-item__link" href="#"
                >Гарантированная социальная помощь</a
              >
            </div>
          </div>
          <div class="footer-item">
            <div class="footer-item__title">Контакты</div>
            <div class="footer-item__list">
              <a class="footer-item__link" href="#">Магазины</a
              ><a class="footer-item__link" href="#">Реквизиты</a>
            </div>
          </div>
        </div>
        <div class="footer-info">
          <div class="footer-info__support">Служба поддержки</div>
          <div class="footer-info__phone">
            <a href="tel:7766">7766</a><span>звонок бесплатный</span>
          </div>
          <div class="footer-info__social-links">
            <span>Мы в социальных сетях</span>
            <div class="footer-info__links">
              <a class="fb" href="#" target="_blank"></a
              ><a class="insta" href="#" target="_blank"></a
              ><a class="twitter" href="#" target="_blank"></a
              ><a class="tiktok" href="#" target="_blank"></a
              ><a class="telegram" href="#" target="_blank"></a
              ><a class="vk" href="#" target="_blank"></a
              ><a class="ok" href="#" target="_blank"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
</style>