<template>
  <div class="header-wrapper">
    <header class="header">
      <div class="container">
        <div class="header-top">
          <div class="header-top__left">
            <button class="header-top__btn" @click="openMenu"></button
            ><a class="header-top__logo" href="#"
              ><img
                class="logo-img"
                src="@/assets/img/icons/logo.svg"
                alt="Логотип"
                width="221"
                height="40" />
              <img
                class="logo-img-mobile"
                src="@/assets/img/icons/logo-mobile.svg"
                alt="Логотип"
                width="43"
                height="25" /></a
            ><a class="header-top__magnum" href="#" target="_blank"
              >Magnum Corp.</a
            >
          </div>
          <div class="header-top__search">
            <form action="">
              <input type="text" placeholder="Найдем всё" />
              <div class="header-top__search-btn">
                <a class="search-link-selected" href="#">по товарам</a>
                <div class="header-top__search-list">
                  <a class="search-link" href="#">по сайту</a
                  ><a class="search-link" href="#">по новостям</a
                  ><a class="search-link" href="#">по рецептам</a>
                </div>
              </div>
            </form>
          </div>
          <div class="header-top__settings">
            <div
              v-if="selectedCity"
              class="header-top__address"
              @click="openSelectCity"
            >
              {{ selectedCity.attributes.name.substring(0, 3) }}
            </div>
            <div class="header-top__language">RU</div>
          </div>
        </div>
      </div>
    </header>

    <nav class="header-nav">
      <div class="container">
        <ul class="header-nav__list">
          <li class="header-nav__item">
            <a
              class="header-nav__stock color-green catalog-stocks-link"
              href="#"
              >Каталог скидок</a
            >
          </li>
          <li class="header-nav__item">
            <a class="header-nav__stock color-orange stocks-link" href="#"
              >Акции</a
            >
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#">Magnum Club</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#">Magnum Go</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#">Наши бренды</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#">Готовим с Magnum</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#">Магазины</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#">Контакты</a>
          </li>
          <li class="header-nav__item about-company-link">
            <a class="header-nav__link" href="#">О компании</a>
            <div class="header-nav__about">
              <a href="#">Компания Magnum</a><a href="#">Новости компании</a
              ><a href="#">Мы в СМИ</a><a href="#">Карьера в Magnum</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { actionTypes } from "@/store";

export default {
  name: "AppHeader",
  computed: {
    ...mapState("cityModule", ["selectedCity"]),
  },
  methods: {
    ...mapActions({
      openMenu: actionTypes.changeIsOpenMenu,
      openSelectCity: actionTypes.changeIsOpenSelectCity,
    }),
  },
};
</script>

<style lang="scss" scoped>
</style>