<template>
  <div class="header-menu" :class="{ 'is-opened': isOpenMenu }">
    <div class="container">
      <div class="header-menu__top">
        <div class="header-menu__logo">
          <button class="close-btn" @click="closeMenu"></button>
          <img
            src="@/assets/img/icons/logo.svg"
            alt="logo"
            class="header-menu-logo-desktop"
          />
          <img
            src="@/assets/img/icons/logo-mobile.svg"
            alt="logo"
            class="header-menu-logo-mobile"
          />
        </div>
        <div class="header-menu__title">НАПОЛНЯЕМ<br />ЖИЗНЬ</div>
        <div class="header-menu__settings">
          <div class="header-menu__address">АЛА</div>
          <div class="header-menu__language">RU</div>
        </div>
      </div>
      <div class="header-menu__content">
        <div class="header-menu__left">
          <div class="header-menu__list">
            <a href="#" class="header-menu__link">Акции</a>
            <a href="#" class="header-menu__link">Каталог скидок</a>
            <a href="#" class="header-menu__link">Программа лояльности</a>
            <a href="#" class="header-menu__link">Заказ с доставкой</a>
            <a href="#" class="header-menu__link">Магазины</a>
            <a href="#" class="header-menu__link">Magnum Corp.</a>
            <a href="#" class="header-menu__link">Контакты</a>
          </div>
          <div class="header-menu__phones">
            <span>Служба поддержки</span>
            <a href="tel:88000709470">8 800 070 94 70</a>
          </div>
          <div class="header-menu__social-links">
            <span>Мы в социальных сетях</span>
            <div class="header-menu__links">
              <a class="fb" href="#" target="_blank"></a>
              <a class="insta" href="#" target="_blank"></a>
              <a class="twitter" href="#" target="_blank"></a>
              <a class="tiktok" href="#" target="_blank"></a>
              <a class="telegram" href="#" target="_blank"></a>
              <a class="vk" href="#" target="_blank"></a>
              <a class="ok" href="#" target="_blank"></a>
            </div>
          </div>
        </div>
        <div class="header-menu__right">
          <a href="#" class="header-menu__link">О компании</a>
          <a href="#" class="header-menu__link">Работа в Magnum</a>
          <a href="#" class="header-menu__link">Новости компании</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { actionTypes } from "@/store";

export default {
  name: "AppMenu",
  computed: {
    ...mapState(["isOpenMenu"]),
  },
  methods: {
    ...mapActions({ closeMenu: actionTypes.changeIsOpenMenu }),
  },
};
</script>

<style lang="scss" scoped>
</style>