<template>
  <div class="city-choice" :class="{ 'is-opened': isOpenSelectCity }">
    <div class="city-choice__container">
      <div class="city-choice__title">Выберите свой город:</div>
      <div v-if="cities" class="city-choice__list">
        <a
          v-for="city of cities"
          :key="city.id"
          href="#"
          class="city-choice__city"
          :class="{
            'is-active': city.id === selectedCity.id,
          }"
          @click.prevent="saveChoosedCity(city)"
        >
          {{ city.attributes.name }}
        </a>
      </div>
      <button class="city-choice__button" @click="closeSelectCity">
        Выбрать город
      </button>
      <button class="city-choice__hide" @click="closeSelectCity"></button>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { actionTypes } from "@/store";
import { actionTypes as actionTypesCity } from "@/store/modules/city";

export default {
  name: "CitiesList",
  computed: {
    ...mapState(["isOpenSelectCity"]),
    ...mapState("cityModule", { cities: "data", selectedCity: "selectedCity" }),
  },
  created() {
    this.getAllCities();
  },
  methods: {
    ...mapActions({ closeSelectCity: actionTypes.changeIsOpenSelectCity }),
    ...mapActions("cityModule", {
      getAllCities: actionTypesCity.loadAllCities,
      saveChoosedCity: actionTypesCity.changeSelectedCity,
    }),
  },
};
</script>

<style lang="scss" scoped>
</style>