<template>
  <div class="header-block">
    <h2 class="title">{{ title }}</h2>
    <router-link class="header-block__link" :to="to">Смотреть все</router-link>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    to: {
      type: String,
      required: true,
    },
  },
};
</script>
