.search
  +adaptive-value('padding-top', 50, 20, 1)
  +adaptive-value('padding-bottom', 70, 40, 1)
  border-bottom: 2px solid #ECECEC

  &__nav
    color: $gray
    +scroll-hide
    a
      white-space: nowrap

  &__found
    display: flex
    align-items: center
    margin-top: 25px

  &__found-title
    margin-right: 5px

  .discount-catalog
    padding-top: 35px

  .header-block__link
    display: none

  &__stocks-amount
    +adaptive-value('font-size', 18, 12, 1)
    color: $gray

  &__stocks-items
    +adaptive-value('margin-top', 40, 25, 1)
    +row-flex
    row-gap: 20px

  &__stocks-item
    +col
    +size(4)
    +size-sm(6)
    +size-xs(12)
    img
      width: 100%

  &__recipes
    +adaptive-value('margin-top', 70, 40, 1)

  &__recipes-amount
    +adaptive-value('font-size', 18, 12, 1)
    color: $gray

  .recipe-block
    +adaptive-value('margin-top', 40, 25, 1)
