<template>
  <div class="full-product">
    <div class="container">
      <div class="full-product__nav">
        <a href="#" class="main-page-link">Главная / </a>
        <a href="#" class="page-catalog-link">Каталог скидок /</a>
        <a href="#" class="full-product-link"
          >Йогрут «Teos» греческий натуральный 2% 140 г</a
        >
      </div>

      <div class="full-product__content">
        <div class="full-product__descr-wrapper">
          <div class="full-product__date">
            <div class="full-product__stock">-37%</div>
            <div class="full-product__time">действует до 31.03.2022</div>
            <div class="full-product__time-mobile">до 13.12</div>
          </div>
          <div class="full-product__title-wrapper">
            <h1 class="full-product__title">
              Йогурт «Teos» греческий натуральный 2%, 140г
            </h1>
            <div class="full-product__descr">
              Акция действует при наличии товара на полке. Подробности уточняйте
              у сотрудников магазина.
            </div>
          </div>
          <div class="full-product__prices">
            <div class="full-product__price-old">565 тг</div>
            <div class="full-product__price-new">389 тг</div>
          </div>
        </div>

        <div class="full-product__img">
          <img
            src="@/assets/img/product/teos.png"
            alt="Product image"
            width="304"
            height="304"
          />
        </div>
      </div>

      <div class="full-product__stock">
        <h2 class="full-product__stock-title">
          Магазины, в которых действует скидка
        </h2>
      </div>

      <div class="full-product__items"></div>

      <div class="full-product__items"></div>
    </div>

    <shops-map />

    <weekly-products-list />

    <section class="banner-vacancy">
      <img
        class="banner-text-img"
        src="@/assets/img/icons/banner-text.svg"
        alt="banner text"
      />

      <div class="container">
        <div class="banner-vacancy__content">
          <div class="banner-vacancy__header">
            <img
              class="banner-wings"
              src="@/assets/img/icons/banner-wings.svg"
              alt="image"
              width="64"
              height="67"
            />
            <h2>
              Построй свою карьеру вместе с Magnum!<span
                >Оставь заявку на сайте и работай с командой мечты</span
              >
            </h2>
          </div>
          <button class="btn-gray">Оставить заявку</button>
          <img
            class="banner-icons"
            src="@/assets/img/icons/banner-icons.svg"
            alt="banner text"
          />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "FullProduct",
  components: {
    WeeklyProductsList: () =>
      import("@/components/products/WeeklyProductsList.vue"),
    ShopsMap: () => import("@/components/maps/ShopsMap.vue"),
  },
};
</script>

<style scoped></style>
