<template>
  <div class="page-catalog">
    <div class="container">
      <div class="page-catalog__header">
        <div class="page-catalog__nav">
          <a href="#" class="main-page-link">Главная /</a>
          <a href="#" class="page-catalog-link">Каталог скидок</a>
        </div>
        <h2 class="title">Каталог скидок</h2>
        <button class="page-catalog-filter">Фильтр</button>
      </div>
      <div class="page-catalog__content">
        <div class="page-catalog__filter">
          <div class="page-catalog__filter-title">Фильтр:</div>

          <div class="page-catalog__filter-wrapper">
            <div class="page-catalog__category">
              <div class="page-catalog__category-name">Категория товара</div>
              <div class="page-catalog__list">
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="category-1" />
                  <label class="filter-label" for="category-1">
                    Молочные продукты
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="category-2" />
                  <label class="filter-label" for="category-2"> Бакалея </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="category-3" />
                  <label class="filter-label" for="category-3">
                    Кулинария
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="category-4" />
                  <label class="filter-label" for="category-4">
                    Кондитерские изделия
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="category-5" />
                  <label class="filter-label" for="category-5">
                    Чай, кофе, какао
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="category-6" />
                  <label class="filter-label" for="category-6">
                    Гастрономия
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="category-7" />
                  <label class="filter-label" for="category-7">
                    Консервы
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="category-8" />
                  <label class="filter-label" for="category-8">
                    Безалкогольные напитки
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="category-9" />
                  <label class="filter-label" for="category-9">
                    Детские товары
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="category-10" />
                  <label class="filter-label" for="category-10">
                    Другие товары
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="category-11" />
                  <label class="filter-label" for="category-11">
                    Товары для дома
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="category-12" />
                  <label class="filter-label" for="category-12">
                    Средства гигиены
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="category-13" />
                  <label class="filter-label" for="category-13">
                    Текстиль
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="category-14" />
                  <label class="filter-label" for="category-14">
                    Бытовая химия
                  </label>
                </div>
              </div>
            </div>

            <div class="page-catalog__category">
              <div class="page-catalog__category-name">Сортировка</div>
              <div class="page-catalog__sorting-wrapper">
                <div class="page-catalog__sorting-item">
                  <input type="checkbox" id="products-1" />
                  <label class="filter-label" for="products-1">
                    По новизне
                  </label>
                </div>
                <div class="page-catalog__sorting-item">
                  <input type="checkbox" id="products-2" />
                  <label class="filter-label" for="products-2">
                    Цена: по возрастанию
                  </label>
                </div>
                <div class="page-catalog__sorting-item">
                  <input type="checkbox" id="products-3" />
                  <label class="filter-label" for="products-3">
                    Цена: по убыванию
                  </label>
                </div>
                <div class="page-catalog__sorting-item">
                  <input type="checkbox" id="products-4" />
                  <label class="filter-label" for="products-4">
                    Скидка: по возрастанию
                  </label>
                </div>
                <div class="page-catalog__sorting-item">
                  <input type="checkbox" id="products-5" />
                  <label class="filter-label" for="products-5">
                    Скидка: по убыванию
                  </label>
                </div>
              </div>
            </div>

            <div class="page-catalog__category">
              <div class="page-catalog__category-name">Магазины</div>
              <div class="page-catalog__list">
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="shops-1" />
                  <label class="filter-label" for="shops-1">
                    Magnum Express
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="shops-2" />
                  <label class="filter-label" for="shops-2">
                    Magnum Super
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="shops-3" />
                  <label class="filter-label" for="shops-3">
                    Magnum Hyper
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="shops-4" />
                  <label class="filter-label" for="shops-4">
                    Magnum Daily
                  </label>
                </div>
              </div>
            </div>

            <div class="page-catalog__category">
              <div class="page-catalog__category-name">Тип скидки</div>
              <div class="page-catalog__list">
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="discounts-1" />
                  <label class="filter-label" for="discounts-1">
                    Убойные
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="discounts-2" />
                  <label class="filter-label" for="discounts-2">
                    Скидки недели
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="discounts-3" />
                  <label class="filter-label" for="discounts-3">
                    Выходного дня
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="discounts-4" />
                  <label class="filter-label" for="discounts-4">
                    Праздничные
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="discounts-5" />
                  <label class="filter-label" for="discounts-5">
                    От партнеров
                  </label>
                </div>
                <div class="page-catalog__list-item">
                  <input type="checkbox" id="discounts-6" />
                  <label class="filter-label" for="discounts-6">
                    Другие кастомные
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="page-catalog__filter-btns">
            <button class="catalog-filter-show">Показать товары</button>
            <button class="catalog-filter-reset">Сбросить все фильтры</button>
          </div>
        </div>

        <div class="page-catalog__products">
          <div class="page-catalog__sorting">
            <div class="page-catalog__found">
              <span>Найдено:</span>
              <span class="number-found-product">9</span>
              <span>товаров</span>
            </div>

            <div class="page-catalog__sorting-btn">Сортировка</div>

            <div class="page-catalog__sorting-modal is-active">
              <div class="page-catalog__sorting-title">
                Какие товары показать сначала?
              </div>

              <div class="page-catalog__sorting-wrapper">
                <div class="page-catalog__sorting-item">
                  <input type="checkbox" id="products-1" />
                  <label class="filter-label" for="products-1">
                    По новизне
                  </label>
                </div>
                <div class="page-catalog__sorting-item">
                  <input type="checkbox" id="products-2" />
                  <label class="filter-label" for="products-2">
                    Цена: по возрастанию
                  </label>
                </div>
                <div class="page-catalog__sorting-item">
                  <input type="checkbox" id="products-3" />
                  <label class="filter-label" for="products-3">
                    Цена: по убыванию
                  </label>
                </div>
                <div class="page-catalog__sorting-item">
                  <input type="checkbox" id="products-4" />
                  <label class="filter-label" for="products-4">
                    Скидка: по возрастанию
                  </label>
                </div>
                <div class="page-catalog__sorting-item">
                  <input type="checkbox" id="products-5" />
                  <label class="filter-label" for="products-5">
                    Скидка: по убыванию
                  </label>
                </div>
              </div>

              <button class="page-catalog__sorting-show">Показать</button>
            </div>
          </div>
          <div class="page-catalog__items">
            <product-card v-for="item in 9" :key="item" :item="item" />
            <button class="catalog-filter-more">Показать еще</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Catalog",
  components: {
    ProductCard: () => import("@/components/products/ProductCard.vue"),
  },
};
</script>

<style scoped></style>
