html,
body,
button,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
u,
i,
input,
dl,
dt,
dd,
ol,
optgroup,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
select,
summary,
textarea,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

button {
  background: transparent;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ol,
ul,
li {
  list-style: none;
}

img {
  display: block;
  border-style: none;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  height: 0;
}

textarea {
  overflow: auto;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

progress {
  vertical-align: baseline;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

form {
  margin: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: 'CeraPro Regular';
  src: url("../fonts/CeraPro/CeraPro-Regular.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CeraPro Medium';
  src: url("../fonts/CeraPro/CeraPro-Medium.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CeraPro Bold';
  src: url("../fonts/CeraPro/CeraPro-Bold.woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CeraPro Black';
  src: url("../fonts/CeraPro/CeraPro-Black.woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.btn {
  background-color: #F21066;
  border-radius: 15px;
  color: #fff;
  padding: 12px;
  width: 100%;
}

.btn-gray {
  color: #2d2f32;
  font-size: 19px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 15px;
  background-color: #ECECEC;
  font-family: "CeraPro Medium";
  transition: .2s color;
  white-space: nowrap;
}

.btn-gray:hover {
  color: #F21066;
}

.map-search-btn {
  width: 18px;
  height: 16px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  background-image: url("../img/icons/search-pink.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.map-filter-btn {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-width: 50px;
  background-color: #F21066;
  border-radius: 15px;
  background-image: url("../img/icons/filter.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.btn-show-cart {
  margin-top: 50px;
}

.btn-filter-apply,
.btn-filter-reset {
  width: 100%;
  font-size: 16px;
  font-family: "CeraPro Medium";
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.btn-filter-apply {
  color: #fff;
  background-color: #F21066;
}

.btn-filter-reset {
  color: #F21066;
  background-color: #fff;
  border: 1px solid #F21066;
  margin-top: 10px;
}

.btn-back {
  position: relative;
  padding-left: 40px;
  font-size: 18px;
  font-family: "CeraPro Medium";
}

.btn-back:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-40%) rotate(180deg);
  left: 0;
  width: 7px;
  height: 17px;
  background: url("../img/icons/arrow.svg") center center/contain no-repeat;
}

body,
button,
input {
  font-family: "CeraPro Regular";
  line-height: 1.3;
}

html::-webkit-scrollbar-thumb {
  background: #F21066;
}

html ::-webkit-scrollbar-thumb {
  background: #F21066;
  border-radius: 10px;
}

html ::-webkit-scrollbar {
  height: 4px;
  width: 14px;
}

.map-card__container::-webkit-scrollbar-thumb,
.address-card::-webkit-scrollbar-thumb,
.address-filters::-webkit-scrollbar-thumb {
  background: #ECECEC;
}

.map-card__container ::-webkit-scrollbar-thumb,
.address-card ::-webkit-scrollbar-thumb,
.address-filters ::-webkit-scrollbar-thumb {
  background: #ECECEC;
  border-radius: 10px;
}

.map-card__container ::-webkit-scrollbar,
.address-card ::-webkit-scrollbar,
.address-filters ::-webkit-scrollbar {
  height: 4px;
  width: 7px;
}

button {
  cursor: pointer;
}

.page {
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.title {
  font-size: 34px;
  font-family: "CeraPro Medium";
}

.color-green {
  color: #2CA836;
}

.color-orange {
  color: #FE8917;
}

.catalog-stocks-link {
  font-family: "CeraPro Medium";
}

.stocks-link {
  position: relative;
  font-family: "CeraPro Medium";
}

.stocks-link:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  height: 30px;
  width: 1px;
  background-color: #ccc;
}

.about-company-link {
  position: relative;
}

.logo-img-mobile {
  display: none;
  min-width: 43px;
  height: 25px;
}

.fb {
  display: block;
  background: url("../img/icons/fb.png") center center/contain no-repeat;
}

.insta {
  display: block;
  background: url("../img/icons/insta.png") center center/contain no-repeat;
}

.twitter {
  display: block;
  background: url("../img/icons/twitter.png") center center/contain no-repeat;
}

.tiktok {
  display: block;
  background: url("../img/icons/tiktok.png") center center/contain no-repeat;
}

.telegram {
  display: block;
  background: url("../img/icons/telegram.png") center center/contain no-repeat;
}

.vk {
  display: block;
  background: url("../img/icons/vk.png") center center/contain no-repeat;
}

.ok {
  display: block;
  background: url("../img/icons/ok.png") center center/contain no-repeat;
}

.coffee-category:before {
  background: url("../img/icons/coffee.svg") center center/contain no-repeat;
}

.meat-category:before {
  background: url("../img/icons/meat.svg") center center/contain no-repeat;
}

.fish-category:before {
  background: url("../img/icons/fish.svg") center center/contain no-repeat;
}

.juice-category:before {
  background: url("../img/icons/juice.svg") center center/contain no-repeat;
}

.bakery-category:before {
  background: url("../img/icons/bakery.svg") center center/contain no-repeat;
}

.arrow-up {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../img/icons/arrow-up.svg") center center/contain no-repeat;
  position: fixed;
  right: 50px;
  top: 50%;
  z-index: 3;
}

.header {
  padding-top: 40px;
  padding-bottom: 20px;
  box-shadow: 0px -7px 28px rgba(0, 0, 0, 0.15);
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 30px;
}

.header-top__left {
  display: flex;
  align-items: center;
}

.header-top__btn {
  position: absolute;
  top: 8px;
  left: -50px;
  width: 30px;
  height: 16px;
  background: url("../img/icons/menu-btn.svg") center center/contain no-repeat;
}

.header-top__magnum {
  color: #F21066;
  font-family: "CeraPro Medium";
  margin-left: 55px;
  margin-bottom: 10px;
  position: relative;
  white-space: nowrap;
}

.header-top__magnum:before,
.header-top__magnum:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
}

.header-top__magnum:before {
  width: 17px;
  height: 12px;
  left: -27px;
  background: url("../img/icons/bookmark.svg") center center/contain no-repeat;
}

.header-top__magnum:after {
  width: 12px;
  height: 12px;
  right: -22px;
  background: url("../img/icons/link.svg") center center/contain no-repeat;
}

.header-top__search {
  width: 540px;
  height: 50px;
  height: 50px;
  background: #F9F9F9;
  border-radius: 15px;
  padding-left: 50px;
  position: relative;
}

.header-top__search:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  background: url("../img/icons/search.svg") center center/cover no-repeat;
}

.header-top__search form {
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
}

.header-top__search input {
  color: #999;
  background-color: transparent;
  font-size: 18px;
  width: 100%;
  height: 100%;
  outline: none;
}

.header-top__search-btn {
  color: #999;
  min-width: 150px;
  height: 100%;
  white-space: nowrap;
  padding-left: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.header-top__search-btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 70%;
  background-color: #ececec;
}

.header-top__search-btn a {
  display: block;
}

.header-top__search-list {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 0px 0px 15px 15px;
  white-space: nowrap;
  padding-bottom: 10px;
}

.header-top__search-list.is-active {
  border: 1px solid #ECECEC;
  border-top: none;
  transition: max-height 2s ease-in-out;
  max-height: 200px;
  overflow: visible;
}

.header-top__search-list a {
  display: block;
  padding: 7px 20px;
}

.header-top__settings {
  display: flex;
  align-items: center;
  height: 50px;
  min-width: 160px;
  font-size: 18px;
  font-family: "CeraPro Medium";
  color: #F21066;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  box-shadow: 3px 4px 12px -6px rgba(84, 84, 84, 0.15);
  border-radius: 15px;
}

.header-top__address {
  position: relative;
  padding-left: 45px;
  padding-right: 15px;
  border-right: 1px solid #ECECEC;
  cursor: pointer;
}

.header-top__address:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  width: 15px;
  height: 20px;
  background: url("../img/icons/coordinates.svg") center center/contain no-repeat;
}

.header-top__language {
  cursor: pointer;
  padding-left: 17px;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.header-nav__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -15px;
}

.header-nav__item {
  white-space: nowrap;
  margin: 0 15px;
}

.header-nav__link {
  white-space: nowrap;
  transition: .2s color;
}

.header-nav__link:hover {
  color: #F21066;
}

.header-nav__about {
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 0 30px;
  z-index: 1;
  transition: all .3s;
  max-height: 0;
  overflow: hidden;
}

.header-nav__about.is-active {
  max-height: 400px;
  border: 1px solid #ECECEC;
  overflow: visible;
}

.header-nav__about a {
  display: block;
  margin: 12px 0;
}

.footer {
  padding: 40px 0;
}

.footer__logo img {
  width: 223px;
  height: 66px;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.footer__left {
  width: 640px;
  display: flex;
  justify-content: space-between;
}

.footer-item__title {
  font-size: 20px;
  font-family: "CeraPro Medium";
  color: #999;
}

.footer-item__list {
  margin-top: 10px;
  transition: .3s all;
}

.footer-item__list.is-active {
  max-height: 500px;
}

.footer-item__link {
  display: block;
  padding: 7px 0;
  max-width: 210px;
  transition: .3s color;
}

.footer-item__link:hover {
  color: #F21066;
}

.footer-info {
  width: 37%;
}

.footer-info__support {
  font-size: 18px;
  font-family: "CeraPro Medium";
  color: #a3a3a3;
}

.footer-info__phone {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-top: 15px;
}

.footer-info__phone a {
  padding-right: 7px;
  border-right: 1px solid #bbb;
}

.footer-info__phone span {
  padding-left: 7px;
}

.footer-info__links {
  display: flex;
  align-items: center;
  gap: 35px;
  gap: 35px;
  margin-top: 20px;
}

.footer-info__links a {
  display: block;
  width: 35px;
  height: 35px;
}

.footer-info__social-links {
  font-size: 18px;
  font-family: "CeraPro Medium";
  color: #a3a3a3;
  margin-top: 30px;
}

.footer-bottom {
  background-color: #ececec;
  padding: 17px 0;
  margin-bottom: 20px;
  color: #999;
  font-size: 18px;
}

.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-block__link {
  color: #F21066;
  font-size: 18px;
  padding-right: 18px;
  position: relative;
}

.header-block__link:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-60%);
  width: 7px;
  height: 16px;
  background: url("../img/icons/arrow.svg") center center/contain no-repeat;
}

.discount-catalog,
.products-week {
  padding-top: 50px;
  padding-bottom: 50px;
}

.discount-catalog__items,
.products-week__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
  row-gap: 15px;
  margin-top: 40px;
}

.discount-catalog .product-block,
.products-week .product-block {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(20% - 15px);
}

.product-block {
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #ECECEC;
  padding: 15px 12px;
  display: flex;
  flex-direction: column;
}

.product-block:hover {
  box-shadow: 3px 4px 18px -2px rgba(119, 119, 119, 0.15);
}

.product-block span {
  display: block;
}

.product-block__left {
  margin: 20px auto;
}

.product-block__header {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.product-block__stock {
  color: #000;
  font-family: "CeraPro Medium";
  font-size: 20px;
  position: relative;
  padding-left: 10px;
  z-index: 1;
}

.product-block__stock:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 68px;
  height: 32px;
  background: url("../img/icons/discount.svg") center center/contain no-repeat;
  z-index: -1;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.product-block__date {
  color: #999;
  font-size: 16px;
}

.product-block__img {
  height: 145px;
  width: 145px;
  height: 145px;
  margin: 0 auto;
}

.product-block__img img {
  min-width: 93px;
  min-height: 93px;
  margin: 0 auto;
}

.product-block__descr {
  height: 63px;
  font-size: 16px;
}

.product-block__price-wrapper {
  margin-top: 20px;
}

.product-block__old-price {
  color: #bbb;
  font-size: 16px;
  text-decoration: line-through;
}

.product-block__price {
  font-family: "CeraPro Bold";
  font-size: 24px;
  color: #F21066;
}

.menu {
  height: 60px;
  background-color: #555;
}

.index-hero__slider {
  margin-top: 20px;
}

.index-hero__slide {
  display: flex;
  width: 100%;
  height: 550px;
  border-radius: 15px;
  overflow: hidden;
}

.index-hero__slide-descr {
  background: #00A885;
  color: #fff;
  font-family: "CeraPro Black";
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 80px;
}

.index-hero__slide-title {
  font-size: 50px;
  line-height: 1.2;
}

.index-hero__slide-subtitle {
  font-size: 40px;
  margin-top: 30px;
  max-width: 250px;
  line-height: 1;
}

.index-hero__slide-link {
  display: inline-block;
  font-size: 16px;
  font-family: "CeraPro Medium";
  color: #F21066;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 0px rgba(84, 84, 84, 0.15);
  padding: 10px;
  margin-top: 70px;
}

.index-hero__slide-img {
  width: 50%;
  position: relative;
}

.index-hero__slide-img img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-hero__slide-img:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 736px;
  height: 392px;
  background: url("../img/index-slider/slide-descr.png") center center/contain no-repeat;
  z-index: 1;
}

.our-brands,
.own-production,
.stocks {
  padding-top: 50px;
  padding-bottom: 50px;
}

.our-brands__items,
.own-production__items,
.stocks__items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
}

.stocks__items {
  overflow: visible;
}

.stocks__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-size: 18px;
  font-family: "CeraPro Medium";
  color: #2d2f32;
  text-align: center;
  padding: 13px 35px;
  border-radius: 15px;
  background-color: #ececec;
  transition: .2s color;
}

.stocks__button:hover {
  color: #F21066;
}

.own-production .header-block__link {
  display: none;
}

.our-stores {
  padding-top: 20px;
  padding-bottom: 40px;
}

.our-stores .header-block__link {
  display: none;
}

.our-stores__list {
  margin-top: 40px;
}

.our-stores__buttons {
  display: none;
  margin-top: 25px;
  border: 1px solid #E8E8E8;
  border-radius: 10px;
  height: 35px;
  font-size: 14px;
}

.our-stores__button {
  width: 50%;
  border-radius: 10px;
  transition: .3s all;
}

.our-stores__button.is-active {
  color: #fff;
  background: #F50F64;
}

.our-stores__link {
  margin-right: 60px;
  font-size: 18px;
  white-space: nowrap;
  transition: .2s color;
}

.our-stores__link:last-child {
  margin-right: 0;
}

.our-stores__link:hover {
  color: #F21066;
}

.our-stores__link.is-active {
  color: #F21066;
}

.banner-vacancy {
  color: #fff;
  background-color: #F21066;
  padding: 25px 0;
  position: relative;
  z-index: 1;
  height: 120px;
  overflow: hidden;
}

.banner-vacancy .banner-text-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 333px;
}

.banner-vacancy__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-right: 120px;
}

.banner-vacancy__content .banner-icons {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.banner-vacancy__header {
  display: flex;
  align-items: center;
  max-width: 705px;
  width: 100%;
}

.banner-vacancy__header .banner-wings {
  position: absolute;
  top: -5px;
  left: -88px;
}

.banner-vacancy__header h2 {
  font-size: 34px;
  font-family: "CeraPro Bold";
}

.banner-vacancy__header span {
  display: block;
  font-family: "CeraPro Medium";
  font-size: 24px;
}

.map {
  position: relative;
  min-height: 630px;
  max-height: 630px;
}

.map .container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s all;
}

.map .container.is-active {
  background-color: #fff;
  height: 100%;
}

.map-card {
  max-width: 470px;
  min-height: 600px;
  max-height: 600px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
}

.map-card__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.map-card__search {
  width: 100%;
  position: relative;
}

.map-card__search input {
  font-size: 18px;
  width: 100%;
  outline-color: #F21066;
  padding-left: 60px;
}

.map-card__addresses {
  max-height: 500px;
  overflow: auto;
  margin-right: -10px;
  padding-right: 10px;
  margin-top: 20px;
}

.map-card__addresses.is-hidden {
  display: none;
}

.map-card__addresses.is-active {
  display: block !important;
}

.map-card__addresses::-webkit-scrollbar-thumb {
  background: #ECECEC;
}

.map-card__addresses ::-webkit-scrollbar-thumb {
  background: #ECECEC;
  border-radius: 10px;
}

.map-card__addresses ::-webkit-scrollbar {
  height: 4px;
  width: 5px;
}

.map-card__search-input {
  font-size: 18px;
  color: #999;
  background-color: #f9f9f9;
  border-radius: 15px;
  height: 50px;
}

.map-address {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #ECECEC;
  padding: 10px 0;
  cursor: pointer;
}

.map-address:last-of-type {
  border-bottom: none;
}

.map-address.is-hidden {
  display: none;
}

.map-address__delivery-type {
  color: #F21066;
  font-size: 14px;
  font-family: "CeraPro Medium";
}

.map-address__name {
  font-size: 18px;
  font-family: "CeraPro Medium";
  margin: 2px 0;
}

.map-address__location {
  color: #999;
  font-size: 14px;
}

.map-address__time {
  font-size: 14px;
  color: #999;
}

.address-card {
  height: 100%;
  padding: 20px;
  margin-top: 35px;
  display: none;
}

.address-card.is-active {
  display: block;
}

.address-card__descr {
  font-size: 18px;
  margin-top: 25px;
}

.address-card__delivery-type {
  color: #F21066;
  font-weight: bold;
  font-size: 18px;
}

.address-card__name {
  font-size: 20px;
  font-family: "CeraPro Medium";
  margin-top: 7px;
}

.address-card__location {
  color: #999;
  font-size: 18px;
  margin-top: 7px;
}

.address-card__time {
  display: block;
  font-size: 18px;
  color: green;
  margin-top: 7px;
}

.address-card__time span {
  color: #000;
  margin-right: 5px;
}

.address-categories {
  margin-top: 25px;
}

.address-categories span {
  display: block;
  font-size: 16px;
  padding: 5px 0;
  padding-left: 40px;
  position: relative;
}

.address-categories span:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 50%;
}

.address-filters {
  display: none;
  overflow: auto;
  max-height: 460px;
  margin-top: 45px;
}

.address-filters .btn-back {
  display: none;
}

.address-filters.is-active {
  display: block;
}

.address-filters.is-active::-webkit-scrollbar-thumb {
  background: #ECECEC;
}

.address-filters.is-active::-webkit-scrollbar-thumb {
  background: #ECECEC;
  border-radius: 10px;
}

.address-filters.is-active::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

.address-filters__filter {
  margin-top: 30px;
}

.address-filters__filter:first-of-type {
  margin-top: 0;
}

.address-filters__filter-title {
  font-weight: bold;
}

.address-filters__filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.address-filters__item {
  width: 50%;
  display: block;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  cursor: pointer;
  margin: 12px 0;
}

.address-filters__item input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  cursor: pointer;
}

.address-filters__item input[type="checkbox"] {
  display: none;
}

.address-filters__item label {
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}

.address-filters__item input[type="checkbox"] + label::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  display: inline-block;
  background-color: white;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  height: 22px;
  width: 22px;
  text-align: center;
  overflow: hidden;
  margin: 0 5px -2px 0;
}

.address-filters__item input[type="checkbox"]:checked + label::before {
  content: '\2714';
  color: #F21066;
  border-color: #F21066;
}

.address-filters__btns {
  margin-top: 40px;
}

#map {
  min-height: 630px;
  background-color: #444;
}

#map.is-hidden {
  display: none;
}

@media screen and (max-width: 1400px) {
  .header-top__left {
    padding-left: 45px;
  }

  .header-top__btn {
    left: 0;
  }

  .header-top__magnum {
    display: none;
  }

  .header-top__search {
    width: 460px;
  }
}

@media screen and (max-width: 1399px) {
  .arrow-up {
    display: none;
  }
}

@media (max-width: 1240px) {
  .btn-gray {
    font-size: calc(16px + 3 * ((100vw - 320px) / 920));
  }

  .btn-gray {
    padding-top: calc(10px + 5 * ((100vw - 320px) / 920));
  }

  .btn-gray {
    padding-bottom: calc(10px + 5 * ((100vw - 320px) / 920));
  }

  .btn-gray {
    padding-left: calc(15px + 4 * ((100vw - 320px) / 920));
  }

  .btn-gray {
    padding-right: calc(15px + 4 * ((100vw - 320px) / 920));
  }

  .map-filter-btn {
    min-width: calc(45px + 5 * ((100vw - 320px) / 920));
  }

  .map-filter-btn {
    min-height: calc(45px + 5 * ((100vw - 320px) / 920));
  }

  .title {
    font-size: calc(20px + 14 * ((100vw - 320px) / 920));
  }

  .header-top__search {
    height: calc(34px + 16 * ((100vw - 320px) / 920));
  }

  .header-top__search input {
    font-size: calc(14px + 4 * ((100vw - 320px) / 920));
  }

  .footer__logo img {
    width: calc(148px + 75 * ((100vw - 320px) / 920));
  }

  .footer__logo img {
    height: calc(43px + 23 * ((100vw - 320px) / 920));
  }

  .footer-item__title {
    font-size: calc(18px + 2 * ((100vw - 320px) / 920));
  }

  .footer-info__links {
    gap: calc(20px + 15 * ((100vw - 320px) / 920));
  }

  .footer-info__links a {
    width: calc(20px + 15 * ((100vw - 320px) / 920));
  }

  .footer-info__links a {
    height: calc(20px + 15 * ((100vw - 320px) / 920));
  }

  .footer-bottom {
    font-size: calc(16px + 2 * ((100vw - 320px) / 920));
  }

  .header-block__link {
    font-size: calc(12px + 6 * ((100vw - 320px) / 920));
  }

  .header-block__link {
    padding-right: calc(7px + 11 * ((100vw - 320px) / 920));
  }

  .header-block__link:after {
    width: calc(4px + 3 * ((100vw - 320px) / 920));
  }

  .header-block__link:after {
    height: calc(9px + 7 * ((100vw - 320px) / 920));
  }

  .discount-catalog,
  .products-week {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 920));
  }

  .discount-catalog,
  .products-week {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / 920));
  }

  .product-block__stock {
    font-size: calc(16px + 4 * ((100vw - 320px) / 920));
  }

  .product-block__stock {
    padding-left: calc(5px + 5 * ((100vw - 320px) / 920));
  }

  .product-block__stock:before {
    width: calc(52px + 16 * ((100vw - 320px) / 920));
  }

  .product-block__stock:before {
    height: calc(27px + 5 * ((100vw - 320px) / 920));
  }

  .product-block__img {
    width: calc(93px + 52 * ((100vw - 320px) / 920));
  }

  .product-block__img {
    height: calc(93px + 52 * ((100vw - 320px) / 920));
  }

  .product-block__descr {
    font-size: calc(14px + 2 * ((100vw - 320px) / 920));
  }

  .product-block__price {
    font-size: calc(18px + 6 * ((100vw - 320px) / 920));
  }

  .index-hero__slide {
    height: calc(380px + 170 * ((100vw - 320px) / 920));
  }

  .index-hero__slide-descr {
    padding-left: calc(0px + 80 * ((100vw - 320px) / 920));
  }

  .index-hero__slide-title {
    font-size: calc(26px + 24 * ((100vw - 320px) / 920));
  }

  .index-hero__slide-subtitle {
    font-size: calc(19px + 21 * ((100vw - 320px) / 920));
  }

  .index-hero__slide-subtitle {
    margin-top: calc(20px + 10 * ((100vw - 320px) / 920));
  }

  .index-hero__slide-link {
    margin-top: calc(40px + 30 * ((100vw - 320px) / 920));
  }

  .index-hero__slide-img:after {
    width: calc(0px + 736 * ((100vw - 320px) / 920));
  }

  .index-hero__slide-img:after {
    height: calc(0px + 392 * ((100vw - 320px) / 920));
  }

  .our-brands,
  .own-production,
  .stocks {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 920));
  }

  .our-brands,
  .own-production,
  .stocks {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / 920));
  }

  .our-brands__items,
  .own-production__items,
  .stocks__items {
    margin-top: calc(25px + 15 * ((100vw - 320px) / 920));
  }

  .our-stores {
    padding-bottom: calc(25px + 15 * ((100vw - 320px) / 920));
  }

  .our-stores__list {
    margin-top: calc(25px + 15 * ((100vw - 320px) / 920));
  }

  .banner-vacancy .banner-text-img {
    width: calc(190px + 143 * ((100vw - 320px) / 920));
  }

  .banner-vacancy__header h2 {
    font-size: calc(20px + 14 * ((100vw - 320px) / 920));
  }

  .banner-vacancy__header span {
    font-size: calc(16px + 8 * ((100vw - 320px) / 920));
  }

  .map-card__search input {
    font-size: calc(14px + 4 * ((100vw - 320px) / 920));
  }

  .map-card__search input {
    padding-left: calc(37px + 23 * ((100vw - 320px) / 920));
  }

  .address-card__delivery-type {
    font-size: calc(16px + 2 * ((100vw - 320px) / 920));
  }
}

@media screen and (max-width: 1239px) {
  .footer__menu {
    flex-direction: column;
  }

  .footer__left {
    width: auto;
    justify-content: flex-start;
    padding-bottom: 30px;
    gap: 80px;
  }

  .footer-info {
    border-top: 1px solid #E8E8E8;
    width: auto;
    padding-top: 25px;
  }
}

@media screen and (max-width: 1200px) {
  .header-nav {
    display: none;
  }

  .discount-catalog .product-block,
  .products-week .product-block {
    width: calc(25% - 15px);
  }

  .index-hero__slide-img:after {
    bottom: -10px;
  }

  .map-card {
    max-width: 500px;
    max-height: 600px;
  }

  .map-card__addresses {
    max-height: 480px;
  }

  .address-filters {
    max-height: 480px;
  }
}

@media screen and (max-width: 1024px) {
  .map-filter-btn {
    background-color: #F9F9F9;
    background-image: url("../img/icons/filter-white.svg");
  }

  .discount-catalog .product-block,
  .products-week .product-block {
    width: calc(33.33333% - 15px);
  }

  .banner-vacancy {
    height: auto;
  }

  .banner-vacancy__content {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0;
  }

  .banner-vacancy__content .banner-icons {
    display: none;
  }

  .banner-vacancy__header {
    padding-left: 40px;
  }

  .banner-vacancy__header .banner-wings {
    width: 40px;
    height: 42px;
    left: -10px;
  }

  .banner-vacancy .btn-gray {
    margin-top: 20px;
    margin-left: 40px;
  }

  .map {
    margin-top: 90px;
  }

  .map .container.card-opened {
    padding: 0;
    background-color: #fff;
    min-height: 720px;
  }

  .map .container {
    top: -90px;
    transform: translate(-50%, 0);
  }

  .map-card {
    background-color: initial;
    padding: 20px 0;
    max-width: none;
    max-height: none;
  }

  .map-card__nav {
    padding: 0 30px;
  }

  .map-card__addresses {
    display: none;
    padding: 0 30px;
    min-height: 600px;
  }

  .address-card {
    padding: 20px 30px;
    min-height: 600px;
  }

  .address-filters {
    max-height: 600px;
    padding: 0 30px;
  }

  .address-filters .btn-back {
    display: block;
    margin-bottom: 30px;
  }

  .address-filters__filter-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 1023px) {
  .header-top__btn {
    top: auto;
    bottom: 16px;
  }

  .header-top__search {
    width: 100%;
  }

  .header-top__settings {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-block {
    align-items: flex-end;
  }

  .header-block__link {
    padding-bottom: 3px;
  }

  .index-hero__slide {
    flex-direction: column;
    height: auto;
  }

  .index-hero__slide-descr {
    padding-left: 23px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 45px;
  }

  .index-hero__slide-link {
    display: none;
  }

  .index-hero__slide-img {
    height: 300px;
    height: 400px;
  }

  .index-hero__slide-img {
    width: 100%;
    max-height: 300px;
  }

  .index-hero__slide-img:after {
    right: 0;
    width: 736px;
    height: 392px;
    height: 100%;
  }

  .stocks__button {
    display: none;
  }

  .map-card__nav {
    padding: 0 15px;
  }

  .map-card__addresses {
    padding: 0 15px;
  }

  .address-card {
    padding: 20px 15px;
  }

  .address-filters {
    padding: 0 15px;
  }
}

@media screen and (max-width: 768px) and (max-width: 1240px) {
  .index-hero__slide-img {
    height: calc(180px + 220 * ((100vw - 320px) / 920));
  }

  .index-hero__slide-img:after {
    width: calc(300px + 436 * ((100vw - 320px) / 920));
  }

  .index-hero__slide-img:after {
    height: calc(180px + 212 * ((100vw - 320px) / 920));
  }
}

@media screen and (max-width: 620px) {
  .footer__left {
    flex-direction: column;
    gap: 10px;
  }

  .footer-item__title {
    position: relative;
    cursor: pointer;
  }

  .footer-item__title:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 16px;
    height: 7px;
    background: url("../img/icons/arrow-gray.svg") center center/contain no-repeat;
  }

  .footer-item__list {
    max-height: 0;
    overflow: hidden;
  }
}

@media screen and (max-width: 575px) {
  .map-search-btn {
    left: 10px;
  }

  .logo-img {
    display: none;
  }

  .logo-img-mobile {
    display: block;
  }

  .header {
    padding-top: 25px;
    padding-bottom: 12px;
  }

  .header-top {
    gap: 15px;
  }

  .header-top__btn {
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
  }

  .header-top__search {
    padding-left: 35px;
  }

  .header-top__search:before {
    width: 14px;
    height: 14px;
    left: 12px;
  }

  .header-top__search-btn {
    display: none;
  }

  .footer-bottom {
    padding: 10px 0;
  }

  .discount-catalog__items,
  .products-week__items {
    margin-top: 0;
    gap: 0;
  }

  .discount-catalog .product-block,
  .products-week .product-block {
    width: calc(100% - 15px);
  }

  .product-block {
    border: none;
    border-bottom: 1px solid #ececec;
    border-radius: 0;
    padding: 25px 0;
  }

  .product-block__content {
    display: flex !important;
    align-items: center;
    gap: 13px;
    padding-top: 20px;
  }

  .product-block__left {
    margin: 0;
  }

  .product-block__descr {
    height: 55px;
  }

  .our-brands__items,
  .own-production__items,
  .stocks__items {
    gap: 10px;
    overflow: auto;
  }

  .our-brands__item {
    min-width: 288px;
    padding-bottom: 10px;
  }

  .stocks__items {
    flex-direction: column;
  }

  .stocks__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .own-production__item {
    min-width: 288px;
    padding-bottom: 10px;
  }

  .our-stores__list {
    overflow: auto;
  }

  .our-stores__list::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .our-stores__list ::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .our-stores__buttons {
    display: flex;
  }

  .our-stores__link {
    font-size: 16px;
  }

  .banner-vacancy {
    padding: 10px 0;
  }

  .map-card__addresses {
    display: none;
  }

  .map-address {
    flex-direction: column;
    align-items: flex-start;
  }

  .map-address__time {
    margin-top: 5px;
  }

  .address-card__name {
    font-size: 18px;
  }

  .address-card__location {
    font-size: 16px;
  }

  .address-card__time {
    font-size: 16px;
  }

  .address-filters {
    display: none;
  }

  .address-filters__filter-wrapper {
    margin-top: 10px;
  }

  .address-filters__item {
    width: auto;
    font-size: 16px;
    margin: 10px 0;
  }
}