<template>
  <section class="our-brands">
    <div class="container">
      <div class="header-block">
        <h2 class="title">Наши бренды</h2>
        <router-link class="header-block__link" to="brands"
          >Смотреть все</router-link
        >
      </div>
      <div class="our-brands__items">
        <div class="our-brands__item">
          <img
            src="@/assets/img/our-brands/brand-1.png"
            alt="Brand image"
            width="380"
            height="410"
          />
        </div>
        <div class="our-brands__item">
          <img
            src="@/assets/img/our-brands/brand-2.png"
            alt="Brand image"
            width="380"
            height="410"
          />
        </div>
        <div class="our-brands__item">
          <img
            src="@/assets/img/our-brands/brand-3.png"
            alt="Brand image"
            width="380"
            height="410"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
</style>