mixin discount-catalog()

	+b.SECTION.discount-catalog
		.container
			+header-block('Каталог скидок', 'Смотреть все')
			+e.items
				+product-block('-37%', 'до 13.12', 'img/product/actimel.jpg', 'Кисломолочный напиток «DANONE» Actimel в ассортименте 100 мл', '215 тг', '183 тг')

				+product-block('-28%', 'до 13.12', 'img/product/carte-noire.jpg', 'Кофе «CARTE NOIRE» в ассортименте 95 г', '3 199 тг', '2 299 тг')

				+product-block('-5%', 'до 13.12', 'img/product/milk.jpg', 'Молоко «Айналайын» 6% 1 л', '630 тг', '559 тг')

				+product-block('-31%', 'до 13.12', 'img/product/papa.jpg', 'Колбаса «Папа может» мясная вареная 400 г', '3 199 тг', '2 299 тг')

				+product-block('-45%', 'до 13.12', 'img/product/tess.jpg', 'Чай «TESS» в ассортименте 20 ПАК', '608 тг', '335 тг')
