<template>
  <router-link
    :to="{ name: 'newsItem', params: { id: item.id } }"
    v-if="item"
    class="news__item"
  >
    <img :src="getNewsImg()" alt="News image" class="news__img" />
    <date class="news__date">
      {{ item.attributes.publishedAt }}
    </date>
    <h3 class="news__item-title">
      {{ item.attributes.Header }}
    </h3>
  </router-link>
</template>

<script>
export default {
  name: "NewsCard",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  mounted() {
    console.log(this.item?.attributes?.image?.data?.attributes?.url);
    console.log(this.item.attributes.publishedAt.toLocaleDateString());
  },
  methods: {
    getNewsImg() {
      const imgUrl = this.item?.attributes?.image?.data?.attributes?.url;
      return process.env.VUE_APP_API_URL + imgUrl;
    },
  },
};
</script>

<style lang="scss" scoped></style>
