<template>
  <router-link
    :to="{ name: 'newsItem', params: { id: item.id } }"
    tag="div"
    v-if="item"
    class="news-full__item"
  >
    <img :src="getNewsImg()" alt="News image" class="news-full__img" />
    <time class="news-full__time">
      {{ item.attributes.publishedAt }}
    </time>
    <h4 class="news-full__subtitle">
      {{ item.attributes.Header }}
    </h4>
  </router-link>
</template>

<script>
export default {
  name: "NewsAsideCard",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  mounted() {
    console.log(this.item?.attributes?.image?.data?.attributes?.url);
    console.log(this.item.attributes.publishedAt.toLocaleDateString());
  },
  methods: {
    getNewsImg() {
      const imgUrl = this.item?.attributes?.image?.data?.attributes?.url;
      return process.env.VUE_APP_API_URL + imgUrl;
    },
  },
};
</script>

<style lang="scss" scoped></style>
