.page-recipes
  +adaptive-value('padding-bottom', 70, 40, 1)
  border-bottom: 2px solid #ececec

  &__slide
    max-height: 600px
    max-width: 2560px
    margin: 0 auto
    overflow: hidden
    img
      width: 100%
      object-fit: cover
  &__slide-desktop
    +sm-block
      display: none
  &__slide-mobile
    display: none
    +sm-block
      display: block

  &__interesting
    +adaptive-value('margin-top', 70, 40, 1)

.any-taste
  +adaptive-value('margin-top', 75, 40, 1)
  &__header
    display: flex
    align-items: center
    justify-content: space-between
    .title
  &__link
    position: relative
    color: $main-color
    padding-right: 25px
    +xs-block
      display: none
    &:after
      content: ''
      position: absolute
      top: 50%
      right: 0
      transform: translateY(-50%)
      width: 7px
      height: 16px
      background: url('~@/assets/img/icons/arrow.svg') center center/contain no-repeat
  &__items
    +adaptive-value('margin-top', 40, 25, 1)
    +row-flex
    row-gap: 40px
  &__item
    +col
    +size(4)
    +size-md(6)
    +size-xs(12)
    +xs-block
      img
        width: 100%
  &__title
    +adaptive-value('font-size', 18, 14, 1)
    font-family: $main-font-medium
    +adaptive-value('margin-top', 17, 13, 1)
  &__info
    +adaptive-value('font-size', 14, 12, 1)
    +adaptive-value('margin-top', 16, 12, 1)
    padding-right: 40px
  &__info-wrapper
    display: flex
    justify-content: space-between
    +md-block
      justify-content: flex-start
      gap: 40px
  &__time
  &__time-title
    font-family: $main-font-medium
  &__time-amount
    +adaptive-value('margin-top', 10, 8, 1)
  &__complexity
  &__complexity-title
    font-family: $main-font-medium
  &__complexity-items
    display: flex
    gap: 7px
  &__complexity-item
    width: 17px
    height: 17px
    background: url('~@/assets/img/icons/complexity.svg') center center/contain no-repeat
    +adaptive-value('margin-top', 11, 6, 1)
    opacity: 0.3
    +sm-block
      width: 12px
      height: 12px
    &.is-active
      opacity: 1
  &__author
    display: flex
    align-items: center
    +adaptive-value('margin-top', 21, 17, 1)
    +adaptive-value('gap', 20, 14, 1)
  &__author-img
    max-width: 70px
    max-height: 70px
    min-width: 54px
    min-height: 54px
    +xs-block
      max-width: 53px
      max-height: 54px
  &__author-info
    max-width: 220px
  &__author-title
  &__author-name
    font-family: $main-font-medium
    +adaptive-value('margin-top', 8, 4, 1)
    +adaptive-value('margin-bottom', 8, 4, 1)
  &__author-position
  &__author-title
  &__more
    display: block
    margin-top: 30px
    +adaptive-value('font-size', 19, 16, 1)
    background-color: #ECECEC
    border-radius: 15px
    padding: 13px 35px
    margin-left: auto
    margin-right: auto
    font-family: $main-font-medium
    +xs-block
      display: none
  &__all-recipes
    display: none
    +xs-block
      width: 100%
      border-radius: 15px
      background-color: $main-color
      font-family: $main-font
      font-size: 16px
      color: #fff
      height: 50px
      display: flex
      align-items: center
      justify-content: center
      margin-top: 30px

// ITERESTING BLOCK
.interesting
  &__items
    +adaptive-value('margin-top', 40, 25, 1)
    +row-flex
    row-gap: 40px
  &__item
    +col
    +size(4)
    +size-md(6)
    +size-xs(12)
    +xs-block
      img
        width: 100%
  &__img
    border-radius: 15px
  &__title-wrapper
    display: flex
    font-size: 16px
  &__item-title
    font-family: $main-font-medium
    margin-top: 15px
    span
      font-family: $main-font
  &__item-type

  &__bottom
    display: flex
    gap: 10px
    +adaptive-value('gap', 17, 10, 1)
    +adaptive-value('margin-top', 50, 25, 1)
    +sm-block
      +scroll-hide
      margin-right: -15px
  &__bottom-item
    width: calc(100%/4)
    +sm-block
      width: auto
      min-width: 140px
  &__bottom-img
    border-radius: 15px
    +sm-block
      object-fit: cover
      min-height: 160px
  &__bottom-title
    font-family: $main-font-bold
    +adaptive-value('font-size', 16, 14, 1)
    margin-top: 15px
    span
      font-family: $main-font