.magnum-club
	+adaptive-value('padding-top', 40, 0, 1)
	+sm-block
		display: none

	&__content
		display: flex
		align-items: center
		height: 460px

	&__left
		color: #fff
		font-family: $main-font-black
		font-size: 33px
		width: 50%
		background-color: #000
		border-radius: 20px 0 0 20px
		overflow: hidden
		padding-left: 40px
		padding-right: 20px

	&__left-wrapper
		display: flex
		flex-direction: column
		justify-content: space-between
		+adaptive-value('min-height', 377, 70, 1)
		+adaptive-value('padding-top', 55, 0, 1)
		padding-bottom: 30px

	&__img
		width: 50%

	&__header
		display: flex
		align-items: center
		+adaptive-value('gap', 60, 20, 1)
		img
			+adaptive-value('width', 149, 60, 1)

	&__slogan
		+adaptive-value('font-size', 33, 14, 1)

	&__subtitle
		max-width: 420px
		+adaptive-value('font-size', 33, 0, 1)
		margin-top: 20px

	&__btns
		display: flex
		margin-top: 20px
		+adaptive-value('gap', 60, 20, 1)

	&__btn
		+adaptive-value('width', 149, 60, 1)

	&__img

// MAGNUM CLUB MOBILE block
.magnum-club-mobile
	display: none
	padding-top: 40px
	+sm-block
		display: block

	&__top
		display: flex
		gap: 45px
		text-align: center
		font-family: $main-font-bold

	&__slogan
		font-size: 18px
		white-space: nowrap
		margin-top: 17px

	&__descr
		color: #2d2f32
		font-size: 18px
		margin-top: 25px
		+xs-block
			font-size: 16px
			margin-top: 10px

	&__link
		display: block
		color: $main-color
		margin-top: 20px

	&__btns
		display: flex
		margin-top: 40px
		gap: 14px