<template>
  <div class="stocks-products stocks-products-full">
    <div class="stocks-products__img">
      <img src="@/assets/img/stocks/slide-2.jpg" alt="slide image" class="stocks-products-full__slide-desktop"/>
      <img src="@/assets/img/stocks/slide-2-mobile.jpg" alt="slide image" class="stocks-products-full__slide-mobile" height="480"/>
    </div>

		<div class="stocks-products-full__card">
			<div class="container">
				<div class="stocks-products-full__header">
					<h1 class="stocks-products-full__title title">Условия акции</h1>
					<div class="stocks-products-full__draw">Розыгрыш!</div>
					<div class="stocks-products-full__subtitle-desktop">Не упустите шанс выиграть призы от Орео! </div>
					<div class="stocks-products-full__subtitle-mobile">Участвуйте в акции и получите шанс выиграть 90 дней подписки Яндекс.Плюс!</div>
				</div>

				<div class="stocks-products-full__card-content">
					<ul class="stocks-products-full__list">
						<li class="stocks-products-full__item">Покупайте Орео в лимитированном дизайне с Бетменом* на сумму от 600 тенге.</li>
						<li class="stocks-products-full__item">Регистрируйте код и учувствуйте в розыгрыше моментального приза.</li>
						<li class="stocks-products-full__item">Главный приз – игровая консоль PS 5! Чем больше кодов, тем больше шансов выиграть! </li>
						<li class="stocks-products-full__item">Детали на сайте: https://oreo-promo.org/ru/</li>
						<span class="stocks-products-full__date">Период акции: 14.02.2022 г. – 13.03.2022 г</span>
						<a href="#" class="stocks-products-full__rules">Полные правила акции</a>
					</ul>
					<div class="stocks-products-full__img">
						<img src="@/assets/img/stocks/stock-bg.png" alt="stock image" width="315" height="356" class="stocks-products-full__img-desktop">
					</div>
				</div>
			</div>
		</div>

    <div class="container">
      <div class="stocks-products__content">

				<div class="stocks-products__suggestions">
					<h2 class="title">Другие интересные предложения</h2>
					<div class="stocks-products__suggestions-items">
						<a class="stocks__item" href="#">
							<img src="@/assets/img/stocks/stock-1.png" alt="stock image" width="380" height="320" />
						</a>
						<a class="stocks__item" href="#">
							<img src="@/assets/img/stocks/stock-2.png" alt="stock image" width="380" height="320" />
						</a>
						<a class="stocks__item" href="#">
							<img src="@/assets/img/stocks/stock-3.png" alt="stock image" width="380" height="320" />
						</a>
					</div>
				</div>
      </div>
		<!-- container -->
    </div>
  </div>

</template>

<script>
export default {
  name: "FullSpecial",
};
</script>

<style scoped></style>
