<template>
  <div class="stocks-products">
    <div class="stocks-products__img">
      <img src="@/assets/img/stocks/slide.jpg" alt="slide image" />
    </div>

    <div class="container">
      <div class="stocks-products__content">
        <div class="stocks-products__nav">
          <a href="#" class="main-page-link">Главная / </a>
          <a href="#" class="page-stocks-link">Акции / </a>
          <a href="#" class="page-stocks-product">«Январские скидки»</a>
        </div>

        <div class="stocks-products__items">
          <div class="header-block">
            <h2 class="title">Товары недели</h2>
          </div>

					<div class="products-week__items">
						<a class="product-block" href="#"><span class="product-block__header"><span class="product-block__stock">-31%</span><span class="product-block__date">до 13.12</span></span><span class="product-block__content"><span class="product-block__left"><span class="product-block__img"><img src="@/assets/img/product/papa.jpg" alt="image"/></span></span><span class="product-block__right"><span class="product-block__descr">Колбаса «Папа может» мясная вареная 400 г</span><span class="product-block__price-wrapper"><span class="product-block__old-price">3 199 тг</span><span class="product-block__price">2 299 тг</span></span></span></span></a>
						<a class="product-block" href="#"><span class="product-block__header"><span class="product-block__stock">-45%</span><span class="product-block__date">до 13.12</span></span><span class="product-block__content"><span class="product-block__left"><span class="product-block__img"><img src="@/assets/img/product/tess.jpg" alt="image"/></span></span><span class="product-block__right"><span class="product-block__descr">Чай «TESS» в ассортименте 20 ПАК</span><span class="product-block__price-wrapper"><span class="product-block__old-price">608 тг</span><span class="product-block__price">335 тг</span></span></span></span></a>
						<a class="product-block" href="#"><span class="product-block__header"><span class="product-block__stock">-28%</span><span class="product-block__date">до 13.12</span></span><span class="product-block__content"><span class="product-block__left"><span class="product-block__img"><img src="@/assets/img/product/carte-noire.jpg" alt="image"/></span></span><span class="product-block__right"><span class="product-block__descr">Кофе «CARTE NOIRE» в ассортименте 95 г</span><span class="product-block__price-wrapper"><span class="product-block__old-price">3 199 тг</span><span class="product-block__price">2 299 тг</span></span></span></span></a>
						<a class="product-block" href="#"><span class="product-block__header"><span class="product-block__stock">-5%</span><span class="product-block__date">до 13.12</span></span><span class="product-block__content"><span class="product-block__left"><span class="product-block__img"><img src="@/assets/img/product/milk.jpg" alt="image"/></span></span><span class="product-block__right"><span class="product-block__descr">Молоко «Айналайын» 6% 1 л</span><span class="product-block__price-wrapper"><span class="product-block__old-price">630 тг</span><span class="product-block__price">559 тг</span></span></span></span></a>
						<a class="product-block" href="#"><span class="product-block__header"><span class="product-block__stock">-37%</span><span class="product-block__date">до 13.12</span></span><span class="product-block__content"><span class="product-block__left"><span class="product-block__img"><img src="@/assets/img/product/actimel.jpg" alt="image"/></span></span><span class="product-block__right"><span class="product-block__descr">Кисломолочный напиток «DANONE» Actimel в ассортименте 100 мл</span><span class="product-block__price-wrapper"><span class="product-block__old-price">215 тг</span><span class="product-block__price">183 тг</span></span></span></span></a>
						<a class="product-block" href="#"><span class="product-block__header"><span class="product-block__stock">-31%</span><span class="product-block__date">до 13.12</span></span><span class="product-block__content"><span class="product-block__left"><span class="product-block__img"><img src="@/assets/img/product/papa.jpg" alt="image"/></span></span><span class="product-block__right"><span class="product-block__descr">Колбаса «Папа может» мясная вареная 400 г</span><span class="product-block__price-wrapper"><span class="product-block__old-price">3 199 тг</span><span class="product-block__price">2 299 тг</span></span></span></span></a>
						<a class="product-block" href="#"><span class="product-block__header"><span class="product-block__stock">-45%</span><span class="product-block__date">до 13.12</span></span><span class="product-block__content"><span class="product-block__left"><span class="product-block__img"><img src="@/assets/img/product/tess.jpg" alt="image"/></span></span><span class="product-block__right"><span class="product-block__descr">Чай «TESS» в ассортименте 20 ПАК</span><span class="product-block__price-wrapper"><span class="product-block__old-price">608 тг</span><span class="product-block__price">335 тг</span></span></span></span></a>
						<a class="product-block" href="#"><span class="product-block__header"><span class="product-block__stock">-28%</span><span class="product-block__date">до 13.12</span></span><span class="product-block__content"><span class="product-block__left"><span class="product-block__img"><img src="@/assets/img/product/carte-noire.jpg" alt="image"/></span></span><span class="product-block__right"><span class="product-block__descr">Кофе «CARTE NOIRE» в ассортименте 95 г</span><span class="product-block__price-wrapper"><span class="product-block__old-price">3 199 тг</span><span class="product-block__price">2 299 тг</span></span></span></span></a>
						<a class="product-block" href="#"><span class="product-block__header"><span class="product-block__stock">-5%</span><span class="product-block__date">до 13.12</span></span><span class="product-block__content"><span class="product-block__left"><span class="product-block__img"><img src="@/assets/img/product/milk.jpg" alt="image"/></span></span><span class="product-block__right"><span class="product-block__descr">Молоко «Айналайын» 6% 1 л</span><span class="product-block__price-wrapper"><span class="product-block__old-price">630 тг</span><span class="product-block__price">559 тг</span></span></span></span></a>
						<a class="product-block" href="#"><span class="product-block__header"><span class="product-block__stock">-37%</span><span class="product-block__date">до 13.12</span></span><span class="product-block__content"><span class="product-block__left"><span class="product-block__img"><img src="@/assets/img/product/actimel.jpg" alt="image"/></span></span><span class="product-block__right"><span class="product-block__descr">Кисломолочный напиток «DANONE» Actimel в ассортименте 100 мл</span><span class="product-block__price-wrapper"><span class="product-block__old-price">215 тг</span><span class="product-block__price">183 тг</span></span></span></span></a>
						<a class="product-block" href="#"><span class="product-block__header"><span class="product-block__stock">-31%</span><span class="product-block__date">до 13.12</span></span><span class="product-block__content"><span class="product-block__left"><span class="product-block__img"><img src="@/assets/img/product/papa.jpg" alt="image"/></span></span><span class="product-block__right"><span class="product-block__descr">Колбаса «Папа может» мясная вареная 400 г</span><span class="product-block__price-wrapper"><span class="product-block__old-price">3 199 тг</span><span class="product-block__price">2 299 тг</span></span></span></span></a>
						<a class="product-block" href="#"><span class="product-block__header"><span class="product-block__stock">-45%</span><span class="product-block__date">до 13.12</span></span><span class="product-block__content"><span class="product-block__left"><span class="product-block__img"><img src="@/assets/img/product/tess.jpg" alt="image"/></span></span><span class="product-block__right"><span class="product-block__descr">Чай «TESS» в ассортименте 20 ПАК</span><span class="product-block__price-wrapper"><span class="product-block__old-price">608 тг</span><span class="product-block__price">335 тг</span></span></span></span></a>
						<a class="product-block" href="#"><span class="product-block__header"><span class="product-block__stock">-28%</span><span class="product-block__date">до 13.12</span></span><span class="product-block__content"><span class="product-block__left"><span class="product-block__img"><img src="@/assets/img/product/carte-noire.jpg" alt="image"/></span></span><span class="product-block__right"><span class="product-block__descr">Кофе «CARTE NOIRE» в ассортименте 95 г</span><span class="product-block__price-wrapper"><span class="product-block__old-price">3 199 тг</span><span class="product-block__price">2 299 тг</span></span></span></span></a>
						<a class="product-block" href="#"><span class="product-block__header"><span class="product-block__stock">-5%</span><span class="product-block__date">до 13.12</span></span><span class="product-block__content"><span class="product-block__left"><span class="product-block__img"><img src="@/assets/img/product/milk.jpg" alt="image"/></span></span><span class="product-block__right"><span class="product-block__descr">Молоко «Айналайын» 6% 1 л</span><span class="product-block__price-wrapper"><span class="product-block__old-price">630 тг</span><span class="product-block__price">559 тг</span></span></span></span></a>
						<a class="product-block" href="#"><span class="product-block__header"><span class="product-block__stock">-37%</span><span class="product-block__date">до 13.12</span></span><span class="product-block__content"><span class="product-block__left"><span class="product-block__img"><img src="@/assets/img/product/actimel.jpg" alt="image"/></span></span><span class="product-block__right"><span class="product-block__descr">Кисломолочный напиток «DANONE» Actimel в ассортименте 100 мл</span><span class="product-block__price-wrapper"><span class="product-block__old-price">215 тг</span><span class="product-block__price">183 тг</span></span></span></span></a>
					</div>

					<button class="stocks-product-more">Показать еще</button>

					<div class="stocks-products__suggestions">
						<h2 class="title">Другие интересные предложения</h2>
						<div class="stocks-products__suggestions-items">
							<a class="stocks__item" href="#">
								<img src="@/assets/img/stocks/stock-1.png" alt="stock image" width="380" height="320" />
							</a>
							<a class="stocks__item" href="#">
								<img src="@/assets/img/stocks/stock-2.png" alt="stock image" width="380" height="320" />
							</a>
							<a class="stocks__item" href="#">
								<img src="@/assets/img/stocks/stock-3.png" alt="stock image" width="380" height="320" />
							</a>
						</div>
					</div>


        </div>
      </div>
		<!-- container -->
    </div>
		<shops-map />

		<section class="banner-vacancy">
			<img
				class="banner-text-img"
				src="@/assets/img/icons/banner-text.svg"
				alt="banner text"
			/>
			<div class="container">
				<div class="banner-vacancy__content">
					<div class="banner-vacancy__header">
						<img
							class="banner-wings"
							src="@/assets/img/icons/banner-wings.svg"
							alt="image"
							width="64"
							height="67"
						/>
						<h2>
							Построй свою карьеру вместе с Magnum!<span
								>Оставь заявку на сайте и работай с командой мечты</span
							>
						</h2>
					</div>
					<button class="btn-gray">Оставить заявку</button
					><img
						class="banner-icons"
						src="@/assets/img/icons/banner-icons.svg"
						alt="banner text"
					/>
				</div>
			</div>
		</section>
  </div>
</template>

<script>
export default {
  name: "SpecialProducts",
  components: {
    ShopsMap: () => import("@/components/maps/ShopsMap.vue"),
  },
};
</script>

<style scoped></style>
