<template>
  <div class="page-stocks">
    <div class="container">
      <div class="page-stocks__nav">
        <a href="#" class="main-page-link">Главная /</a>
        <a href="" class="page-stocks-link">Результаты поиска</a>
      </div>
      <div class="page-stocks__header">
        <h1 class="title">Акции</h1>
        <div class="page-stocks__tabs">
          <div class="page-stocks__tab is-active">Действующие</div>
          <div class="page-stocks__tab">Анонс</div>
          <div class="page-stocks__tab">Завершенные</div>
        </div>
      </div>
      <div class="page-stocks__items">
        <a class="stocks__item" href="#">
					<img src="@/assets/img/stocks/stock-1.png" alt="stock image" width="380" height="320" />
				</a>
				<a class="stocks__item" href="#">
					<img src="@/assets/img/stocks/stock-2.png" alt="stock image" width="380" height="320" />
				</a>
				<a class="stocks__item" href="#">
					<img src="@/assets/img/stocks/stock-3.png" alt="stock image" width="380" height="320" />
				</a>
        <a class="stocks__item" href="#">
					<img src="@/assets/img/stocks/stock-1.png" alt="stock image" width="380" height="320" />
				</a>
				<a class="stocks__item" href="#">
					<img src="@/assets/img/stocks/stock-2.png" alt="stock image" width="380" height="320" />
				</a>
				<a class="stocks__item" href="#">
					<img src="@/assets/img/stocks/stock-3.png" alt="stock image" width="380" height="320" />
				</a>
        <a class="stocks__item" href="#">
					<img src="@/assets/img/stocks/stock-1.png" alt="stock image" width="380" height="320" />
				</a>
				<a class="stocks__item" href="#">
					<img src="@/assets/img/stocks/stock-2.png" alt="stock image" width="380" height="320" />
				</a>
				<a class="stocks__item" href="#">
					<img src="@/assets/img/stocks/stock-3.png" alt="stock image" width="380" height="320" />
				</a>
      </div>
			<button class="page-stocks-more">Показать еще</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "AllSepcials",
};
</script>

<style scoped></style>
