<template>
  <div class="home">
    <main>
      <home-banner-slider />
      <discount-list />
      <section class="stocks">
        <div class="container">
          <div class="header-block">
            <h2 class="title">Акции</h2>
            <a class="header-block__link" href="#">Смотреть все</a>
          </div>
          <stocks-list v-if="stocks.data" :items="stocks.data" />

          <button
            v-if="!stocks.isLastPage"
            class="stocks__button"
            @click="nextStocksPage"
          >
            Показать еще
          </button>
        </div>
      </section>

      <weekly-products-list />

      <brands-list />

      <section class="magnum-club">
        <div class="container">
          <div class="magnum-club__content">
            <div class="magnum-club__left">
              <div class="magnum-club__left-wrapper">
                <div class="magnum-club__header">
                  <img
                    src="@/assets/img/magnum-club/title.jpg"
                    alt="title"
                    class="magnum-club__title"
                    width="149"
                    height="60"
                  />
                  <div class="magnum-club__slogan">ПОКУПАЙ <br />С ВЫГОДОЙ</div>
                </div>
                <div class="magnum-club__subtitle">
                  Ваша карта лояльности теперь всегда с Вами!
                </div>
                <div class="magnum-club__btns">
                  <a href="#" class="magnum-club__btn" target="_blank">
                    <img
                      src="@/assets/img/magnum-club/app-store.png"
                      alt="image"
                      width="149"
                      height="41"
                    />
                  </a>
                  <a href="#" class="magnum-club__btn" target="_blank">
                    <img
                      src="@/assets/img/magnum-club/google-play.png"
                      alt="image"
                      width="149"
                      height="41"
                    />
                  </a>
                </div>
              </div>
            </div>
            <div class="magnum-club__img">
              <img src="@/assets/img/magnum-club/desktop.png" alt="image" />
            </div>
          </div>
        </div>
      </section>

      <div class="magnum-club-mobile">
        <div class="container">
          <div class="magnum-club-mobile__top">
            <div class="magnum-club-mobile__title">
              <img
                src="@/assets/img/magnum-club/title-mobile.png"
                alt="title"
              />
              <div class="magnum-club-mobile__slogan">
                Покупай <br />с выгодой
              </div>
            </div>
            <div class="magnum-club-mobile__img">
              <img src="@/assets/img/magnum-club/mobile.png" alt="image" />
            </div>
          </div>
          <p class="magnum-club-mobile__descr">
            Пользуйтесь удобными сервисами приложения, копите бонусы и
            оплачивайте до 90% стоимости покупки
          </p>
          <a href="#" class="magnum-club-mobile__link">Подробнее</a>
          <div class="magnum-club-mobile__btns">
            <a href="#" class="magnum-club__btn" target="_blank">
              <img
                src="@/assets/img/magnum-club/app-store.png"
                alt="image"
                width="149"
                height="41"
              />
            </a>
            <a href="#" class="magnum-club__btn" target="_blank">
              <img
                src="@/assets/img/magnum-club/google-play.png"
                alt="image"
                width="149"
                height="41"
              />
            </a>
          </div>
        </div>
      </div>

      <section class="own-production">
        <div class="container">
          <div class="header-block">
            <h2 class="title">Собственное производство</h2>
            <a class="header-block__link" href="#"></a>
          </div>
          <div class="own-production__items">
            <a class="own-production__item" href="#"
              ><img
                src="@/assets/img/own-production/production-1.png"
                alt="production image"
                width="380"
                height="410" /></a
            ><a class="own-production__item" href="#"
              ><img
                src="@/assets/img/own-production/production-2.png"
                alt="production image"
                width="380"
                height="410" /></a
            ><a class="own-production__item" href="#"
              ><img
                src="@/assets/img/own-production/production-3.png"
                alt="production image"
                width="380"
                height="410"
            /></a>
          </div>
        </div>
      </section>
      <shops-map />
      <section class="banner-vacancy">
        <img
          class="banner-text-img"
          src="@/assets/img/icons/banner-text.svg"
          alt="banner text"
        />
        <div class="container">
          <div class="banner-vacancy__content">
            <div class="banner-vacancy__header">
              <img
                class="banner-wings"
                src="@/assets/img/icons/banner-wings.svg"
                alt="image"
                width="64"
                height="67"
              />
              <h2>
                Построй свою карьеру вместе с Magnum!<span
                  >Оставь заявку на сайте и работай с командой мечты</span
                >
              </h2>
            </div>
            <button class="btn-gray">Оставить заявку</button
            ><img
              class="banner-icons"
              src="@/assets/img/icons/banner-icons.svg"
              alt="banner text"
            />
          </div>
        </div>
      </section>
      <div class="modal"></div>
    </main>
  </div>
</template>

<script>
import { getPromos } from "@/api";

export default {
  name: "Home",
  components: {
    HomeBannerSlider: () => import("@/components/sliders/HomeBannerSlider.vue"),
    DiscountList: () => import("@/components/discount/DiscountList.vue"),
    WeeklyProductsList: () =>
      import("@/components/products/WeeklyProductsList.vue"),
    StocksList: () => import("@/components/stocks/StocksList.vue"),
    BrandsList: () => import("@/components/brands/BrandsList.vue"),
    ShopsMap: () => import("@/components/maps/ShopsMap.vue"),
  },
  data() {
    return {
      stocks: {
        page: 1,
        pageSize: 3,
        data: null,
        isLastPage: false,
      },
    };
  },
  created() {
    getPromos(this.stocks.page, this.stocks.pageSize).then((stocks) => {
      this.stocks.data = stocks.data;
    });
  },
  methods: {
    nextStocksPage() {
      this.stocks.page++;
      getPromos(this.stocks.page, this.stocks.pageSize).then((stocks) => {
        this.stocks.data = [...this.stocks.data, ...stocks.data];
        if (this.stocks.page === stocks.meta.pagination.pageCount) {
          this.stocks.isLastPage = true;
        }
      });
    },
  },
};
</script>
