<template>
  <div class="club">
		<!-- HERO -->
		<div class="club-hero">
			<div class="container">
				<div class="club-hero__descr">
					<img
						src="@/assets/img/club-page/logo.png"
						class="club-hero__logo"
						alt="logo"
						width="154"
						height="71"
					/>
					<div class="club-hero__slogan">ПОКУПАЙ <br>С ВЫГОДОЙ!</div>
					<div class="club-hero__info">
						Мобильное приложение программы лояльности
					</div>
					<div class="club-hero__download">
						<a href="#" class="magnum-club__btn" target="_blank">
							<img
								src="@/assets/img/club-page/app-store.png"
								alt="image"
								width="154"
								height="44"
							/>
						</a>
						<a href="#" class="magnum-club__btn" target="_blank">
							<img
								src="@/assets/img/club-page/google-play.png"
								alt="image"
								width="154"
								height="44"
							/>
						</a>
					</div>
				</div>
			</div>
			<img src="@/assets/img/club-page/main.jpg" alt="image" class="club-hero__img" />
		</div>

    <div class="container">

      <!-- GRID -->
      <div class="club-grid">
				<img src="@/assets/img/club-page/aside.png" alt="image" class="club-grid__img">
				<!-- Opprotunities -->
				<div class="club-opportunities">
					<h2 class="club-opportunities__title big-title">Больше возможностей с Magnum Club!</h2>
					<p class="club-opportunities__descr">Magnum club — программа для наших постоянных клиентов, с помощью которой мы благодарим вас за покупки начисляя бонусы и преподнося эксклюзивные предложения с учетом ваших интересов! </p>
				</div>
				<!-- Services -->
				<div class="club-services">
					<h2 class="club-services__title big-title">Пользуйся удобными сервисами приложения</h2>
					<div class="club-services__items">
						<div class="club-services__item">
							<img src="@/assets/img/club-page/service-1.svg" alt="icon" class="club-services__icon" width="61" height="61">
							<div class="club-services__info">
								<h3 class="club-services__subtitle">Проверка цен</h3>
								<div class="club-services__descr">Если сомневаешься в достоверности цены, просто проверь ее в приложении</div>
							</div>
						</div>
						<div class="club-services__item">
							<img src="@/assets/img/club-page/service-2.svg" alt="icon" class="club-services__icon" width="61" height="61">
							<div class="club-services__info">
								<h3 class="club-services__subtitle">Акции и промо</h3>
								<div class="club-services__descr">Участвуй в акциях, получай бонусы и ценные призы</div>
							</div>
						</div>
						<div class="club-services__item">
							<img src="@/assets/img/club-page/service-3.svg" alt="icon" class="club-services__icon" width="61" height="61">
							<div class="club-services__info">
								<h3 class="club-services__subtitle">Мои покупки</h3>
								<div class="club-services__descr">Отслеживай начисления и списывание бонусных баллов</div>
							</div>
						</div>
						<div class="club-services__item">
							<img src="@/assets/img/club-page/service-4.svg" alt="icon" class="club-services__icon" width="61" height="61">
							<div class="club-services__info">
								<h3 class="club-services__subtitle">Адреса магазинов</h3>
								<div class="club-services__descr">Посмотри на карте, какие магазины расположены ближе</div>
							</div>
						</div>
					</div>
				</div>
			</div>

      <!-- BONUS -->
      <div class="club-bonus">
				<!-- Image -->
				<img src="@/assets/img/club-page/club.png" alt="image" class="club-bonus__img" width="372" height="420">
				<!-- Items -->
				<div class="club-bonus__info">
					<h2 class="club-bonus__title big-title">Как получать бонусы</h2>
					<div class="club-bonus__items">
						<div class="club-bonus__item">
							<img src="@/assets/img/club-page/bonus-1.svg" alt="icon" class="club-bonus__icon">
							<div class="club-bonus__descr">Совершай покупки в торговой сети Magnum</div>
						</div>
						<div class="club-bonus__item">
							<img src="@/assets/img/club-page/bonus-2.svg" alt="icon" class="club-bonus__icon">
							<div class="club-bonus__descr">Предъявляй карту или приложение на кассе</div>
						</div>
						<div class="club-bonus__item">
							<img src="@/assets/img/club-page/bonus-3.svg" alt="icon" class="club-bonus__icon">
							<div class="club-bonus__descr">
								Получай бонусные баллы от 1% от суммы чека*
								<div class="club-bonus__note">*Максимальная сумма бонусных баллов за 1 чек = 2000. Бонусы не начисляются на алкогольную продукцию, табачные изделия и заменители грудного молока</div>
							</div>
						</div>
					</div>
				</div>
			</div>

      <!-- REGISTRATION -->
      <div class="club-registration">
				<img src="@/assets/img/club-page/cart.png" alt="image" class="club-registration__img">
				<div class="club-registration__info">
					<h2 class="club-registration__title big-title">Зарегистрируй пластиковую карту</h2>
					<div class="club-registration__descr">Получай персональные скидки, просматривай историю покупок, принимай участие в акциях!</div>
				</div>
				<button class="club-registration__button">Регистрация</button>
			</div>

      <!-- BENEFIT -->
      <div class="club-benefit">
				<div class="club-benefit__info">
					<h2 class="club-benefit__title big-title">ПОКУПАЙ С ВЫГОДОЙ!</h2>
					<div class="club-benefit__subtitle">Скачай бесплатное мобильное приложение</div>
					<div class="club-benefit__download">
						<a href="#" class="magnum-club__btn" target="_blank">
              <img
                src="@/assets/img/club-page/app-store.png"
                alt="image"
                width="154"
                height="44"
              />
            </a>
            <a href="#" class="magnum-club__btn" target="_blank">
              <img
                src="@/assets/img/club-page/google-play.png"
                alt="image"
                width="154"
                height="44"
              />
            </a>
					</div>
					<div class="club-benefit__links">
						<a href="#" class="club-benefit__link">Правила программы лояльности</a>
						<a href="#" class="club-benefit__link">Часто задаваемые вопросы</a>
						</div>
				</div>
				<img src="@/assets/img/club-page/phone.png" alt="image" class="club-benefit__img">
			</div>

			<!-- MODAL -->
			<div class="club-modal">
				<button class="club-modal__close"></button>
				<div class="club-modal__title">Проверьте вашу почту!</div>
				<div class="club-modal__descr">Информация о регистрации в программе лояльности предоставлена на mail... Если не получили письмо, пожалуйста, проверьте папку спам.</div>
				<img src="@/assets/img/club-page/modal.png" alt="modal" class="club-modal__img"><button class="club-modal__button">Переотправить письмо</button>
			</div>

			<!-- REGISTRATION -->
			<div class="club-registration-modal ">

				<button class="club-registration-modal__close"></button>
				<div class="club-registration-modal__title">Заполните анкету</div>
				<div class="club-registration-modal__descr">Заполните анкетные данные, чтобы использовать накапливаемые бонусы и участвовать в акциях</div>

				<div class="club-registration-modal__wrapper is-desktop">

					<div class="club-registration-modal__cart input">
						<input type="number" class="input-field" required>
						<label for="" class="input-label">Номер карты</label>
						<!-- <label for="" class="input-label error">Номер карты введен не верно</label>
						<label for="" class="input-label-error">Номер карты введен не верно</label> -->
					</div>

					<div class="club-registration-modal__number input">
						<input type="number" class="input-field" required>
						<label for="" class="input-label">Номер телефона</label>
					</div>

					<div class="club-registration-modal__gender">
						<div class="club-registration-modal__gender-title">Пол</div>
						<div class="club-registration-modal__gender-wrapper">
							<button class="club-registration-modal__male">Мужской</button>
							<button class="club-registration-modal__female">Женский</button>
						</div>
					</div>

					<div class="club-registration-modal__name input">
						<input type="text" class="input-field" required>
						<label for="" class="input-label">Имя</label>
					</div>

					<div class="club-registration-modal__firstname input">
						<input type="text" class="input-field" required>
						<label for="" class="input-label">Фамилия</label>
					</div>

					<div class="club-registration-modal__patronymic input">
						<input type="text" class="input-field" required>
						<label for="" class="input-label">Очество</label>
					</div>

					<div class="club-registration-modal__birthday input">
						<input type="number" class="input-field" required>
						<label for="" class="input-label">Дата рождения</label>
					</div>

					<div class="club-registration-modal__region input">
						<input type="text" class="input-field" required>
						<label for="" class="input-label">Регион</label>
					</div>

					<div class="club-registration-modal__email input">
						<input type="email" class="input-field" required>
						<label for="" class="input-label">E-mail</label>
					</div>

					<button class="club-registration-modal__button">Отправить</button>
				</div>

			</div>

    </div>
  </div>
</template>


<script>
export default {
  name: "MagnumClub",
};
</script>
