<template>
  <div class="search">
    <div class="container">
      <div class="search__nav">
        <a href="#" class="main-page-link">Главная / </a>
        <a href="#" class="search-link">Результаты поиска</a>
      </div>

      <div class="search__found">
        <div class="search__found-title">Найдено </div>
        <div class="search__found-amount">7</div>
      </div>

    </div>

    <discount-list />

    <div class="search__stocks">
      <div class="container">
        <h2 class="title">Акции <span class="search__stocks-amount">1</span></h2>
        <div class="search__stocks-items">
          <div class="search__stocks-item">
            <img src="@/assets/img/stocks/stock-1.png" alt="Stock image">
          </div>
          <div class="search__stocks-item">
            <img src="@/assets/img/stocks/stock-1.png" alt="Stock image">
          </div>
          <div class="search__stocks-item">
            <img src="@/assets/img/stocks/stock-1.png" alt="Stock image">
          </div>
          <div class="search__stocks-item">
            <img src="@/assets/img/stocks/stock-1.png" alt="Stock image">
          </div>
        </div>
      </div>
    </div>

    <div class="search__recipes">
      <div class="container">
        <h2 class="title">Рецепты <span class="search__recipes-amount">1</span></h2>

        <div class="recipe-block">

          <div class="recipe-block__img">
            <img src="@/assets/img/recipes/recipe-1.png" alt="Recipe image">
          </div>

          <div class="recipe-block__descr">
            <h3 class="recipe-block__title">Йогурт со сливками</h3>

            <div class="recipe-block__info">
              <div class="recipe-block__time">
                <div class="recipe-block__time-title">Будет готово через</div>
                <div class="recipe-block__time-amount">15 минут</div>
              </div>
              <div class="recipe-block__complexity">
                <div class="recipe-block__complexity-title">Сложность</div>
                <div class="recipe-block__complexity-amounts">
                  <button class="recipe-block__complexity-amount is-active"></button>
                  <button class="recipe-block__complexity-amount"></button>
                  <button class="recipe-block__complexity-amount"></button>
                  <button class="recipe-block__complexity-amount"></button>
                  <button class="recipe-block__complexity-amount"></button>
                </div>
              </div>
            </div>

            <div class="recipe-block__ingredients">
              <div class="recipe-block__ingredients-title">6 игредиентов</div>

              <div class="recipe-block__filter">
                <div class="recipe-block__filter-header">
                  <div class="recipe-block__filter-title">Ингридиенты</div>
                  <div class="recipe-block__portions">
                    <div class="recipe-block__portions-title">порции</div>
                    <div class="recipe-block__portions-quantity">
                      <button class="recipe-block__portions-minus">–</button>
                      <input type="text" value="2" class="recipe-block__portions-amount">
                      <button class="recipe-block__portions-plus">+</button>
                    </div>
                  </div>
                </div>
                <div class="recipe-block__filter-items">
                  <div class="recipe-block__filter-item">
                    <div class="recipe-block__filter-item-name">Темный шоколад</div>
                    <span></span>
                    <div class="recipe-block__filter-item-info">100 г</div>
                  </div>
                  <div class="recipe-block__filter-item">
                    <div class="recipe-block__filter-item-name">Сливочное масло</div>
                    <span></span>
                    <div class="recipe-block__filter-item-info">180 г</div>
                  </div>
                  <div class="recipe-block__filter-item">
                    <div class="recipe-block__filter-item-name">Коричневый сахар</div>
                    <span></span>
                    <div class="recipe-block__filter-item-info">200 г</div>
                  </div>
                  <div class="recipe-block__filter-item">
                    <div class="recipe-block__filter-item-name">Куриное яйцо</div>
                    <span></span>
                    <div class="recipe-block__filter-item-info">4 штуки</div>
                  </div>
                  <div class="recipe-block__filter-item">
                    <div class="recipe-block__filter-item-name">Пшеничная мука</div>
                    <span></span>
                    <div class="recipe-block__filter-item-info">100 г</div>
                  </div>
                  <div class="recipe-block__filter-item">
                    <div class="recipe-block__filter-item-name">Грецкие орехи</div>
                    <span></span>
                    <div class="recipe-block__filter-item-info">100 г</div>
                  </div>
                </div>
                <a href="" class="recipe-block__filter-btn">Перейти на страницу рецепта</a>
              </div>

            </div>

            <div class="recipe-block__author">
              <div class="recipe-block__author-wrapper">
                <div class="recipe-block__author-img">
                  <img src="@/assets/img/recipes/author-1.png" alt="Author image" width="70" height="80">
                </div>

                <div class="recipe-block__author-info">
                  <div class="recipe-block__author-recipe">Автор рецепта: </div>
                  <div class="recipe-block__author-name">Сибгатулин Ильнур</div>
                  <div class="recipe-block__author-position">кулинарный редактор «Готовим с Magnum»</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="search-result">
      <div class="container">
        <div class="search-result__content">
          <div class="search-result__header">
            <h1 class="search-result__title title">По вашему запросу ничего не найдено</h1>
            <div class="search-result__descr">Попробуйте скорректируйте ваш запрос или посмотрите в других разделах сайта</div>
          </div>
          <div class="search-result__img">
            <img src="@/assets/img/search/404.svg" alt="Page not found" width="368" height="368">
          </div>
        </div>
      </div>

      <discount-list />
    </div>
  </div>
</template>

<script>
export default {
  name: "SearchResult",
  components: {
    DiscountList: () => import("@/components/discount/DiscountList.vue"),
  },
};
</script>

<style scoped></style>
