<template>
  <div class="stocks__items">
    <router-link
      v-for="item in items"
      :key="item.id"
      :to="{ name: 'stockItem', params: { id: item.id } }"
      class="stocks__item"
      ><img
        :src="
          $helpers.getAbsolutePath(
            item.attributes.preview_desktop.data.attributes.url
          )
        "
        alt="stock image"
        width="380"
        height="320"
    /></router-link>
  </div>
</template>

<script>
export default {
  name: "StocksList",
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
};
</script>

