<template>
  <div v-if="newsById" class="news-full">
    <div class="container">
      <div class="news-full__nav">
        <a href="#" class="main-page-link">Главная / </a>
        <a href="#" class="news-company-link">Новости компании /</a>
        <a href="#" class="news-company-article">
          {{ newsById.attributes.Header }}
        </a>
      </div>

      <div class="header-block">
        <h1 class="title">Новости компании</h1>
      </div>

      <h2 class="news-full__title">
        {{ newsById.attributes.Header }}
      </h2>

      <div class="news-full__content">
        <div class="news-full__left">
          <div class="news-full__links">
            <time class="news-full__date">
              {{ newsById.attributes.publishedAt }}
            </time>
            <div class="news-full__social-links">
              <a class="fb" href="#" target="_blank"></a>
              <a class="insta" href="#" target="_blank"></a>
              <a class="telegram" href="#" target="_blank"></a>
              <a class="vk" href="#" target="_blank"></a>
              <a class="ok" href="#" target="_blank"></a>
            </div>
          </div>
          <img
            :src="getFullNewsImg()"
            alt="Article image"
            width="780"
            height="380"
            class="news-full__article-img"
          />
          <p class="news-full__text">
            {{ newsById.attributes.text }}
          </p>
        </div>

        <div class="news-full__right">
          <h3 class="news-full__read-more">Читайте также</h3>
          <news-aside-list :items="blockNews" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";
import { actionTypes } from "@/store/modules/news";

export default {
  name: "FullNews",
  data() {
    return {
      // fullNews: null,
      // news: null,
    };
  },
  components: {
    NewsAsideList: () => import("@/components/news/NewsAsideList.vue"),
  },
  computed: {
    ...mapState("newsModule", ["allNews", "newsById"]),
    ...mapGetters("newsModule", ["blockNews"]),
  },
  mounted() {
    this.getAllNews();
    this.getNewsBiId(this.$attrs.id);
  },
  methods: {
    ...mapActions("newsModule", {
      getAllNews: actionTypes.loadAllNews,
      getNewsBiId: actionTypes.loadNews,
    }),
    getFullNewsImg() {
      const imgUrl = this.newsById?.attributes?.image?.data?.attributes?.url;
      return process.env.VUE_APP_API_URL + imgUrl;
    },
  },
};
</script>

<style scoped></style>
