<template>
  <div class="news">
    <div class="container">
      <div class="header-block">
        <h1 class="title">Новости компании</h1>
        <button class="news__sorting-btn">Рубрика</button>

        <div class="news__filter is-active">
          <div class="news__filter-title">Рубрика</div>

          <div class="news__sorting-wrapper">
            <div class="news__sorting-item">
              <input type="checkbox" id="news-1" />
              <label class="filter-label" for="news-1"> Все новости </label>
            </div>
            <div class="news__sorting-item">
              <input type="checkbox" id="news-2" />
              <label class="filter-label" for="news-2">
                Новости от партнеров
              </label>
            </div>
            <div class="news__sorting-item">
              <input type="checkbox" id="news-3" />
              <label class="filter-label" for="news-3">
                Открытие магазинов
              </label>
            </div>
            <div class="news__sorting-item">
              <input type="checkbox" id="news-4" />
              <label class="filter-label" for="news-4"> Подкасты </label>
            </div>
          </div>

          <button class="news__sorting-show">Показать</button>
          <button class="news__sorting-reset">Сбросить все фильтры</button>
        </div>
      </div>

      <news-list v-if="news" :items="news" />
    </div>
  </div>
</template>

<script>
import { getAllNews } from "@/api/news";
export default {
  name: "PageNews",
  data() {
    return {
      news: [],
    };
  },
  components: {
    NewsList: () => import("@/components/news/NewsList.vue"),
  },
  mounted() {
    getAllNews().then((data) => {
      this.news = data;
      console.log(this.news);
    });
  },
};
</script>

<style scoped></style>
